.achivs-sect {
    padding-top: 6px;
    .insights__wrap_top {
        margin-bottom: 68px;
    }
}
.achivs {
    &__title {
        @extend %h2-title-inside;
    }
    
        // .achivs__tab-wrap

    &__tab-wrap {
        @extend %card-tabs-wrap;
        position: relative;
        opacity: 0;
        transform: translate(0);
        z-index: 1;
        .insights__card,
        .insights__card_event {
            margin-bottom: 30px;
        }
    }

    &__content {
        overflow: hidden;
        height: auto;
        max-height: 518px;
        transition: max-height 1s ease;
        &.open {
            max-height: 2068px;
        }
    }

    // .achivs__card

    &__card {
        @extend %article-card;
        margin-bottom: 30px;
        // .achivs__card_event

        &_event {
            .achivs__card-content {
                @extend %article-cart-without-img;
            }
        }
    }

    // .achivs__wrap-img

    &__wrap-img {
        @extend %article-card-img;
    }

    // .achivs__card-content

    &__card-content {
        @extend %article-cart-content-area;
    }

    // .achivs__wrap-date

    &__wrap-date {
        @extend %article-card-date;
    }

    // .achivs__date

    &__date {}

    // .achivs__tag

    &__tag {
        @extend %article-card-tag;
    }

    // .achivs__card-title

    &__card-title {
        @extend %article-cart-title;
    }

    // .achivs__link

    &__link {
        @extend %article-cart-link;
    }

    // .achivs__text

    &__text {
        @extend %article-card-text;
    }

    &__more {
        @extend %more-less-btn;
        margin-bottom: 50px;
    }
}
