.approach-sect {
    padding-top: 140px;
    padding-bottom: 131px;
}

.approach {
    @extend %dg;
    grid-template-columns: 1fr 1fr;
    // .approach__title

    &__title {
        @extend %h2-title-inside;
        margin-bottom: 57px;
    }

        // .approach__wrap

    &__wrap {
        // .approach__wrap_left

        &_left {
            position: relative;
            padding-right: 70px;
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 2px;
                height: 100%;
                top: 0;
                right: 24px;
                background-color: $soft_blue;
            }
        }

        // .approach__wrap_right

        &_right {
            padding-top: 1px;
            padding-left: 16px;
            p {
                @extend %read-text;
                @extend %link-in-text;
                color: $black;
                margin-bottom: 34px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    // .approach__text-intro

    &__text-intro {
        @extend %intro-text;
        @extend %link-in-text;
    }
}
