.rep-cases-sect {}

.rep-cases {

    // .rep-cases__title

    &__title {
        @extend %h2-title-inside;
        margin-bottom: 65px;
    }

    // .rep-cases__wrap

    &__wrap {}

    // .rep-cases__item

    &__item {
        margin-bottom: 8px;
        &.open {
            .rep-cases__subtitle {
                color: $black;
                background-color: $white;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

                i {
                    transform: rotate(45deg);

                    &:after,
                    &:before {
                        background-color: $black;
                    }
                }
            }
        }
    }

    // .rep-cases__subtitle

    &__subtitle {
        position: relative;
        cursor: pointer;
        @extend %df;
        @extend %aic;
        width: 100%;
        height: 88px;
        padding-left: 49px;
        @extend %h3-content-title;
        color: $white;
        background-color: $hard_blue;
        transition: all 1s ease;
        i {
            position: absolute;
            right: 35px;
            display: block;
            width: 16px;
            height: 16px;
            transition: all .5s ease;
            &:after,
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 50%;
                width: 16px;
                height: 2px;
                background-color: $white;
            }

            &:before {
                transform: rotate(90deg);
            }
        }
        &:hover {
            color: $black;
            background-color: $white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            i {
                transform: rotate(45deg);
                &:after,
                &:before {
                    background-color: $black;
                }
            }
        }
    }

    // .rep-cases__content

    &__content {
        display: none;
        padding-top: 39px;
        padding-left: 50px;
        padding-right: 510px;
        padding-bottom: 31px;
        p {
            @extend %read-text;
            @extend %link-in-text;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        ul,ol {
            padding-left: 32px;
            li {
                @extend %modal-list-item;
                @extend %after-block-list-item;
            }
        }
    }
}
