// Imports all for First Page
@import "first-page/header";
@import "first-page/insights";
@import "first-page/expertise";
@import "first-page/about-us";
.recognition-sect {
    padding-top: 133px;
    padding-bottom: 130px;
    &_about-page, &_trusted {
        .recognition__title {
            @extend %h2-title-inside;
        }
    }
    &_trusted {
        padding-top: 87px;
        padding-bottom: 93px;
    }
}
.recognition__title {
    @extend %h2-title;
    margin-bottom: 83px;
}
.key-law {
    
    &-sect {
        padding-bottom: 150px;
    }
    &__title {
        @extend %h2-title;
        margin-bottom: 62px;
    }
    &_single-practice {
        padding-top: 128px;
        padding-bottom: 146px;
        .key-law {
            &__title {
                @extend %h2-title-inside;
                margin-bottom: 66px;
            }
        }
        .layers {
            grid-column-gap: 73px;
        }
    }
    &__btn {
        @extend %viev-all;
        width: 292px;
        margin-top: 72px;
        &:hover {
            svg {
                rect {
                    stroke-dasharray: 0, 560;
                }
            }
        }
    }
}
.seo-text {
    cursor: pointer;
    &:hover {
        .seo-text__title {
            span {
                transform: rotate(180deg);
            }
        }
    }
    // .seo-text__wrap
    &__wrap {}
    // .seo-text__title
    &__title {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        @extend %mont-regular;
        @extend %fz-14;
        @extend %lh-16;
        @extend %ls-2;
        color: rgba(255,255,255,.5);
        // width: fit-content;
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 15px;
        span {
            position: relative;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin-left: 15px;
            transition: all .5s ease;
            &:after,
            &:before {
                position: absolute;
                content: '';
                display: block;
                background-color: rgba(255,255,255,.5);
            }
            &:after {
                width: 6px;
                height: 1px;
                top: 50%;
                left: 0;
                margin-top: -1px;
            }
            &:before {
                height: 6px;
                width: 1px;
                left: 50%;
                top: 0;
                margin-left: -1px;
            }
        }
    }
    // .seo-text__content
    &__content {
        display: none;
        p {
            @extend %minion-regular;
            @extend %fz-14;
            @extend %lh-16;
            @extend %ls-2;
            color: rgba(255,255,255,.5);
        }
    }
    // .seo-text__text
    &__text {
        
    }
}
.reviews {
    &-sect {
        overflow: hidden;
        padding-top: 40px;
        margin-bottom: 143px;
        .container {
            position: relative;
        }
        &_single-practice {
            margin-bottom: 0;
            padding-top: 134px;
            padding-bottom: 141px;
            background-color: $soft_blue;
            .review__content.scroll-cont {
                .simplebar-track.simplebar-horizontal {
                    background-color: $soft_blue;
                }
            }
            .reviews__title {
                i {
                    svg {
                        path {
                            fill: $hard_blue-01;
                        }
                    }
                }
            }
        }
    }
    // .reviews__wrap
    &__wrap {
        // .reviews__wrap_top
        &_top {
            margin-bottom: 31px;
        }
        // .reviews__wrap_bot
        &_bot {
        }
    }
    // .reviews__title
    &__title {
        position: relative;
        @extend %h2-title-inside;
        z-index: 2;
        i {
            display: block;
            position: absolute;
            z-index: -1;
            left: -23px;
            top: -45px;
            display: block;
            width: 102px;
            height: 69px;
            svg {
                width: inherit;
                height: inherit;
                path {
                    fill: $soft_blue;
                }
            }
        }
    }
}
@import '../layers-card';
@import 'first-page/contact-us';
@import 'careers/quote';
@import 'careers/jobs';
@import 'careers/job-about';
@import 'policy/policy';
@import 'about/approach';
@import 'about/rep-cases';
@import 'about/achives';
.about-contact-sect {
    padding-top: 140px;
    padding-bottom: 147px;
    .contact-hero__title {
        @extend %h2-title-inside;
        color: $white;
    }
    .contact-hero {
        padding: 0 305px;
        &__wrap-text {
            margin-top: 24px;
        }
    }
}
@import 'single-practce/service';
@import 'single-practce/overview';
.home-insights {
    &_single-practice {
        .insights {
            &__title {
                @extend %h2-title-inside;
            } 
        }
    }
}
@import 'lawyer/about-lawyer';
.rep-cases-sect {
    &_lawyer {
        padding-top: 173px;
        padding-bottom: 121px;
    }
}
.achivs-sect_lawyer {
    padding-bottom: 147px;
}
@import 'people/search-bar';
@import 'people/search-criteria';
@import 'people/search-result';
@import 'insights/topics';

.subscribe {
    padding-top: 138px;
    padding-bottom: 144px;

    &-sect {
        background-color: $soft_blue;
    }

    // .subscribe-hero__title

    &__title {
        @extend %h2-title-inside;
        text-align: center;
    }

    // .subscribe-hero__wrap-text

    &__wrap-text {
        padding: 0 226px;
        margin-top: 28px;
        margin-bottom: 40px;
    }

    // .subscribe-hero__text

    &__text {
        @extend %read-text;
        text-align: center;
    }

    // .subscribe-hero__btn

    &__btn {
        @extend %viev-all;
        &:hover {
            background-color: $white;
        }
    }
}
@import 'article/article-content';
.achivs-sect_article {
    padding-bottom: 143px;
}
@import 'contact/tab-title';
.error-page-sect {}

.error-page {
    &-sect {
        height: 100vh;
        width: 100%;
        @extend %df;
        @extend %aic;
        @extend %jcc;
    }
    // .error-page__title

    &__title {
        @extend %anglecia-Pro;
        font-size: rem(288);
        // line-height: rem(74);
        @extend %ttu;
        text-align: center;
    }

    // .error-page__text

    &__text {
        @extend %read-text;
        text-align: center;
        padding: 0 200px;
    }

    // .error-page__btn

    &__btn {
        @extend %viev-all;
        margin-top: 37px;
    }
}
.coockies-block {}

.container {}

.coockies {
    // .coockies-block {}
    &-block {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 54px;
        z-index: 9;
        @extend %df;
        @extend %aic;
        background-color: $soft_blue;
        transition: all 1s ease;
        z-index: 8;
        &.hide {
            opacity: 0;
            bottom: -100%;
        }
    }
    
    // .coockies__wrap

    &__wrap {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
    }

    // .coockies__text

    &__text {
        @extend %mont-regular;
        font-size: rem(14);
        @extend %link-in-text;
        br {
            display: none;
        }
    }

    // .coockies__btn

    &__btn {
        @extend %contact-us-btn;
        font-family: 'Montserrat-Regular', sans-serif;
        @extend %fz-14;
        width: 200px;
        height: 54px;
        background-color: $hard_blue;
        color: $white;
        &:hover {
            border-color: $hard_blue;
            color: $hard_blue;
        }
    }
}

.search-res-main {
    
    // .search-res-main__item

    &__item {
        padding-bottom: 50px;
        border-bottom: 1px solid $black_01;
        margin-bottom: 40px;
    }

    // .search-res-main__title

    &__title {
        @extend %anglecia-Pro;
        @extend %fz-24;
        @extend %lh-32;
        @extend %ls-6;
        @extend %ttu;
        a {
            color: $black;
            &:hover {
                color: $red;
            }
        }
        margin-bottom: 19px;
    }

    // .search-res-main__link

    &__link {}

    // .search-res-main__text

    &__text {
        @extend %minion-regular;
        @extend %fz-24;
        @extend %lh-32;
        @extend %ls-2;
        color: #1B1B1B;
    }
}
.tooltip {
    position: relative;
    display: inline-block;
    // width: 100%;
    // max-width: 200px;
    // height: 50px;
    // margin: 200px auto;
    // border: 1px solid #808080;
    margin-left: 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    svg {
        path {
            fill: $hard_blue;
            stroke: $hard_blue;
        }
    }
}

.tooltip:hover .tooltip-content {
    display: block;
    animation: tooltip 0.7s ease forwards;
}

.tooltip-content {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
    max-width: 350px;
    min-width: 300px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: $white;
    p {
        @extend %mont-regular;
        @extend %fz-14;
        @extend %lh-16;
        text-align: center;
    }
}

.tooltip-arrow {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 25px;
    overflow: hidden;
}

.tooltip-arrow:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 8px 8px 9px -4px rgba(0, 0, 0, 0.15);
}

@-moz-keyframes tooltip {
    100% {
        opacity: 1;
        bottom: calc(100% + 30px);
    }
}

@-webkit-keyframes tooltip {
    100% {
        opacity: 1;
        bottom: calc(100% + 30px);
    }
}

@-o-keyframes tooltip {
    100% {
        opacity: 1;
        bottom: calc(100% + 30px);
    }
}

@keyframes tooltip {
    100% {
        opacity: 1;
        bottom: calc(100% + 30px);
    }
}
.not-found {
    @extend %read-text;
    text-transform: none;
}
