// .expertise__wrapper
&__wrapper {

}
// .expertise__tab-item
&__tab-item {}
// .expertise__tab-title
&__tab-title {
    position: relative;
    @extend %mont-semiBold;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    @extend %ttu;
    color: $hard_blue-03;
    width: 100%;
    height: 64px;
    text-align: left;
    margin-bottom: 16px;
    padding: 20px 0 20px 49px;
    transition: all 1s ease;
    background-color: $white;
    box-shadow: inset 0 0 0 1px $hard_blue-03;
    &:before {
        position: absolute;
        content: '';
        display: block;
        left: 25px;
        top: 50%;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        background-color: $hard_blue-03;
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &.active {
        padding-left: 25px;
        color: $hard_blue;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        &:before {
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
            margin-top: 0;
            background-color: $hard_blue;
        }
    }
}

