// .expertise__content
&__content {
    position: relative;
    // max-height: 700px;
}

// .expertise__wrap-cont
&__wrap-cont {
    top: 0;
    pointer-events: none;
    opacity: 0;
    transform: translateX(50px);
    position: absolute;
    width: 100%;
    transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 400px;
    padding-right: 10px;
    &.active {
        top: 0;
        position: relative;
        pointer-events: all;
        transition-delay: .3s;
        opacity: 1;
        transform: translateX(0px);
    }
    .simplebar-track {
        &.simplebar-horizontal {
            background-color: #fff;
        }
    }
}

// .expertise__tab-cont
&__tab-cont {
    // @extend %dg;
    // grid-template-columns: width(384, 800) width(384, 800);
    // grid-column-gap: 60px;
}

// .expertise__one-side
&__one-side {
    padding-left: 28px;
    // .expertise__one-side_1
    &_1 {}

    // .expertise__one-side_2
    &_2 {}
}

// .expertise__side
&__side {
    @extend %dg;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

// .expertise__item
&__item {
    @extend %interactive-link;
}

// .expertise__link
&__link {
    @extend %minion-regular;
    @extend %fz-20;
    @extend %lh-40;
    @extend %ls-2;
    text-transform: capitalize;
    color: $black;
}