.job-about-sect {
    padding-bottom: 134px;
}

.job-about {

    // .job-about__wrap

    &__wrap {

        // .job-about__wrap_main

        &_main {
            @extend %dg;
            grid-template-columns: width(640, $decstop_container_width) width(488, $decstop_container_width);
            grid-column-gap: 56px;
        }

        // .job-about__wrap_left

        &_left {
            .job-about__content {
                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    top: 0;
                    right: -32px;
                    width: 2px;
                    height: 100%;
                    background-color: $soft_blue;
                }
            }
        }

        // .job-about__wrap_right

        &_right {
            padding-left: 32px;
        }
    }
     // .job-about__title

    &__title {
        @extend %h2-title-inside;
        margin-bottom: 50px;
    }

    // .job-about__content

    &__content {
        position: relative;
        .h-social {
            &__item {
                box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5);
                &:hover::before {
                    border-top-color: $black;
                    border-right-color: $black;
                }

                &:hover::after {
                    border-bottom-color: $black;
                    border-left-color: $black;
                }
            }
            &__link {
                &:hover {
                    svg {
                        path {
                            fill: $black;
                        }
                    }
                }
                svg {
                    path {
                        fill: rgba(0, 0, 0, .5);
                    }
                }
            }
        }
        p {
            @extend %read-text;
            margin-bottom: 32px;
            @extend %link-in-text;
        }
    }
}
