.jobs {

    &-sect {
        padding-bottom: 140px;
        &.jobs-sect-archive {
            padding-top: 140px;
        }
    }
    // .jobs__wrap

    &__wrap {

        // .jobs__wrap_top

        &_top {
            @extend .insights__wrap_top;
            margin-bottom: 68px;
        }

        // .jobs__wrap_bot

        &_bot {
            @extend %dg;
            grid-template-columns: width(384, $decstop_container_width) width(384, $decstop_container_width) width(384, $decstop_container_width);
            // grid-template-rows: 242px 242px 242px;
            grid-column-gap: 32px;
            grid-row-gap: 32px;
        }
    }
    @import 'job-tab/job-tab-title';
    @import 'job-tab/job-tab-content';
    
}

.job-tab {}
