.quote-career-sect {
    padding-top: 140px;
    padding-bottom: 142px;
}

.quote-career {

    // .quote-career__title

    &__title {
        @extend %h2-title-inside;
        margin-bottom: 58px;
    }

    // .quote-career__quote

    &__quote {
        @extend %quotes;
        max-width: 664px;
    }
}
