body {
    font-size: 16px;
    @extend %minion-regular;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    cursor: pointer;
    &:hover {
        // color: $color_link_hover;
    }
}
.breadcrumbs {
    @extend %df;
    @extend %aic;
    margin-top: 20px;
    color: $white;
    // .breadcrumbs__item

    &__item {
        
        // .breadcrumbs__item_prev

        &_prev {}

        // .breadcrumbs__item_sep

        &_sep {}

        // .breadcrumbs__item_cur

        &_cur {}
    }

    // .breadcrumbs__link
    span, a {
        @extend %mont-regular;
        @extend %fz-14;
        @extend %lh-16;
        @extend %ls-2;
    }
    a {
        color: $white;
        &:hover {
            opacity: 0.6;
        }
    }
}
.single-pr__bread {
    a {
        color: $black;
    }
}
.scroll-cont {
    // &::-webkit-scrollbar-button {
    //     background-image: url('');
    //     background-repeat: no-repeat;
    //     width: 0px;
    //     height: 0px
    // }

    // &::-webkit-scrollbar-track {
    //     background-color: transparent !important;
    // }

    // &::-webkit-scrollbar-thumb {
    //     -webkit-border-radius: 0px;
    //     border-radius: 0px;
    //     background-color: transparent !important;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //     background-color: transparent !important;
    // }

    // &::-webkit-resizer {
    //     background-image: url('');
    //     background-repeat: no-repeat;
    //     width: 0px;
    //     height: 0px
    // }

    // &::-webkit-scrollbar {
    //     width: 0px;
    // }
}