// ================ AngleciaProDisplay-Regular ================
@include font_face(AngleciaProDisplay-Regular, AngleciaProDisplay-Regular);

%anglecia-Pro {
    font-family: 'AngleciaProDisplay-Regular', sans-serif;
}
// ################ AngleciaProDisplay-Regular ################

// ================ MinionPro-It ==============
@include font_face(MinionPro-It, MinionPro-It);

%minion-It {
    font-family: 'MinionPro-It', sans-serif;
}
// ################### MinionPro-It ###################

// ================ MinionPro-Regular ==================
@include font_face(MinionPro-Regular, MinionPro-Regular);

%minion-regular {
    font-family: 'MinionPro-Regular', sans-serif;
}
// ################### MinionPro-Regular ################

// ================ MinionPro-Semibold ==================
@include font_face(MinionPro-Semibold, MinionPro-Semibold);

%minion-semibold {
    font-family: 'MinionPro-Semibold', sans-serif;
}
// ################### MinionPro-Semibold ################

// ================ Montserrat-Regular ==================
@include font_face(Montserrat-Regular, Montserrat-Regular);

%mont-regular {
    font-family: 'Montserrat-Regular', sans-serif;
}
// ################### Montserrat-Regular ################

// ================ Montserrat-SemiBold ==================
@include font_face(Montserrat-SemiBold, Montserrat-SemiBold);

%mont-semiBold {
    font-family: 'Montserrat-SemiBold', sans-serif;
}
// ################### Montserrat-SemiBold ################

// ====================== Font sizes ======================= 
%fz-96 {
    font-size: rem(96);
}
%fz-48 {
    font-size: rem(48);
}
%fz-36 {
    font-size: rem(36);
}
%fz-28 {
    font-size: rem(28);
}
%fz-24 {
    font-size: rem(24);
}
%fz-20 {
    font-size: rem(20);
}
%fz-18 {
    font-size: rem(18);
}
%fz-16 {
    font-size: rem(16);
}
%fz-14 {
    font-size: rem(14);
}
%fz-10 {
    font-size: rem(10);
}
//  ##################### Font sizes #####################

// ===================== Line height =====================
%lh-104 {
    line-height: rem(104)
}
%lh-56 {
    line-height: rem(56)
}
%lh-40 {
    line-height: rem(40)
}
%lh-32 {
    line-height: rem(32)
}
%lh-24 {
    line-height: rem(24)
}
%lh-22 {
    line-height: rem(22)
}
%lh-16 {
    line-height: rem(16)
}
//  ##################### Line height ####################

// ===================== letter spacing =====================
%ls-0 {
    letter-spacing: 0
}
%ls-2 {
    letter-spacing: 0.02em
}
%ls-4 {
    letter-spacing: 0.04em
}
%ls-6 {
    letter-spacing: 0.06em
}
//  ##################### letter spacing ####################
%ttu {
    text-transform: uppercase;
}
%h2-title {
    @extend %anglecia-Pro;
    @extend %fz-48;
    @extend %lh-56;
    @extend %ls-4;
    @extend %ttu;
}
%h2-title-inside {
    @extend %anglecia-Pro;
    @extend %fz-36;
    @extend %lh-40;
    @extend %ls-4;
    @extend %ttu;
    color: $black;
}
%h3-content-title {
    @extend %minion-semibold;
    @extend %fz-28;
    @extend %lh-32;
    @extend %ls-2;
    color: $black;
}
%modal-list-item {
    position: relative;
    @extend %minion-regular;
    @extend %fz-20;
    @extend %lh-40;
    @extend %ls-2;
    text-transform: capitalize;
    color: $black;
}
%after-block-list-item {
    &:after {
        position: absolute;
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        background-color: $hard_blue-03;
        left: -8 - 24 + px;
        top: 22px;
        margin-top: -5px;
    }
}
%content-list-title {
    @extend %anglecia-Pro;
    @extend %fz-20;
    @extend %lh-32;
    @extend %ls-6;
    @extend %ttu;
}
%footer-title {
    @extend %anglecia-Pro;
    @extend %fz-24;
    @extend %lh-32;
    @extend %ls-6;
    @extend %ttu;
}
%read-text {
    @extend %minion-regular;
    @extend %fz-24;
    @extend %lh-32;
    @extend %ls-2;
    color: $black;
}
%link-in-text {
    a {
        position: relative;
        color: inherit;
        transition: all .4s ease;
        z-index: 2;
        &:after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            width: 107%;
            height: 1px;
            bottom: 0;
            left: -3px;
            transform: rotate(180deg);
            background-color: $red;
            transition: height .5s ease-in-out;
        }
        &:hover {
            color: $white;
            &:after {
                height: 100%;
            }
        }
    }
}
%intro-text {
    @extend %minion-semibold;
    @extend %fz-28;
    @extend %lh-32;
    @extend %ls-2;
    color: $text_blue;
}
%quotes {
    position: relative;
    display: block;
    padding-left: 136px;
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 2px;
        display: block;
        width: 73px;
        height: 50px;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/quotes.svg);
    }
    p {
        position: relative;
        @extend %minion-It;
        @extend %fz-24;
        @extend %lh-32;
        @extend %ls-2;
        color: $text_black;
        &:before {
            position: absolute;
            content: '';
            display: block;
            width: 4px;
            height: 91%;
            background-color: $black;
            left: -31px;
            top: 9px;
        }
    }
}
%cart-writer-name {
    @extend %anglecia-Pro;
    @extend %fz-20;
    @extend %lh-32;
    @extend %ls-6;
    @extend %ttu;
    color: $black;
}
%hover-name {
    &:hover {
        color: $red;
    }
}
%cart-writer-positions {
    @extend %minion-regular;
    @extend %fz-16;
    @extend %lh-22;
    @extend %ls-2;
    color: $black;
}
%lawyer-page-name {
    @extend %anglecia-Pro;
    @extend %fz-24;
    @extend %lh-32;
    @extend %ls-6;
    @extend %ttu;
    color: $black;
}
%lawyer-page-position {
    @extend %minion-regular;
    @extend %fz-18;
    @extend %lh-22;
    @extend %ls-2;
    color: $black;
}
%card-contacts-title {
    @extend %minion-semibold;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    color: $black;
}
%card-contacts-items {
    @extend %minion-regular;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    color: $black;
}
%card-rec {
    @extend %minion-semibold;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    color: $black;
}
%card-rec-items {
    @extend %minion-regular;
    @extend %fz-16;
    @extend %lh-24;
    @extend %ls-2;
    color: $black;
}
%card-lawyers-practice-sectors-items {
    @extend %minion-regular;
    @extend %fz-20;
    @extend %lh-40;
    @extend %ls-2;
    text-transform: capitalize;
    color: $black;
}
%tag-link {
    display: block;
    width: 100%;
    height: 100%;
    @extend %mont-regular;
    @extend %fz-14;
    line-height: rem(21);
    // @extend %lh-20;
    @extend %ls-2;
    color: $black;
}
%select {
    @extend %mont-regular;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-2;
    color: $gray;
}
%search-filters-text {
    @extend %select;
    color: $black;
}
%search-filters-clear {
    @extend %mont-regular;
    @extend %fz-16;
    @extend %lh-24;
    @extend %ls-2;
    @extend %ttu;
    color: $hard_blue;
}
%article-date-text {
    @extend %mont-regular;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-2;
    color: $hard_blue;
}
%article-content-list-num {
    @extend %article-date-text;
    color:$gray;
}
%article-content-list {
    @extend %minion-regular;
    @extend %fz-24;
    @extend %lh-40;
    @extend %ls-2;
    color: $gray;
}
%article-content-h3 {
    @extend %minion-regular;
    @extend %fz-20;
    @extend %lh-40;
    @extend %ls-2;
    color: $gray;
}
%article-content-h4 {
    @extend %minion-regular;
    @extend %fz-18;
    @extend %lh-40;
    @extend %ls-2;
    color: $gray;
}
%article-block-text {
    margin-bottom: 47px;
    h2 {
        span {
            // @extend %article-content-list-num;
        }

        @extend %article-content-list;
        margin-bottom: 6px;
    }
    h3 {
        @extend %article-content-h3;
        margin-bottom: 6px;
    }
    h4 {
        @extend %article-content-h4;
        margin-bottom: 6px;
    }
    table {
        width: 100%;
        margin-bottom: 30px;
    }
    tr {
        border: 1px solid $black_04;
        td {
            border: 1px solid $black_04;
            padding: 15px;
            @extend %minion-regular;
            @extend %fz-20;
            @extend %lh-32;
            @extend %ls-2;
            color: $black;
        }
        &:first-child {
            td {
                @extend %fz-24;
                border-color: $black_06;
            }
        }
    }
    p {
        @extend %read-text;
        margin-bottom: 33px;
        &:last-child {
            margin-bottom: 0;
        }
        strong {
            font-weight: bold;
        }
    }
    blockquote {
        @extend %quotes;
        margin-bottom: 30px;
    }
    ul {
        padding-left: 32px;
        margin-bottom: 30px;
        li {
            @extend %modal-list-item;
            @extend %after-block-list-item;
            text-transform: none;
            margin-bottom: 6px;
        }
    }
    ol {
        padding-left: 32px;
        margin-bottom: 30px;
        li {
            // position: relative;
            @extend %modal-list-item;
            text-transform: none;
            margin-bottom: 6px;
            span {
                position: absolute;
                top: 21px;
                left: -32px;
                margin-top: -8px;
                @extend %article-content-list-num;
            }
        }
    }
}
%article-block-intro {
    margin-bottom: 18px;
    padding-bottom: 28px;
    border-bottom: 1px solid $hard_blue-01;
    h2 {
        span {
            // @extend %article-content-list-num;
        }

        @extend %article-content-list;
        margin-bottom: 6px;
    }
    h3 {
        @extend %article-content-h3;
        margin-bottom: 6px;
    }
    h4 {
        @extend %article-content-h4;
        margin-bottom: 6px;
    }
    p {
        @extend %intro-text;
        margin-bottom: 33px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
%article-block-quote {
    margin-bottom: 56px;

    h2 {
        span {
            // @extend %article-content-list-num;
        }

        @extend %article-content-list;
        margin-bottom: 6px;
    }

    blockquote {
        @extend %quotes;
    }
}
%tab-contact-map {
    @extend %minion-semibold;
    @extend %fz-28;
    @extend %lh-32;
    @extend %ls-2;
    color: $white_03;
}
%map-contacts-info {
    @extend %minion-semibold;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    color: $black;
}