.footer {
    padding-top: 135px;
    background-color: $black;
    color: $white;
    // .footer__wrap

    &__wrap {
        @extend %dg;
        grid-template-columns: width(311, $decstop_container_width) width(625, $decstop_container_width) width(280, $decstop_container_width);
        padding-bottom: 109px;
        // .footer__wrap_pl
        &_pl {}
        // .footer__wrap_qu
        &_qu {
            padding-left: 25px;
            // padding-right: 167px;
            margin-top: 31px;
        }
        // .footer__wrap_bot
        &_bot {
            @extend %df;
            @extend %aic;
            @extend %jcsb;
            padding: 17px 0 18px;
            border-top: 1px solid rgba(255,255,255,.2);
        }
    }
    // .footer__logo
    &__logo {}
    // .footer__logo-link
    &__logo-link {
        display: block;
        margin-top: 2px;
        margin-bottom: 39px;
    }
    // .footer__title
    &__title {
        @extend %footer-title;
    }
    // .footer__text
    &__text {
        @extend %minion-regular;
        @extend %fz-18;
        @extend %lh-24;
        @extend %ls-2;
        opacity: 0.7;
        margin-bottom: 8px;
    }
    // .footer__plasess
    &__plasess {}
    // .footer__item
    &__item {
        // .footer__item_pl
        &_pl {
            a {
                &:hover {
                    color: rgba(255,255,255,.7);
                }
            }
        }
        // .footer__item_wrp
        &_wrp {
            @extend %df;
            @extend %jcsb;
        }
        // .footer__item_qu
        &_qu {
            
        }
        // .footer__item_pol
        &_pol {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    // .footer__link
    &__link {
        @extend %minion-regular;
        @extend %fz-20;
        @extend %lh-40;
        @extend %ls-2;
        text-transform: capitalize;
        color: $white;
        transition: all .5s ease;
        z-index: 5;
    }
    // .footer__quick
    &__quick {
        .footer__wrapper {
            @extend %dg;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 92px;
        }
    }
    // .footer__wrapper
    &__wrapper {
        &_qu {
            li {
                @extend %interactive-link;
                
                &::after,
                &::before {
                    z-index: 0;
                }

                &::before {
                    background: rgba(255, 255, 255, .1);
                }

                &::after {
                    background: rgba(255, 255, 255, .1);
                }

                a,
                span,
                b {
                    @extend %minion-regular;
                    @extend %fz-20;
                    @extend %lh-40;
                    @extend %ls-2;
                    text-transform: capitalize;
                    color: $white;
                    transition: all .5s ease;
                    z-index: 5;
                    cursor: pointer;
                    &:after {
                        background-color: rgba(255, 255, 255, .3);
                    }
                }
            }
        }
    }
    // .footer__social
    &__social {
        .h-social {
            margin-top: 25px;
            @extend %fw;
        }
    }
    // .footer__copy
    &__copy {
        // .footer__copy_text
        &_text {
            @extend %mont-regular;
            @extend %fz-14;
            @extend %lh-16;
            @extend %ls-2;
        }
    }
    // .footer__other
    &__other {
        @extend %df;
    }
    // .footer__link-pl
    &__link-pl {
        @extend %mont-regular;
        @extend %fz-14;
        @extend %lh-16;
        @extend %ls-2;
        color: $white;
        &:hover {
            color: rgba(255,255,255,.7);
        }
    }
}

.container {}
