.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
%grid-for-card {
  @extend %dg;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
}
@media screen and (max-width: 1100px) {
  .article-content {
    padding-left: 0;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) {
  .container,
  .article-content {
    max-width: 100%;
    padding: 0 10px;
  }
}
@media screen and (min-width: 400px) {
  .container,
  .article-content {
    max-width: 400px;
  }
}
@media screen and (min-width: 500px) {
  .container,
  .article-content {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .container,
  .article-content {
    max-width: 735px;
  }
}
@media screen and (min-width: 1050px) {
  .container,
  .article-content {
    max-width: 1050px;
  }
}
@media screen and (min-width: 1100px) {
  .article-content {
    width: 100%;
    max-width: 100%;
  }
  .article-sect .article-content,
  .article-content {
    padding-left: 5%;
  }
}
@media screen and (min-width: 1200px) {
  
  .container {
    max-width: 1216px
  }
}