.layers {
    @extend %dg;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 82px;
    grid-row-gap: 48px;
    // .layers__item
    &__item {
        position: relative;
        height: 457px;
    }
    // .layers__wrap
    &__wrap {
        // .layers__wrap_img
        &_img {}
        // .layers__wrap_position
        &_position {}
    }
    // .layers__img
    &__img {
        width: 280px;
        max-width: 280px;
        height: 268px;
        max-height: 268px;
        a {
            width: inherit;
            height: inherit;
            img {
                width: inherit;
                height: inherit;
            }
        }
    }
    // .layers__name
    &__name {
        @extend %anglecia-Pro;
        @extend %fz-24;
        @extend %lh-32;
        @extend %ls-6;
        @extend %ttu;
        margin-top: 27px;
    }
    // .layers__link
    &__link {
        color: $black;
        transition: all .5s ease;
        &:hover {
            color: $red;
        }
    }
    // .layers__content
    &__content {
        margin-top: 7px;
    }
    // .layers__item-position
    &__item-position {
        @extend %minion-regular;
        @extend %fz-18;
        @extend %lh-24;
        @extend %ls-2;
        color: $black;
    }
    // .layers__btns
    &__btns {
        @extend %df;
        @extend %df;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    // .layers__linked 
    &__linked {
        @extend %v-card;
        width: 63px;
        margin-right: 16px;
        text-transform: none;
        i {
            svg {
                width: 20px;
                height: 10px;
            }
        }
        &:hover {
            i {
                transform: translateY(-153%);
            }
        }
    }
    // .layers__v-card
    &__v-card {
        @extend %v-card;
        margin-right: 16px;
    }
    // .layers__pdf
    &__pdf {
        @extend %layer-card-pdf;
    }
    // .layers__svg
    &__svg {
        width: 16px;
        height: 16px;
    }
    // .layers__path
    &__path {
        fill: $black;
    }
}