
.modals, .job-modal {
    transform: translateX(100%);
    transition: all 1s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: $soft_blue;
    z-index: 999;
    overflow: hidden;
    &:after {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 100vh;
        background-color: $hard_blue;
        top: 0;
        left: 0;
        transition: width 1s ease;
    }
    &.active,
    &.active-static,
    &.active-sub,
    &.active-dow {
        transform: translateX(0);
        .modal-nav {

            // .modal-nav__logo
            &__logo {
                opacity: 1;
                transform: translateY(0);
            }

            // .modal-nav__wrap
            &__wrap {

                // .modal-nav__wrap_btn
                &_btn {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            // .modal-nav__close
            &__close {
                transform: rotate(45deg);
            }
        }
    }
    &.active {
        
        .modal-job,
        .sub-practice {
            &__content {
                transform: scaleX(1);
            }
            &__wrap {
                transform: translateY(0);
                opacity: 1;

            }
        }
    }
    &.active-static {
        &:after {
            width: width((463 - 60));
        }
        .modal-nav {
            .logo__img {
                fill: $white;
            }
        }
        .modal-static {
            position: relative;
            transform: scale(1);
            // z-index: 0;
            &:after {
                width: width((463 - 60));
            }
        }
        .modal-ex {
            &__title {
                transform: translateY(0);
                opacity: 1;
            }
            &__tabs-title {
                transform: translateY(0);
                opacity: 1;
            }
            &__tabs-content {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    &.active-sub {
        .modal-sub {
            position: relative;
            transform: scale(1);
            &__title,
            &__wrap-input,
            &__item {
                opacity: 1;
                transform: translateY(0) skew(0deg, 0deg);
            }
        }
    }
    &.active-dow {
        .modal-dow {
            position: relative;
            transform: scale(1);
            &__title,
            &__wrap-input,
            &__text {
                opacity: 1;
                transform: translateY(0) skew(0deg, 0deg);
            }
        }
    }
}

.modal-page {
    @extend .modals;
    height: auto;
    min-height: 100vh;
    transform: translateX(0);
    position: relative;
    z-index: 0;

    .modal-ex__wrap-title {
        margin-top: 130px;
    }

    .sub-practice {
        &__wrapper {
            z-index: 5;
            opacity: 1;
            transform: translateY(0);

        }

        &__content {
            padding-top: 90px;
            transform: scaleX(1);
        }

        &__wrap {
            transform: translateY(0);
            opacity: 1;

        }
        &__item {
            width: 100%;
        }
    }
}

.modal-nav {
    position: relative;
    z-index: 5;
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    padding-top: 41px;
    // .modal-nav__logo
    .logo {

        // .logo__img

        &__img {
            transition: fill 1s ease .8s;
            fill: $red;
        }
    }
    &__logo {
        transition: transform 1s ease,
        opacity 1s ease;
        transition-delay: .8s;
        opacity: 0;
        transform: translateY(-30px);
    }

    // .modal-nav__logo-link

    &__logo-link {}

    // .modal-nav__wrap

    &__wrap {

        // .modal-nav__wrap_btn

        &_btn {
            transition: transform 1s ease,
            opacity 1s ease;
            transition-delay: 1.2s;
            opacity: 0;
            transform: translateX(-30px);
        }
    }

    // .modal-nav__close

    &__close {
        @extend .nav-burger__btn;
        transition: transform 1s ease;
        transition-delay: 1.5s;
        span {

            &:after,
            &:before {
                border-color: $black; 
            }
        }
        &:hover {
            span {

                &:after,
                &:before {
                    background-color: transparent;
                }
            }
        }

        &:active {
            span {

                &:after,
                &:before {
                    background-color: $black;
                }
            }
        }
        // @extend .btn-menu-close;
    }
}



.modal-job {
    // .modal-job__content

    &__content {
        transform: scaleX(0);
        @extend %dg;
        grid-template-columns: width(800, $decstop_container_width) width(384, $decstop_container_width);
        grid-column-gap: 32px;
    }
    
    // .modal-job__wrapper
    &__wrapper {
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        margin-top: 16px;
        padding-top: 28px;
        z-index: -5;
        // overflow-y: scroll;
        border-right: 1px solid $hard_blue-01;
        height: 542px;
        // max-height: 492px;
        opacity: 0;
        transform: translateY(30px);
        transition: all .5s ease;
        &.active-cont {
            z-index: 5;
            opacity: 1;
            transform: translateY(0);
            transition-duration: 1s;
            transition-delay: .5s;
        }
    }

    // .modal-job__wrap

    &__wrap {
        transform: translateY(30px);
        opacity: 0;
        transition: all 1s ease;
        // .modal-job__wrap_left

        &_left {
            position: relative;
            padding-top: 35px;
            height: 591px;
            transition-delay: 1.8s;
        }

        // .modal-job__wrap_right

        &_right {
            transition-delay: 2s;
        }
    }

    // .modal-job__title

    &__title {
        @extend %h2-title-inside;
    }

    // .modal-job__text-content

    &__text-content {
        margin-top: 34px;
        h2 {
            @extend %minion-regular;
            @extend %fz-28;
            @extend %lh-40;
            @extend %ls-2;
            margin-bottom: 11px;
        }
        h3 {
            @extend %minion-regular;
            @extend %fz-24;
            @extend %lh-40;
            @extend %ls-2;
            color: $black;
            margin-bottom: 11px;
        }
        ul {
            padding-left: 33px;
            margin-bottom: 20px;
            li {
                @extend %modal-list-item;
                @extend %after-block-list-item;
                text-transform: none;
            }
        }
        ol {
            li {
                position: relative;
                @extend %modal-list-item;
                padding-left: 33px;
                margin-bottom: 20px;

                span {
                    position: absolute;
                    top: 21px;
                    left: 0;
                    margin-top: -8px;
                    @extend %article-content-list-num;
                }
            }
        }
        p {
            @extend %read-text;
            @extend %fz-20;
            @extend %link-in-text;
            margin-bottom: 32px;
            padding-right: 15px;
        }
    }

    // .modal-job__offers

    &__offers {
        position: relative;
        margin-top: 51px;
        padding-right: 7px;
        height: 553px;
        .simplebar-scrollbar {
            width: 2px;
        }
    }

    // .modal-job__item

    &__item {
        @extend %transperent-jobs;
    }
    // .modal-job__position

    &__position {
        @extend %minion-regular;
        @extend %fz-18;
        @extend %lh-24;
        @extend %ls-2;
        color: $black;
    }

    // .modal-job__wrap-city

    &__wrap-city {
        @extend %btn-cards-plus;
        padding-left: 31px;
        padding-top: 7px;
        height: 42px;
        &:after,
        &:before {
            bottom: 20px;
        }

        &:hover {
            background-color: transparent;
        }
    }

    // .modal-job__city

    &__city {
        @extend .jobs__city;
        padding-left: 0;
    }
}
.sub-practice {
    &__content {
        @extend .modal-job__content;
        grid-template-columns: width(800, $decstop_container_width) width(389, $decstop_container_width);
    }
    
    // .modal-job__wrapper
    &__wrapper {
        @extend .modal-job__wrapper;
    }

    // .modal-job__wrap

    &__wrap {
        @extend .modal-job__wrap;
        // .modal-job__wrap_left

        &_left {
            @extend .modal-job__wrap_left;
        }

        // .modal-job__wrap_right

        &_right {
            @extend .modal-job__wrap_right;
        }
    }

    // .modal-job__title

    &__title {
        @extend %h2-title-inside;
    }

    // .modal-job__text-content

    &__text-content {
        @extend .modal-job__text-content;
        // margin-top: 34px;
        // h3 {
        //     @extend %h3-content-title;
        //     margin-bottom: 11px;
        // }
        // ul {
        //     padding-left: 33px;
        //     margin-bottom: 20px;
        //     li {
        //         @extend %modal-list-item;
        //         @extend %after-block-list-item;
        //     }
        // }
        // p {
        //     @extend %read-text;
        //     @extend %fz-20;
        //     @extend %link-in-text;
        //     margin-bottom: 32px;
        //     padding-right: 15px;
        // }
    }

    // .modal-job__offers

    &__offers {
        @extend .modal-job__offers;

        .simplebar-scrollbar {
            width: 2px;
        }
    }

    // .modal-job__item

    &__item {
        @extend %transperent-jobs;
        width: 384px;
        padding-right: 15px;
    }
    // .modal-job__position

    &__position {
        @extend .modal-job__position;
    }

    // .modal-job__wrap-city

    &__wrap-city {
        @extend .modal-job__wrap-city;
    }

    // .modal-job__city

    &__city {
        @extend .modal-job__city;
    }
}
.modal-static {
    position: absolute;
    transform: scale(0);
    z-index: 5;
    
}

.modal-ex {

    // .modal-ex__wrap-title

    &__wrap-title {
        position: relative;
        z-index: 1;
        margin-top: 80px;
        margin-bottom: 62px;
    }

    // .modal-ex__title

    &__title {
        @extend %h2-title-inside;
        color: $white;
        transition: all 1s ease 1.8s;
        transform: translateY(30px);
        opacity: 0;
    }

    // .modal-ex__tabs

    &__tabs {
        position: relative;
        z-index: 1;
        @extend .expertise__tabs;
    }

    // .modal-ex__tabs-title

    &__tabs-title {
        transition: all 1s ease 2s;
        transform: translateY(30px);
        opacity: 0;
    }

    // .modal-ex__wrapper

    &__wrapper {}

    // .modal-ex__tab-item

    &__tab-item {}

    // .modal-ex__tab-title

    &__tab-title {
        @extend .expertise__tab-title;
        color: $white_03;
        background-color: transparent;
        box-shadow: inset 0 0 0 1px $white_03;
        &:before {
            background-color: $white_03;
        }
        &.active {
            background-color: $hard_blue;
            color: $white;
            &:before {
                background-color: $white;
            }
        }
    }

    // .modal-ex__tabs-content

    &__tabs-content {
        transition: all 1s ease 2.2s;
        transform: translateY(30px);
        opacity: 0;
    }

    // .modal-ex__content

    &__content {
        @extend .expertise__content;
        .simplebar-track {
            &.simplebar-horizontal {
                background-color: $soft_blue;
            }
        }
    }

    // .modal-ex__wrap-cont

    &__wrap-cont {
        @extend .expertise__wrap-cont;
    }

    // .modal-ex__tab-cont

    &__tab-cont {
        @extend .expertise__tab-cont;
    }

    // .modal-ex__one-side

    &__one-side {
        @extend .expertise__one-side;
        // .modal-ex__one-side_1

        &_1 {}

        // .modal-ex__one-side_2

        &_2 {}
    }

    // .modal-ex__side

    &__side {
        @extend .expertise__side;
    }

    // .modal-ex__item

    &__item {
        @extend %interactive-link;
        &:before,
        &:after {
            background: $text_blue;
            opacity: .1;
        }
        a {
            &:after {
                background-color: $text_blue;
                opacity: 0.1;
            }
        }
    }

    // .modal-ex__link

    &__link {
        @extend .expertise__link;
    }
}

.modal-sub {
    position: absolute;
    transform: scale(0);
    z-index: 5;
    @extend %df;
    @extend %fdc;
    @extend %jcc;
    // padding-top: 218px;
    width: 100%;
    height: 100vh;
    padding-bottom: 97px;
    // .modal-sub__title

    &__title {
        opacity: 0;
        transition: all 1s ease 1.8s;
        transform: translateY(30px);
        @extend %h2-title;
        margin-bottom: 37px;
    }

    // .modal-sub__wrapper

    &__wrapper {}

    // .modal-sub__wrap-input

    &__wrap-input {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
        height: 56px;
        opacity: 0;
        transition: all 1s ease 2s;
        transform: translateY(30px);
    }

    // .modal-sub__wrap-input
    &__wrapper-inp {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all .5s ease;
        .error-data {
            position: absolute;
            bottom: -25px;
            left: 0;
            @extend %mont-regular;
            @extend %fz-14;
            @extend %ls-2;
            color: $red;
            opacity: 0;
            transition: all .5s ease;
        }
        &.error {
            box-shadow: 0 0 0 1px $red_03;
        }
        &.wr-1 {
            max-width: 320px;
            margin-right: 15px;
            input {
            }
            &.error {
                .error-data {
                    opacity: 1;
                }
            }
        }

        &.wr-2 {
            max-width: 590px;
            input {
            }
            &.error {
                .error-data {
                    opacity: 1;
                }
            }
        }
    }
    // .modal-sub__input

    &__input {
        @extend %input;
        width: 100%;
        padding-left: 38px;
        background-color: $white;
        
    }

    // .modal-sub__btn

    &__btn {
        @extend %viev-all;
        @extend %fdc;
        overflow: hidden;
        width: 240px;
        height: 56px;
        margin-right: 0;
        &.load {
            transition: all .5s ease;
            background-color: $white;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            span {
                // transition: opacity .5s ease;
                &:first-child {
                    transform: translateY(-16px);
                    opacity: 0;
                }
                &:nth-child(2) {
                    transform: translateY(2px);
                    opacity: 1; 
                }
            }
            &:after {
                opacity: 1;
                width: 100%;
            }
            svg {
                opacity: 0;
            }
        }
        &.sucsses {
            // transition: all .5s ease;
            background-color: $white;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            &:after {
                transition: all .5s ease;
                opacity: 0;
            }
            svg {
                opacity: 0;
            }
            span {
                // transition: opacity .5s ease;
                &:first-child {
                    transform: translateY(-16px);
                    opacity: 0;
                }
                &:nth-child(2) {
                    transform: translateY(-48px);
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-23px);
                    opacity: 1;
                    svg {
                        opacity: 1;
                    }
                }
            }
        }
        &:after {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            border: 1.5px solid $black;
            background-color: transparent;
            opacity: 0;
            transition: width 3.5s ease;
        }
        // &:hover {
        //     &:after {
                
        //     }
        // }
        span {
            transition: all .5s ease;
            &:first-child {
                transform: translateY(24px);
            }
            &:nth-child(2),
            &:nth-child(3) {
                transform: translateY(37px);
                opacity: 0;
            } 
        }
    }
    &__svg {
        position: relative !important;
    }

    // .modal-sub__wrap-radio

    &__wrap-radio {
        @extend %df;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    // .modal-sub__item

    &__item {
        opacity: 0;
        transition: all 1s ease;
        transform: translateY(30px) skew(0deg, 6deg);
        // transform: ;
        margin-right: 100px;
        margin-bottom: 25px;
        &:nth-child(1) {
            transition-delay: 2.2s;
        }
        &:nth-child(2) {
            transition-delay: 2.4s;
        }
        &:nth-child(3) {
            transition-delay: 2.6s;
        }
        &:nth-child(4) {
            transition-delay: 2.7s;
            margin-right: 0;
        }
        &:nth-child(5) {
            transition-delay: 2.8s;
            margin-right: 93px;
        }
        &:nth-child(6) {
            transition-delay: 2.9s;
            margin-right: 0;
        }
    }

    // .modal-sub__label

    &__label {}

    // .modal-sub__text

    &__text {
        @extend %read-text;
        position: relative;
        padding: 0 0 0 36px;
        cursor: pointer;
        &:after {
            position: absolute;
            content: '';
            top: 50%;
            margin-top: -6px;
            left: 0;
            width: 12px;
            height: 12px;
            border: 1px solid $black;
            opacity: 1;
            transition: all .5s ease;
        }
    }

    &__radio-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + .modal-sub__text:after {
            background-color: $black;
        }
    }
}
.modal-dow {
    position: absolute;
    transform: scale(0);
    z-index: 5;
    @extend %df;
    @extend %fdc;
    @extend %jcc;
    // padding-top: 218px;
    width: 100%;
    height: 100vh;
    padding-bottom: 97px;
    // .modal-dow__title

    &__title {
        @extend .modal-sub__title;
    }

    // .modal-dow__wrapper

    &__wrapper {}

    // .modal-dow__wrap-input

    &__wrap-input {
        @extend .modal-sub__wrap-input;
    }

    // .modal-dow__input

    &__input {
        @extend .modal-sub__input;
    }

    // .modal-dow__btn

    &__btn {
        @extend .modal-sub__btn;
    }

    // .modal-dow__svg

    &__svg {
        position: relative !important;
    }

    // .modal-dow__text

    &__text {
        margin-top: 40px;
        @extend %read-text;
        font-size: rem(18);
        opacity: 0;
        transition: all 1s ease;
        transform: translateY(100px) skew(0deg, 6deg);
        transition-delay: 2.2s;
    }
}

.sub-btn {}
