.mod-menu {
    position: fixed;
    width: 425px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: $hard_blue;
    transform: translateX(100%);
    transition: all 1s ease;
    &.active {
        transform: translateX(0);
    }
    &__close {
        position: absolute;
        top: 43px;
        right: 85px;
        transform: rotate(45deg);
        .nav-burger__btn {
            &:hover {
                span {
                    &:after,
                    &:before {
                        background-color: transparent;
                    }
                }
            }
            &:active {
                span {
                    &:after,
                    &:before {
                        background-color: $white;
                    }
                }
            }
        }
    }
    // .mod-menu__wrap
    &__wrap {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        height: 100%;
    }
    // .mod-menu__menu
    &__menu {}
    // .mod-menu__item
    &__item {
        position: relative;
        margin-bottom: 11px;
        &:nth-child(4) {
            margin-bottom: 0;
            padding-bottom: 11px;
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 52px;
                height: 1px;
                background-color: rgba(255,255,255,.1);
                left: 50%;
                bottom: 4px;
                margin-left: -26px;
            }
        }
        &:nth-child(5) {
            margin-top: 18px;
        }
    }
    // .mod-menu__link
    &__link {
        text-align: center;
        color: $white;
        span {
            display: block;
        }
        &:hover {
            .mod-menu {
                &__name {
                    color: $white;
                    &:before {
                        opacity: 1;
                        height: 32px;
                    }
                }
                &__label {
                    &:before {
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
    // .mod-menu__name
    &__name {
        position: relative;
        z-index: 2;
        @extend %anglecia-Pro;
        @extend %fz-24;
        @extend %lh-32;
        @extend %lh-32;
        @extend %ls-6;
        @extend %ttu;
        transition: all .5s ease;
        color: $text_soft-blue;
        margin-bottom: 4px;
        &:before {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            left: 50%;
            bottom: 15px;
            width: 212px;
            height: 0;
            margin-left: -(212 / 2) + px;
            background-color: #001E3C;
            transform: rotate(180deg);
            opacity: 0;
            transition: height .8s ease,
            opacity 1s ease;
        }
    }
    // .mod-menu__label
    &__label {
        position: relative;
        @extend %mont-regular;
        @extend %fz-10;
        @extend %lh-16;
        @extend %ls-0;
        color: $white;
        width: fit-content;
        margin: 0 auto;
        &:before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $hard_blue;
            transition: transform .5s ease;
        }
    }
    // .mod-menu__social
    &__social {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}