.navigation {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 42px;
    transition: all 1s ease;
    .container {
        @extend %dg;
        grid-template-columns: width(208, $decstop_container_width) width(620, $decstop_container_width) auto;
    }
    .op {
        opacity: 0;
        top: -100%;
    }

    &.sticky {
        position: fixed;
        animation: opa2 1s ease;
        opacity: 1;
        top: 0;
    }
}

@keyframes opa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opa2 {
    0% {
        top: -100%;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.logo {
    height: 24px;
    // .logo__link

    &__link {}

    // .logo__img 
    &__img {
        fill: $white;
    }
}

.menu {
    padding-left: 8px;
    padding-top: 4px;
    // .menu__wrapper
    &__wrapper {
        @extend %df;
        @extend %aic;
        transition: all .5s ease;
        &.hide {
            opacity: 0;
            pointer-events: none;
        }
        li {
            position: relative;
            margin-right: 9px;
            &:last-child {
                margin-right: 0;
            }
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                height: 0;
                transform: rotate(180deg);
                background-color: #001E3C;
                bottom: 0;
                z-index: 0;
                opacity: 0;
                transition: height .8s ease, opacity 1s ease,
                bottom .5s ease;
            }
            &:hover {
                &:after {
                    height: 24px;
                    bottom: 6px;
                    opacity: 1;
                }
            }
            a {
                position: relative;
                z-index: 1;
                @extend %df;
                align-items: flex-end;
                @extend %jcc;
                @extend %mont-regular;
                @extend %fz-14;
                @extend %lh-16;
                @extend %ls-2;
                color: $white;
                // min-width: 115px;
                height: 24px;
                text-align: center;
                padding: 0 25px;
                span {
                    display: block;
                }
            }
        }
    }
}

.nav-btns {
    @extend %df;
    justify-content: flex-end;
    &__wrap {
        position: relative;
        @extend %df;
    }
}

.nav-search {
    position: absolute;
    width: 883px;
    height: 32px;
    margin-left: -881px;
    // margin-left: -(883 / 2) + px;
    top: 0;
    left: -50%;
    // .nav-search__wrap
    &__wrap {
        height: 100%;
        &:after {
            position: absolute;
            content: '';
            display: block;
            bottom: 0;
            right: 0;
            width: 24px;
            height: 1px;
            background-color: transparent;
            transform: rotate(180deg);
            transition: all 1s ease;
        }
    }
    // .nav-search__input
    &__input {
        position: absolute;
        z-index: 5;
        right: 0;
        width: 0;
        height: 100%;
        padding-left: 24px;
        border: none;
        outline: none;
        @extend %mont-regular;
        @extend %fz-14;
        @extend %lh-16;
        @extend %ls-2;
        background-color: transparent;
        color: $white;
        cursor: pointer;
        transition: all 1s ease;
        // &:focus {
        //     background-color:red;
        // }
        &::-webkit-input-placeholder {
            color: $white;
            opacity: 0;
        }

        &::-moz-placeholder {
            color: $white;
            opacity: 0;
        }

        &:-moz-placeholder {
            color: $white;
            opacity: 0;
        }

        &:-ms-input-placeholder {
            color: $white;
            opacity: 0;
        }
    }
    // .nav-search__btn
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        pointer-events: none;
        // z-index: 0;
    }
    // .nav-search__svg
    &__svg {
        width: inherit;
        height: inherit;
    }
    // .nav-search__path
    &__path {
        opacity: 0.5;
        fill: $white;
        transition: all .5s ease;
    }
    &_active {
        .nav-search {
            &__wrap {
                width: 100%;
                &:after {
                    width: 100%;
                    background-color: $white;
                }
            }
            &__input {
                transition-delay: .5s;
                width: 100%;
                padding: 0;
                &::-webkit-input-placeholder {
                    opacity: .4;
                }

                &::-moz-placeholder {
                    opacity: .4;
                }

                &:-moz-placeholder {
                    opacity: .4;
                }

                &:-ms-input-placeholder {
                    opacity: .4;
                }
            }
            &__btn {
                pointer-events: all;
            }
            &__path {
                opacity: 1;
            }
        }
    }
}


.nav-lang {

    // .nav-lang__wrap

    &__wrap {
        background-color: transparent   ;
    }

    // .nav-lang__item-cur

    &__item-cur {
        position: relative;
        padding-top: 6px;
        &:hover {
            .nav-lang__inside {
                opacity: 1;
                height: auto;
            }
        }
    }

    // .nav-lang__cur

    &__cur {
        @extend %mont-regular;
        @extend %fz-16;
        @extend %lh-24;
        @extend %ls-2;
        @extend %ttu;
        color: $white;
        cursor: pointer;
    }

    // .nav-lang__inside

    &__inside {
        position: absolute;
        top: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity .5s ease;
    }

    // .nav-lang__item

    &__item {
        margin-bottom: 4px;
        &:first-child {
            margin-top: 4px;
        }
    }

    // .nav-lang__link

    &__link {
        @extend %mont-regular;
        @extend %fz-16;
        @extend %lh-24;
        @extend %ls-2;
        @extend %ttu;
        color: $white;
        &:hover {
            color: rgba(255,255,255,.5)
        }
    }
}

.nav-burger {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-left: 45px;
    // .nav-burger__btn

    &__btn {
        position: relative;
        width: 26px;
        height: 26px;
        span {
            &:after,
            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 11px;
                height: 11px;
                border: 2px solid $white;
                transition: all .5s ease;
            }
            &:first-child {
                &:after,
                &:before {
                    top: 0;
                }
                &:after {
                    left: 0;
                }
                &:before {
                    right: 0;
                }
            }
            &:last-child {

                &:after,
                &:before {
                    bottom: 0;
                }

                &:after {
                    left: 0;
                }

                &:before {
                    right: 0;
                }
            }
        }
        &:hover {
            span {
                &:after,
                &:before {
                    background-color: $white;
                }
            }
        }
    }
}

.sticky,
.nav-policy,
.home .nav-mob {
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: $white;
    .logo {
        // .logo__link
        &__link {}
        // .logo__img
        &__img {
            fill: $red;
        }
    }
    .menu {
        // .menu__wrapper
        &__wrapper {
            li {
                &:after {
                    background-color: $soft_blue;
                }
                a {
                    color: $black;
                }
            }
        }
    }
    .nav-btns {
        // .nav-btns__wrap
        &__wrap {}
    }
    .nav-search {
        // .nav-search__wrap
        &__wrap {
            
        }
        // .nav-search__input
        &__input {
            color: $black;
        }
        // .nav-search__btn
        &__btn {}
        // .nav-search__svg
        &__svg {}
        // .nav-search__path
        &__path {
            opacity: 1;
            fill: rgba(0,0,0,.4);
        }
         &_active {
            .nav-search {
                &__wrap {
                    &:after {
                        background-color: $black;
                    }
                }
                &__input {
                    &::-webkit-input-placeholder {
                        color: $black;
                        opacity: .6;
                    }

                    &::-moz-placeholder {
                        color: $black;
                        opacity: .6;
                    }

                    &:-moz-placeholder {
                        color: $black;
                        opacity: .6;
                    }

                    &:-ms-input-placeholder {
                        color: $black;
                        opacity: .6;
                    }
                }
                &__path {
                    fill: $black;
                }
            }
        }
    }
    .nav-lang {
        // .nav-lang__wrap
        &__wrap {
            
        }
        // .nav-lang__item-cur
        &__item-cur {
            
        }
        // .nav-lang__cur
        &__cur {
            color: $black;
        }
        // .nav-lang__inside
        &__inside {
            left: -21px;
            padding: 0px 22px;
            background-color: $white;
        }
        // .nav-lang__item
        &__item {}
        // .nav-lang__link
        &__link {
            color: $black;
            &:hover {
                color: rgba(0,0,0, .5)
            }
        }
    }
    .nav-burger {
        // .nav-burger__btn
        &__btn {
            span {
                &:after,
                &:before {
                    border-color: $black;
                }
            }
            &:hover {
                span {
                    &:after,
                    &:before {
                        background-color: $black;
                    }
                }
            }
        }
    }
}
.nav-progress {
    display: none;
}
.sticky {
    .logo {
        &__img {
            fill: $red !important;
        }
    }
}

.page-exp {
    .logo__img {
        fill: $red;
    }
}
.mod-menu__social {
    width: 100%;
    .h-social {
        &__item {
            height: 70px;
            width: calc(100% / 6);
            // height: calc(100% / 6);
        }
    }
}