.slider {
    // cursor: grab;
    // .slider_awards
    &_awards {
        padding: 0 42px;
    }
    &-btns {
        position: relative;
        z-index: 5;
        @extend %df;
        @extend %aic;
        @extend %jcsb;
    }
    &_reviews {
        overflow: visible !important;
    }
    &-svg {
        width: inherit;
        height: inherit;
    }
    &-navigation {
        width: 70%;
        padding-top: 12px;
        position: absolute;
        top: 0;
        right: 0;
        @extend %df;
        @extend %aic;
        @extend %jcsb;
    }
    &-pagin {
        padding-top: 1px;
        padding-left: 12px;
    }
    &-path {
        fill: $black;
    }
    // .slider__wrapper
    &__wrapper {}
    // .slider__item
    &__item {
        height: 155px;
    }
    // .slider__scrollbar
    &__scrollbar {
        position: absolute;
        left: 50%;
        bottom: 3px;
        z-index: 50;
        height: 5px;
        width: 384px;
        margin-left: calc(-384px / 2);
        position: relative;
        -ms-touch-action: none;
        border-bottom: 1px solid $black_02;

        .swiper-scrollbar-drag {
            cursor: pointer;
            height: 4px;
            position: relative;
            background-color: $hard_blue;
        }
    }
}
.slider-pagin {
    position: relative;
    z-index: 5;
}
.btn-arr {
    width: 12px;
    height: 19px;
    &:hover {
        opacity: .5;
    }
}
.bullet {
    @extend %mont-regular;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-2;
    color: $black_04;
    margin-right: 48px;
    transition: all 1s ease;
    &:last-child {
        margin-right: 0;
    }
    &.swiper-pagination-bullet-active {
        @extend %mont-semiBold;
        color: $black;
    }
}

.btn-prev {
    margin-right: 48px;
}

.btn-next {}
.aw-slide {
    position: relative;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    justify-content: center;
    height: 100%;
    &:hover {
        img {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
        }
    }
    // .aw-slide__wrap-img
    &__wrap-img {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        img {
            transition: filter .9s ease;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            // min-width: 150px;
            width: 100%;
        }
    }
    // .aw-slide__text
    &__text {
        position: absolute;
        width: 100%;
        bottom: -15px;
        @extend %minion-regular;
        @extend %fz-18;
        @extend %lh-24;
        @extend %ls-2;
        color: $black;
        text-align: center;
    }
}
.slider {

    // .slider_client

    &_client {
        .swiper-wrapper {
            padding-bottom: 46px;
        }
    }
}
.cl-slide {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: 88px;
    // .cl-slide__wrap-img

    &__wrap-img {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        height: auto;
        img {
            transition: filter .9s ease;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            max-width: 213px;
            height: auto;
        }
    }
    &:hover {
        img {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
        }
    }
}
.review {

    // .review__slide

    &__slide {
        @extend %dg;
        grid-template-columns: width(372) width(778);
    }

    // .review__wrap

    &__wrap {

        // .review__wrap_left

        &_left {
            position: relative;
        }

        // .review__wrap_right

        &_right {}
    }

   
    // .review__about

    &__about {
        position: absolute;
        width: 100%;
        bottom: 12px;
        left: 0;
    }

    // .review__name

    &__name {
        position: relative;
        @extend %h3-content-title;
        margin-bottom: 6px;
        &:before {
            position: absolute;
            content: '';
            display: block;
            width: 160px;
            height: 1px;
            background-color: $black_02;
            top: 50%;
            left: -50%;
        }
    }

    // .review__firm

    &__firm {
        @extend %read-text;
    }

    // .review__content

    &__content {
        position: relative;
        height: 232px;
        &.scroll-cont {
            .simplebar-track.simplebar-horizontal {
                background-color: $white;
            }
        }
        p {
            @extend %read-text;
            @extend %link-in-text;
            padding-right: 40px;
        }
    }
}
.swiper-wrapper {
    // cursor: grab;
}