@import 'helpers/helpers_all';
// @import "reset";
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    text-decoration: none;
}
@import "fonts";
@import "grid";
.content-pdf {
    padding: 5px;
}
.logo {

    // .logo__link

    &__link {}

    // .logo__img

    &__img {
        fill: $red;
    }
}

.date {
    margin: 20px 0;
    span {
        font-size: 18px;
    }
}
hr {
    margin: 30px 0;
    color: $hard_blue;
    opacity: 0.3;
}
.article-law {
    @extend %lawyers-contact;
    li.lawyer-ab__item-cont_title {
        list-style: none;
    }
    li {
        list-style: disc;
        padding-left: 0;
    }
}
.lawyer-ab {
    // .lawyer-ab__law
    &__text-content {
        p,
        blockquote {
            @extend %read-text;
            @extend %link-in-text;
            margin-bottom: 33px;
            font-size: rem(18);
        }
        blockquote {
            font-style: italic;
        }
        h2 {
            @extend %h2-title-inside;
            font-size: rem(24);
            text-transform: capitalize;
            margin-bottom: 33px;
        }

        h3 {
            @extend %h3-content-title;
            font-size: rem(22);
            text-transform: none;
            margin-bottom: 20px;
            
        }

        ul, ol {
            padding-left: 32px;
            margin-bottom: 33px;
            list-style: disc;
            &:last-child {
                margin-bottom: 0;
            }

            li {
                list-style: disc;
                @extend %modal-list-item;
                a {
                    color: $hard_blue;
                }
            }
        }
    }
    &__law {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        left: 0;
        margin-top: 150px;
        // top: 170px;
        width: 100%;
    }

    // .lawyer-ab__wrap-head-main

    &__wrap-head-main {
        max-width: 354px;
    }

    // .lawyer-ab__wrap-img

    &__wrap-img {
        position: absolute;
        top: -146px;
        left: 54px;
    }

    // .lawyer-ab__wrap-about

    &__wrap-about {
        display: block !important;
    }
   
    // .lawyer-ab__wrap-name-pos

    &__wrap-name-pos {
        @extend %card-wrap-name-position-lawyer-page;
        p {
            padding: 0;
            max-width: 266px;
        }
        margin-top: 0;
    }
    &__wrap-name-pos,
    &__wrapper {
        float: left;
    }

    &__wrap {
        &-about {
            display: flex;
        }

        &-name-pos {
            padding-top: 224px;
            position: relative;
            bottom: 0;
            left: 0;
        }

        &-cont {
            margin-top: 41px;
            margin-bottom: 27px;
            li {
                max-width: 239px;
                padding-right: 0;
            }
        }

        &-head {
            &-main {
                max-width: 100%;
            }
        }

        &-img {
            top: -72px;
            left: -40px;
        }
    }
    &__wrap-cont {
        @extend %lawyers-contact;
        list-style: none;
    }

    // .lawyer-ab__item-cont
    &__cont-path {
        fill: $black;
    }
    &__item-cont {
        // .lawyer-ab__item-rec_title

        &_title {
            @extend %card-contacts-title;
            margin-bottom: 13px !important;
            padding: 0 !important;
        }
    }
     &__name-link {
         text-transform: capitalize !important;
         font-size: rem(20) !important;
     }
}
@media print {
    @page {
        margin: 1cm;
    }
}