<div class="lawyer-ab__text-content">
    <p>
        Iryna Kalnytska is the Head of Tax praсtice and the main areas of her activities are consulting Ukrainian and
        foreign companies on national and international taxation, tax risk management and tax structuring of agreements.
    </p>
    <p>
        Iryna's practice provides a <a href="#">comprehensive</a> support for a business during tax inspections, including tax audit
        before tax inspection and administrative and judicial appeals of tax notice decisions . Individual approach to
        each case, elaboration of the action plan allow companies’ lawyers to successfully protect the interests of
        clients right at the stage of administrative appeal of illegal notice decisions.
    </p>
    <p>
        Irina's experience includes advising clients of the FMCG & Retail sector on real estate, its acquisition and
        lease, as well as advising agricultural sector business on land and tax issues.
    </p>
    <p>
        Iryna has extensive experience in handling some of the most complex debt restructuring cases, involving
        protection of the banks’ rights through litigation process with remarkable results. She represents a range of
        financial institutions in a complex disputes over the pledged and mortgaged property, restoration of the
        creditor’s rights over such property and enforcement proceedings. Iryna also specialices in supporting banks and
        insurance agencies in providing loans repayments, as well as various aspects of the finance industry.
    </p>
    <p>
        Irina is a co-author of analytical and practical manuals «Methodological Recommendations for Legal Aid to
        Economic Entities under Tax Inspections», which are published annually by the National Bar Association of
        Ukraine. She is also actively preparing analytical articles and expert comments in the field of agrarian and
        pharmaceutical industries.
    </p>
    <!-- <h3>H3 title</h3>
    <ul>
        <li>Some list item</li>
        <li>Some list item</li>
        <li>Some list item</li>
        <li>Some list item</li>
    </ul> -->
</div>