<div class="lawyer-ab__law">
    <div class="lawyer-ab__wrap-head-main">
        <figure class="lawyer-ab__wrap-img">
            <img src="img/layers/3.jpg" alt="Name img">
        </figure>
        <!-- /.lawyer-ab__wrap-img -->
        <div class="lawyer-ab__wrap-about">
            <div class="lawyer-ab__wrap-name-pos">
                <h2 class="lawyer-ab__name">
                    <a href="#" class="lawyer-ab__name-link">
                        IRYNA KALNYTSKA
                    </a>
                </h2>
                <!-- /.lawyer-ab__name -->
                <p class="lawyer-ab__position">
                    Partner, Head of Tax Practice,
                    Attorney at law
                </p>
                <!-- /.lawyer-ab__position -->
            </div>
            <!-- /.lawyer-ab__wrap-name-pos -->
            <div class="lawyer-ab__wrapper">
                <ul class="lawyer-ab__wrap-cont">
                    <li class="lawyer-ab__item-rec lawyer-ab__item-cont_title">
                        Contact information
                    </li>
                    <!-- /.lawyer-ab__item-rec -->
                    <li class="lawyer-ab__item-cont">
                        <i>
                            <svg class="lawyer-ab__cont-svg" width="11" height="16" viewBox="0 0 11 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="lawyer-ab__cont-path"
                                    d="M10.7401 3.98225C10.6833 3.7688 10.5679 3.54136 10.4825 3.34223C9.46076 0.881778 7.2283 0 5.4257 0C3.01259 0 0.354833 1.62138 0 4.96342V5.64622C0 5.67471 0.00980078 5.93068 0.0237223 6.05872C0.222634 7.65146 1.47687 9.34419 2.41359 10.9369C3.42136 12.6434 4.46708 14.322 5.5031 16C6.14193 14.905 6.77846 13.7956 7.40274 12.7289C7.57288 12.4159 7.77038 12.1031 7.94071 11.8043C8.05424 11.6053 8.27111 11.4064 8.3702 11.2213C9.37793 9.3725 11 7.50943 11 5.67468V4.92094C11 4.72203 10.754 4.02514 10.7401 3.98225ZM5.46987 7.40988C4.76054 7.40988 3.98413 7.05448 3.6009 6.07297C3.5438 5.91673 3.5484 5.60362 3.5484 5.57494V5.13406C3.5484 3.88281 4.60867 3.31381 5.53105 3.31381C6.66661 3.31381 7.54485 4.22415 7.54485 5.36201C7.54485 6.49984 6.60543 7.40988 5.46987 7.40988Z" />
                            </svg>
                        </i>
                        <span>
                            19B Instytutska Sreet, Office 29
                            Ukraine, 01021
                        </span>
                    </li>
                    <!-- /.lawyer-ab__item-rec -->
                    <li class="lawyer-ab__item-rec">
                        <i>
                            <svg class="lawyer-ab__cont-svg" width="15" height="11" viewBox="0 0 15 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="lawyer-ab__cont-path"
                                    d="M7.49879 7.69996L5.64321 6.03235L0.337891 10.7019C0.530734 10.8856 0.791071 11 1.07819 11H13.9194C14.2054 11 14.4647 10.8856 14.6565 10.7019L9.35437 6.03235L7.49879 7.69996Z" />
                                <path class="lawyer-ab__cont-path"
                                    d="M14.6615 0.298103C14.4686 0.113301 14.2093 0 13.9211 0H1.07996C0.793906 0 0.53464 0.114401 0.341797 0.300303L7.50055 6.60006L14.6615 0.298103Z" />
                                <path class="lawyer-ab__cont-path"
                                    d="M0 0.965698V10.1046L5.17783 5.58684L0 0.965698Z" />
                                <path class="lawyer-ab__cont-path"
                                    d="M9.82227 5.58672L15.0001 10.1045V0.96228L9.82227 5.58672Z" />
                            </svg>
                        </i>
                        <a href="mailto:iryna_kalnytska@golaw.ua" class="lawyer-ab__links">
                            <span>
                                iryna_kalnytska@golaw.ua
                            </span>
                        </a>
                        <!-- /.lawyer-ab__links -->
                    </li>
                    <!-- /.lawyer-ab__item-rec -->
                    <li class="lawyer-ab__item-rec">
                        <i>
                            <svg class="lawyer-ab__cont-svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="lawyer-ab__cont-path"
                                    d="M5.02431 5.29684L1.32845 1.60043C1.80549 1.12357 2.28158 0.645757 2.75957 0.167945C2.98054 -0.0529485 3.33713 -0.0567407 3.55905 0.161309L6.43835 3.0424C6.65838 3.26235 6.65838 3.6245 6.43551 3.84634L5.80483 4.47584L5.21778 5.06268C5.1457 5.13568 5.08027 5.21342 5.02431 5.29684ZM8.06483 11.3179C7.45976 10.7974 6.87935 10.2447 6.31601 9.68248C5.75362 9.1165 5.20261 8.5382 4.68099 7.9305C4.25422 7.43752 4.17076 6.72365 4.39363 6.12259L0.600093 2.32948C-0.282854 3.23675 -0.169996 5.48645 0.797357 7.46312C1.21275 8.31825 1.75143 9.08996 2.30813 9.82374C2.86389 10.5518 3.4737 11.2401 4.11576 11.8867C4.75971 12.5323 5.44444 13.1447 6.1747 13.7003C6.90875 14.2587 7.68263 14.7934 8.53239 15.2077C10.5126 16.1737 12.7641 16.2799 13.6707 15.3963L9.87625 11.6032C9.27497 11.826 8.55989 11.7435 8.06483 11.3179ZM15.8368 12.4375L12.9576 9.55829C12.7366 9.34024 12.3743 9.34024 12.1533 9.56113H12.1514L11.5189 10.1925L10.9356 10.7784C10.8635 10.8505 10.7848 10.914 10.7013 10.9728L14.3963 14.6682C14.8742 14.1895 15.3513 13.7135 15.8302 13.2367C16.0531 13.0158 16.0578 12.6584 15.8368 12.4375Z" />
                            </svg>
                        </i>
                        <a href="#" class="lawyer-ab__links">
                            <span>
                                +380 44 581 1220
                            </span>
                        </a>
                        <!-- /.lawyer-ab__links -->
                        <a href="#" class="lawyer-ab__links">
                            <span>
                                +380 44 581 1221
                            </span>
                        </a>
                        <!-- /.lawyer-ab__links -->
                    </li>
                    <!-- /.lawyer-ab__item-rec -->
                </ul>
                <!-- /.lawyer-ab__wrap-rec -->
                <div class="lawyer-ab__btns">
                    <a href="#" target="_blank" class="layers__linked">
                        <span>IN</span>
                        <i>
                            <svg width="20" height="10" viewBox="0 0 20 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.04789 6.82058C8.78835 6.68125 8.4651 6.77814 8.32581 7.03763C7.69668 8.20704 6.48168 8.93357 5.15465 8.93357C3.17078 8.93357 1.55639 7.31953 1.55639 5.33527C1.55639 3.35106 3.17078 1.73702 5.15465 1.73702C6.6352 1.73702 7.9471 2.62512 8.4971 3.99944C8.60668 4.27304 8.9172 4.40601 9.19001 4.29616C9.46331 4.18689 9.59631 3.87665 9.48701 3.60336C8.77401 1.82192 7.07358 0.670898 5.15465 0.670898C2.58274 0.670938 0.490234 2.76344 0.490234 5.33535C0.490234 7.9073 2.58274 9.9998 5.15465 9.9998C6.87473 9.9998 8.44942 9.05824 9.26466 7.54259C9.40415 7.28341 9.30711 6.96016 9.04789 6.82058Z"
                                    fill="black" />
                                <path
                                    d="M15.312 0.670898C13.3931 0.670898 11.6926 1.82192 10.9797 3.60336C10.8703 3.87665 11.0033 4.18689 11.2766 4.29616C11.5497 4.40586 11.86 4.27273 11.9695 3.99944C12.5196 2.62512 13.8314 1.73702 15.312 1.73702C17.2959 1.73702 18.9102 3.35102 18.9102 5.33527C18.9102 7.31949 17.2959 8.93357 15.312 8.93357C13.9849 8.93357 12.77 8.20704 12.1409 7.03763C12.0013 6.77806 11.6785 6.68148 11.4188 6.82058C11.1595 6.96016 11.0625 7.28337 11.2019 7.54255C12.0171 9.05824 13.5919 9.9998 15.3119 9.9998C17.8839 9.9998 19.9763 7.9073 19.9763 5.33535C19.9763 2.7634 17.8839 0.670898 15.312 0.670898Z"
                                    fill="black" />
                                <path
                                    d="M4.47363 5.48643C4.47363 5.78083 4.7123 6.01949 5.00669 6.01949H15.4585C15.7528 6.01949 15.9915 5.78087 15.9915 5.48643C15.9915 5.19203 15.7529 4.95337 15.4585 4.95337H5.00673C4.71233 4.95337 4.47363 5.19203 4.47363 5.48643Z"
                                    fill="black" />
                            </svg>
                        </i>
                    </a>
                    <a href="#" class="lawyer-ab__v-card" download>
                        <span>V-CARD</span>
                        <i>
                            <svg class="lawyer-ab__svg" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="lawyer-ab__path" />
                            </svg>
                        </i>
                    </a>
                    <a href="#" class="lawyer-ab__pdf" download>
                        <span>PDF</span>
                        <i>
                            <svg class="lawyer-ab__svg" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="lawyer-ab__path" />
                            </svg>
                        </i>
                    </a>
                </div>
                <!-- /.lawyer-ab__btns -->
            </div>
            <!-- /.lawyer-ab__wrapper -->
        </div>
        <!-- /.lawyer-ab__wrap-about -->
    </div>
    <!-- /.lawyer-ab__wrap-head-main -->
</div>
<!-- /.lawyer-ab__wrap-about -->
<div class="lawyer-ab__pract-sect">
    <div class="lawyer-ab__ps-wrapper">
        <h2 class="lawyer-ab__ps-title">Practices</h2>
        <ul class="lawyer-ab__ps-list scroll-cont">
            <li class="lawyer-ab__ps-item"><a href="#">Anti-Corruption and Anti-Bribery</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Antitrust and competition</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Banking and finance</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Anti-Corruption and Anti-Bribery</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Antitrust and competition</a></li>
        </ul>
    </div>
</div>
<div class="lawyer-ab__pract-sect">
    <div class="lawyer-ab__pr-wrapper">
        <h2 class="lawyer-ab__ps-title">Sectors</h2>
        <ul class="lawyer-ab__ps-list scroll-cont">
            <li class="lawyer-ab__ps-item"><a href="#">Anti-Corruption and Anti-Bribery</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Antitrust and competition</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Banking and finance</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Anti-Corruption and Anti-Bribery</a></li>
            <li class="lawyer-ab__ps-item"><a href="#">Antitrust and competition</a></li>
        </ul>
    </div>
</div>