<ul class="rep-cases__wrap">
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Education</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consequatur nihil voluptas, doloremque
                sit dolor, dignissimos ipsam recusandae ducimus minima quas assumenda quasi? Eos, dolor culpa laudantium
                minima! Mollitia numquam aliquid iusto debitis hic dolore possimus repellat ad temporibus nesciunt sunt
                dicta libero saepe tempora, animi unde quia molestiae in omnis sapiente, pariatur aperiam nam laborum.
                Neque reprehenderit, ut id.
            </p>
            <ul>
                <li>one</li>
                <li>one</li>
                <li>one</li>
            </ul>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Recognition</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                The Legal 500 EMEA 2019 – recommended among the best Ukrainian lawyers in: Banking, finance and capital
                markets, Dispute resolution, Real estate and construction, Tax;
            </p>
            <p>
                Who's Who Legal, 2018 - recognised among the best lawyers in Ukraine in "Corporate Tax: Controversy";
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Membership</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quas molestiae repellat voluptates
                architecto accusantium eveniet doloribus eos. Sapiente eveniet, quasi! Est consectetur sapiente, enim!
                Quas nulla repudiandae quos consequatur animi, ipsam veritatis quisquam deleniti enim, aspernatur
                repellat hic nemo dicta illo sint. Ex voluptatem, blanditiis minus ipsa nihil iure eveniet deserunt
                veritatis ad recusandae eaque corporis impedit tenetur hic natus omnis vel ut numquam amet quis tempora
                esse. Unde aspernatur porro id deserunt obcaecati corporis nisi atque numquam deleniti.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Languages</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestias expedita quas tempora sint
                consequatur aspernatur id nam ea, dicta nostrum fugiat neque exercitationem, voluptate voluptas hic.
                Blanditiis id adipisci ea delectus sunt recusandae, veritatis nihil soluta! Eaque, minus fugiat.
                Similique assumenda nesciunt delectus officia reprehenderit, eligendi optio soluta impedit, atque eaque,
                et quia ipsa.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
</ul>
<!-- /.rep-cases__wrap -->