<div class="achivs__tab-wrap cont-tab-ins active">
    <a href="#" class="achivs__card">
        <figure class="achivs__wrap-img">
            <img src="img/insights/insights-3.jpg" alt="">
        </figure>
        <div class="achivs__card-content">
            <p class="achivs__wrap-date">
                <span class="achivs__date">08 June 2019</span>
                <span class="achivs__tag">Publication</span>
            </p>
            <h3 class="achivs__card-title">
                The Best Lawyers in Ukraine 2018 features GOLAW partners among top expert lawyers for key legal practice
                areas
            </h3>
        </div>
        <div class="achivs__link">
            <span>Read</span>
        </div>
    </a>
    <a href="#" class="achivs__card">
        <figure class="achivs__wrap-img">
            <img src="img/insights/insights-4.jpg" alt="">
        </figure>
        <div class="achivs__card-content">
            <p class="achivs__wrap-date">
                <span class="achivs__date">08 June 2019</span>
                <span class="achivs__tag">Publication</span>
            </p>
            <h3 class="achivs__card-title">
                GOLAW has been recommended in the 6 practice areas by The Legal 500 ranking
            </h3>
        </div>
        <div class="achivs__link">
            <span>Read</span>
        </div>
    </a>
    <a href="#" class="achivs__card">
        <figure class="achivs__wrap-img">
            <img src="img/insights/insights-5.jpg" alt="">
        </figure>
        <div class="achivs__card-content">
            <p class="achivs__wrap-date">
                <span class="achivs__date">08 June 2019</span>
                <span class="achivs__tag">Publication</span>
            </p>
            <h3 class="achivs__card-title">
                GOLAW is among the TOP-10 law firms of Ukraine in 2017
            </h3>
        </div>
        <div class="achivs__link">
            <span>Read</span>
        </div>
    </a>
</div>