.place-map {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    padding-top: 86px;
    // .place-map__item

    &__item {
        @extend %btn-contact-map;
    }

    // .place-map__tab

    &__tab {
        // @extend %tab-contact-map;
    }
}
.contact-map-sect {
    position: relative;
    height: 1216px;
}

.contact-map {
    width: 100%;
    height: 100%;
    // .contact-map__map

    &__map {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.contact-map {

    // .contact-map__block

    &__block {
        width: 367px;
        height: 437px;
        position: absolute;
        top: 557px;
        left: 250px;
        z-index: 8;
        background-color: $white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        &:after {
            position: absolute;
            content: '';
            display: block;
            bottom: -13px;
            left: 50%;
            margin-left: -(26 / 2) +px;
            width: 0;
            height: 0;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-top: 13px solid $white;
        }
    }

    // .contact-map__info

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 34px;
        padding-left: 76px;
        z-index: -1;
        opacity: 0;
        transform: translateY(30px);
        transition: transform 1s ease, opacity .5s ease;
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $black_01;
            left: 0;
            top: 90px;
        }
        &.active {
            z-index: 2;
            opacity: 1;
            transform: translateY(0);
        }
        
        // top: 34px;
        // left: 76px;
    }

    // .contact-map__info-wrap

    &__info-wrap {}

    // .contact-map__city

    &__city {
        @extend %tab-contact-map;
        color: $black;
        margin-bottom: 55px;
    }

    // .contact-map__wrapper

    &__wrapper {
        padding-right: 20px;
    }

    // .contact-map__item

    &__item {
        @extend %map-contacts-info;
        @extend %df;
        margin-bottom: 24px;
        i {
            margin-right: 14px;
        }
        a {
            color: $black;
            &:hover {
                color: $red;
            }
        }
    }
}

.touch-sect {
    padding-top: 139px;
    padding-bottom: 151px;
    background-color: $soft_blue;
}

.container {}

.touch {

    // .touch__title

    &__title {
        @extend %h2-title-inside;
        color: $black;
        text-align: center;
    }

    // .touch__wrapper

    &__wrapper {
        width: 592px;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 73px;
    }

    // .touch__input
    &__wrapper-inp {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all .5s ease;
        margin-bottom: 43px;
        .error-data {
            position: absolute;
            bottom: -25px;
            left: 0;
            @extend %mont-regular;
            @extend %fz-14;
            @extend %ls-2;
            color: $red;
            opacity: 0;
            transition: all .5s ease;
        }
        &.error {
            .error-data {
                opacity: 1;
            }
            input {
                border-color:$red_03;
            }
        }
        &.wr-1 {
            
        }

        &.wr-2 {
            
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding-bottom: 13px;
        @extend %input;
        padding-left: 0;
        color: $black;
        border-bottom: 1px solid $black_05;
        transition: all 1s ease;
        &:focus {
            border-color: $black;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    // .touch__textarea

    &__textarea {
        padding-bottom: 0;
        height: 119px;
    }

    // .touch__btn

    &__btn {
        @extend .modal-sub__btn;
        margin: 0 auto !important;
        span {
            &:first-child {
                transition: color 1s ease .8s;
            }
        }
        &:hover {
            span {
                &:first-child {
                    color: $black;
                }
            }
        }
    }
}