@media screen and (max-width: 1200px) {
    
    .nav-search {
        width: 696px;
        margin-left: -697px;
    }
    .header-wrap {
        &_2 {
            padding-left: 336px;
        }
    }
    .find-prof {
        &__title {
            &::after {
                width: 310px;
                left: -46%;
            }
        }
    }
    .achivs,
    .insights {
        &__tab-wrap {
            grid-column-gap: 29px;
            .achivs__card,
            .insights__card {
                &:nth-child(3) {
                    // display: none;
                }
            }
        }
        &__card {
            max-width: 352px;
        }
        &__wrap-img {
            width: 100%;
            max-height: 235px;
        }
    }
    .hero-about__wrap {
        padding: 0px 293px;
    }
    .layers {
        grid-column-gap: 32px;
        &__name {
            font-size: rem(22);
        }
    }
    .footer__wrap_qu {
        // padding-right: 127px;
    }
    .modals {
        &:after {
            display: none;
        }
        &.active-static {
            .modal-nav {
                .logo__img {
                    fill: $black
                }
            }
        }
        .modal-ex {
            &__title {
                color: $black;
            }
        }
    }
    .modal-ex {
        &__tabs {
            grid-template-columns: width(269, 1050) width(730, 1050);
            grid-column-gap: 43px;
        }
        &__tab-cont {
            grid-column-gap: 40px;
        }
        &__tab-title {
            color: $hard_blue-01;
            box-shadow: $hard_blue-01 0px 0px 0px 1px inset;
            &:before {
                background-color: $hard_blue-01;
            }
            &.active {
                color: $hard_blue;
                background-color: $white;
                &:before {
                    background-color: $hard_blue;
                }
            }
        }
        &__wrap-cont {
            .simplebar-track {
                &.simplebar-vertical {
                    right: -12px;
                }
            }
        }
    }
    .search-ins {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        .insights__card {
            margin: 0 auto;
        }
    }
    .search-law {
        grid-column-gap: 32px;
        &__lawyer {
            height: 457px;
        }
        &__wrap-img {
            width: 280px;
            img {
                width: inherit;
            }
        }
        &__name-link {
            font-size: rem(24);
        }
        &__position {
            padding-right: 40px;
        }
    }
}