@media screen and (max-width: 1100px) {
    %m-fz-72 {
        font-size: rem(72);
    }

    %m-fz-36 {
        font-size: rem(36);
    }

    %m-lh-74 {
        line-height: rem(74)
    }

    %m-lh-40 {
        line-height: rem(40)
    }

    .nav-btns {
        margin-left: auto;
    }

    // Offer
    .header {
        &-hero {
            &:after {
                width: 600px;
                height: 920px;
            }
        }

        &-wrap {
            &_1 {
                padding-top: 239px;
            }

            &_2 {
                padding-left: 0;
                padding-top: 108px;
                padding-bottom: 106px;
            }
        }
    }

    .offer {
        padding-left: 44px;
        margin-top: -10px;

        &__title {
            @extend %m-fz-72;
            @extend %m-lh-74;
        }

        &__contact {
            padding-left: 31px;
            margin-bottom: 8px;
        }
    }

    .h-langs {
        padding-top: 24px;
    }

    .find-prof {
        &__title {
            @extend %m-fz-36;
            @extend %m-lh-40;
            margin-bottom: 42px;

            &:after {
                display: none;
            }
        }
    }

    .home-insights {
        padding-top: 166px;
        padding-bottom: 134px;

        .achivs__tab-wrap,
        .insights__tab-wrap {

            .achivs__card,
            .insights__card {
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .achivs,
    .insights {
        &__tabs {
            display: none;
        }

        &__tab-wrap {
            grid-template-columns: 1fr 1fr;
        }

        &__content {
            margin-bottom: 79px;
        }
    }

    .expertise-sect {
        padding-bottom: 139px;
    }

    .expertise,
    .modal-ex {
        &__tabs {
            grid-template-columns: width(287, 735) width(413, 735);
            grid-column-gap: 29px;
        }

        &__tab-cont {
            grid-template-columns: 1fr;
        }
        &__side {
            display: block;
        }
    }

    .hero-about {
        &__wrap {
            padding: 0px 103px;
        }
    }

    .layers {
        grid-template-columns: 1fr 1fr;
    }

    .key-law-sect {
        padding-bottom: 66px;

        .layers__item {

            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
                display: none;
            }
        }
    }

    .contact-hero {
        padding: 0px 25px;
    }

    .footer {
        padding-top: 143px;

        &__wrapper {
            &:last-child {
                // padding-left: 80px;
            }
        }

        &__logo-link {
            margin-bottom: 30px;
        }

        &__wrap {
            grid-template-columns: auto;
            grid-template-areas:
                'logo logo links links'
                'folow folow folow folow';
            padding-bottom: 142px;

            &_qu {
                // padding-right: 77px;
                .footer__wrapper {
                    grid-column-gap: 50px;
                }
            }
        }

        &__logo {
            grid-area: logo;
        }

        &__quick {
            grid-area: links;
            padding-left: 80px;
        }

        &__social {
            grid-area: folow;
        }
        .h-social {
            max-width: 330px;
        }
        &__social {
            display: flex;
            align-items: center;
            margin-top: 9px;

            .footer {
                &__title {
                    margin-top: 20px;
                    margin-right: 68px;
                }
            }
        }
    }

    .quote-career {
        &-sect {
            padding-bottom: 128px;
        }

        &__title {
            padding-right: 60px;
            margin-bottom: 30px;
        }
    }

    .jobs {
        &__wrap {
            &_top {
                display: block;
            }

            &_bot {
                grid-template-columns: 1fr 1fr;
            }
        }

        &__tabs {
            display: flex;
            margin-top: 40px;
            margin-left: 27px;
        }
    }

    .about-contact-sect {
        padding-top: 137px;

        .contact-hero {
            padding: 0px 95px;
        }
    }

    .rep-cases {
        &-sect {
            &_lawyer {
                padding-top: 73px;
                padding-bottom: 126px;
            }
        }
        &__content {
            padding: 39px 50px 31px 50px;
        }
    }

    .navigation {
        .container {
            grid-template-columns: 17.1053% auto;
        }
    }

    .menu {
        display: none;
    }

    .nav-search {
        width: 433px;
        margin-left: -434px;
    }

    .home-insights {
        &_single-practice {
            padding-top: 138px;
            padding-bottom: 139px;
        }
    }
    .job-about {
        &-sect {
            padding-bottom: 146px;
        }

        &__wrap {
            &_main {
                grid-template-columns: auto;
                grid-column-gap: 0;
                grid-row-gap: 100px;
                grid-template-areas:
                    'join join'
                    'contact contact';
            }

            &_left {
                grid-area: join;
            }

            &_right {
                grid-area: contact;
                padding-left: 0;
                padding-right: 150px;

                .h-social {
                    margin-top: 62px;
                }
            }
        }
    }

    .approach {
        grid-template-columns: auto;
        grid-column-gap: 0;
        grid-row-gap: 35px;
        grid-template-areas:
            'left left'
            'right right';

        &__wrap {
            &_left {
                grid-area: left;
                padding: 0;

                &:after {
                    display: none;
                }

                &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    left: 0;
                    bottom: -16px;
                    background-color: $black_02;
                }
            }

            &_right {
                grid-area: right;
                padding: 0;
            }
        }
    }

    .rep-cases {
        &__subtitle {
            height: auto;
            min-height: 88px;
            padding-right: 90px;

            span {
                padding: 26px 0px;
            }
        }
    }

    .recognition-sect_trusted {
        padding-bottom: 67px;
    }

    .reviews {
        &__title {
            i {
                display: none;
            }
        }

        &__wrap {
            &_top {
                margin-bottom: 58px;
            }

            &_bot {
                overflow: hidden;
                height: 362px;
            }
        }

        &-sect {
            padding-top: 0;
            padding-bottom: 173px;
            margin-bottom: 0;
            overflow: visible;

            &_single-practice {
                padding-top: 136px;
                padding-bottom: 138px;
            }

            .slider__wrapper {
                height: 325px;
                padding-bottom: 0;
            }

            .slider-btns {
                display: none;
            }

            .slider-navigation {
                top: auto;
                right: auto;
                bottom: -90px;

                .slider-pagin {
                    padding-left: 0;
                }
            }
        }
    }

    .review {
        &__about {
            position: relative;
            top: 0;
            margin-bottom: 38px;
            max-width: 270px;
        }

        &__name {
            &:before {
                display: none;
            }
        }

        &__slide {
            display: block;
        }

    }

    .service {
        grid-template-columns: 1fr 1fr;
    }
    
    .overview {
        display: block;

        &-sect {
            padding-bottom: 137px;
        }

        &__wrap {
            &_right {
                display: grid;
                grid-template-rows: auto;
                grid-template-areas:
                    'print'
                    'lawyer'
                    'topics';
            }

            &_left {}

            &-head {
                &-main {
                    display: flex;
                    max-width: 100%;
                }
            }

            &-about {
                margin-top: 0;
                margin-left: 49px;
                padding-right: 150px;
            }

            &-tag {
                max-width: 100%;
            }
        }

        &__head {
            padding: 73px 0px 72px 70px;
            grid-area: lawyer;
        }

        &__tags {
            grid-area: topics;
        }

        &__print-share {
            margin-bottom: 38px;
            margin-bottom: 72px;
            grid-area: print;
        }

        &__tags {
            padding: 57px 60px 16px 72px;
        }
    }
    .article {
        &__wrap {
            &_right {
                @extend .overview__wrap_right;
                 grid-template-areas: 
                 'print'
                 'event'
                 'lawyer'
                 'topics';
            }
        }
    }
    .event {
        grid-area: event;
    }
    .modal-job,
    .sub-practice {
        &__content {
            grid-template-columns: auto;
            grid-column-gap: 0;
            grid-template-areas:
                'content content'
                'items items';
        }

        &__wrap {
            &_left {
                grid-area: content;
                height: 850px;
            }

            &_right {
                grid-area: items;
            }
        }

        &__wrapper {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        &__offers {
            display: flex;
            height: 184px;
            width: 100%;

            .simplebar-content {
                display: flex;
            }

            .simplebar-horizontal {
                background-color: transparent;

                .simplebar-scrollbar {
                    &::before {
                        height: 4px;
                        background-color: $black;
                    }
                }
            }

            // .simplebar-horizontal .simplebar-scrollbar::before
        }

        &__item {
            min-width: 352px;
            height: 164px;
            margin-right: 32px;
            margin-bottom: 0;

            &:last-child {
                margin-right: 10px;
            }
        }
    }

    // .rep-cases {
    //     &__content {
    //         padding: 39px 320px 31px 50px;
    //     }
    // }

    .mod-menu {
        &__label {
            &::before {
                left: -5px;
                width: 115%;
            }
        }
        &__name {
            color: $white;
        }
    }
    .subscribe {
        &__wrap {
            &-text {
                padding: 0px 36px;
            }
        }
    }
    .contact-map__block {
        top: 647px;
        left: 29px;
    }
    .lawyer-ab {
        display: block;
        &-sect {
            position: relative;
        }
        &__pract-sect {
            padding-right: 33px;
        }
        &__ps {
            &-list {
                width: 100%;
            }
        }
        &__text {
            &-content {
                margin-left: 0;
                padding-top: 447px;
                padding-right: 0;
                margin-bottom: 59px;
            }
        }
        
        // position: relative;
        &__law {
            position: absolute;
            padding-top: 0;
            padding-left: 14px;
            left: 0;
            top: 0;
            width: 100%;
        }
        &__wrap {
            &-about {
                display: flex;
            }
            &-name-pos {
                padding-top: 224px;
            }
            &-cont {
                margin-top: 41px;
                margin-bottom: 27px;
            }
            &-head {
                &-main {
                    max-width: 100%;
                }
            }
            &-img {
                top: -72px;
                left: 15px;
            }
        }
        &__item {
            &-cont {
                padding-right: 80px;
            }
        }
    }
    .policy__content {
        padding-right: 0;
    }
    .search-ins {
        grid-column-gap: 32px;
        grid-column-gap: 32px;
        .insights__card {
            margin: 0;
        }
    }
    .topics {
        &__item {
            button {
                padding: 5px 15px;
            }
        }
    }
    .modal-sub {
        // &__input {
        //     &:nth-child(1),
        //     &:nth-child(2) {
        //         max-width: 225px;
        //     }
        // }
        &__wrapper-inp {
            &.wr-1, &.wr-2 {
                max-width: 225px;
            }
        }
        &__item {
            margin-right: 0;
        }
    }
    .search-criteria {
        &__maches {
            display: none;
        }
        &__item {
            margin-bottom: 14px;
        }
        &__label {
            // font-size: rem(10);
        }
        &__filters {
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 50%;
        }
        &__wrap {
            &-filters {
                justify-content: flex-start;    
                align-items: flex-start;
                width: 100%;
            }
        }
        &__clear {
            margin-left: auto;
        }
    }
    .header-inside {
        &_search-bar {
            height: 585px;
        }
        &_people {
            height: 675px;
        }
    }
    .search-bar {
        &__wrapper {
            display: block;
        }
        &__main-input {
            margin-bottom: 16px;
        }
        &__wrap-select {
            width: 100%;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .search-law {
        grid-template-columns: 1fr 1fr;
    }
    .lawyer-ab__item-cont {
        padding-right: 80px;
    }
    .error-page__text {
        padding: 0;
    }
    .coockies {
        &-block {
            height: 70px;
        }
        &__text {
            font-size: rem(10);
            br {
                display: block;
            }
            a {
                display: inline-block;
            }
        }
        &__btn {
            height: 70px;
        }
    }
    .modal-sub__wrap-radio {
        display: grid;
        grid-template-columns: auto auto;
    }
    .modal-sub {
        &__text {
            font-size: rem(20);
        }
    }
    .tooltip {
        width: 15px;
        height: 15px;
    }
    .article__block-text ol,
    .article__block-text ul {
        padding-left: 32px;
    }
}