@media screen and (min-width: 1300px) {
    // .article-sect .article-content,
    // .article-content {
    //     padding-left: 5%;
    // }
    .lawyer-ab {
        grid-template-columns: width(728, 1329) width(575, 1329);
    }
    
}
@media screen and (max-width: 1380px) {
    .header-hero {
        &:after {
            // width: 1050px;
        }
    }
}
@media screen and (min-width: 1300px) {
    .lawyer-ab {
        grid-template-columns: width(728, 1329) width(575, 1329);
    }
}
@media screen and (min-width: 1400px) {

    .article-sect .article-content,
    .article-content {
        padding-left: 11%;
    }
    .header-hero {
        &:after {
            width: 1050px;
        }
    }
}
@media screen and (min-width: 1520px) {
    .article-content {
        padding-left: 10.6%;
    }
    .header-hero {
        &:after {
            width:1100px;
        }
    }
}
@media screen and (min-width: 1620px) {
    .article-sect .article-content,
    .article-content {
        padding-left: 14.6%;
    }
}
@media screen and (min-width: 1720px) {
    .modal-job__wrapper,
    .sub-practice__wrapper {
        height: 732px;
    }
    .modal-job__offers,
    .sub-practice__offers {
        height: 742px;
    }
    .modals.active-static .modal-static:after,
    .modals.active-static:after {
        width: 37.14145%;
    }
    .article-sect .article-content,
    .article-content {
        padding-left: 16.5%;
    }
}
@media screen and (min-width: 1820px) {
    .article-sect .article-content,
    .article-content {
        padding-left: 18.22%;
    }
}



// @media screen and (min-width: 1440px) {
//     .article-content {
//         padding-left: 10%;
//     }
// }
@media screen and (min-width: 1600px) {
    .header-hero {
        &:after {
            width: 1150px;
        }
    }
    
    // .modal-job__text-content {
    //     height: 562px;
    // }
    // .modal-job__offers {
    //     height: 562px;
    // }
}
@media screen and (min-width: 1800px) {
    .header-hero {
        &:after {
            width: 1300px;
        }
    }
    
    // .modal-job__text-content {
    //     height: 562px;
    // }
    // .modal-job__offers {
    //     height: 562px;
    // }
}