// .overview__head

&__head {
    @extend %card-wrap-main;
    margin-bottom: 28px;
}

// .overview__wrap-head-main

&__wrap-head-main {
    max-width: 289px;
}

// .overview__wrap-img

&__wrap-img {
    @extend %card-wrap-img;
}

// .overview__wrap-about

&__wrap-about {
    @extend %card-wrap-name-position;
}

// .overview__wrap-name-pos

&__wrap-name-pos {}

// .overview__name

&__name {}

// .overview__position

&__position {}

// .overview__wrap-rec

&__wrap-rec {
    @extend %card-recognitions;
}

// .overview__item-rec

&__item-rec {

    // .overview__item-rec_title

    &_title {}
}

// .overview__btns

&__btns {
    @extend %df;
}

// .overview__v-card

&__v-card {
    @extend %v-card;
    margin-right: 17px;
}

// .overview__svg

&__svg {}

// .overview__path

&__path {}

// .overview__pdf

&__pdf {
    @extend %layer-card-pdf;
}

// .overview__tags

&__tags {
    @extend %card-tags;
}

// .overview__tag-title

&__tag-title {
    @extend %cart-writer-name;
    margin-bottom: 22px;
}

// .overview__wrap-tag

&__wrap-tag {
    @extend %card-tags-items; 
}

// .overview__tag-item

&__tag-item {
    min-height: 32px;
    margin-right: 12px;
    margin-bottom: 12px;
    a {
        padding: 5px 12px;
    }
}


// share 

// .overview__print-share

&__print-share {
    @extend %df;
    @extend %aic;
    // @extend %;
    margin-top: 22px;
}

// .overview__print

&__print {
    @extend %btn-print;
    margin-right: 34px;
}

// .overview__pr-svg

&__pr-svg {
    // position: relative;
    // width: 16px;
    // height: 16px;
}

// .overview__pr-path

&__pr-path {
    fill: $black;
}

// .overview__share

&__share {
    
}

// .overview__sh-main

&__sh-main {
    @extend %df;
    @extend %aic;
    &:hover {
        span {
            opacity: 0;
        }
        ul {
            @for $i from 1 through 3 {
                li:nth-child(#{$i}) {
                    z-index: 2;
                    opacity: 1;
                    transform: rotate(0deg);
                    transition-delay:#{$i*0.08}s;
                }
            }
            li {
                &:nth-child(1) {
                    left: 0;
                }
                &:nth-child(2) {
                    left: 38px;
                }
                &:nth-child(3) {
                    left: 38 + 38 + px;
                }
            }
        }
    }
}

// .overview__sh-btn

&__sh-btn {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 32px;
    height: 32px;
    svg {
        margin-top: 4px;
    }
    position: relative;
    span {
        position: absolute;
        z-index: -1;
        @extend %mont-regular;
        @extend %fz-14;
        @extend %lh-16;
        @extend %ls-2;
        top: 50%;
        right: -45px;
        margin-top: -9px;
        opacity: 1;
        transition: opacity .5s ease;
    }
    
}

// .overview__sh-svg

&__sh-svg {

    // .overview__sh-svg_share

    &_share {
        width: 13px;
        height: 14px;
    }

    // .overview__sh-svg_fb

    &_fb {
        width: 7px;
        height: 14px;
    }

    // .overview__sh-svg_tw

    &_tw {
        width: 15px;
        height: 12px;
    }

    // .overview__sh-svg_in

    &_in {
        width: 15px;
        height: 14px;
    }
}

// .overview__sh-path

&__sh-path {
    fill: $black;
}

// .overview__sh-wrapper

&__sh-wrapper {
    position: relative;
    width: 111px;
    height: 35px;
    @extend %df;
    @extend %aic;
}

// .overview__sh-item

&__sh-item {
    width: 32px;
    height: 32px;
    background-color: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: all ease 1s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    &:hover {
        background-color: $hard_blue;
        svg {
            path {
                fill: $white;
            }
        }
    }
}

// .overview__sh-link

&__sh-link {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 100%;
    height: 100%;
}
.event {
    padding: 70px 0px 72px 62px;
    background-color: $soft_blue;
    margin-bottom: 25px;
    &_speaker {
        padding: 62px 0px 32px 60px;
        .event__title {
            margin-bottom: 25px;
        }
        .overview {
            &__position {
                margin-bottom: 10px;
            }
            &__wrap-head-main {
                margin-bottom: 40px;
            }
        }
    }
    // .event__title

    &__title {
        @extend %footer-title;
        color: $black;
    }

    // .event__wrap

    &__wrap {
        margin-top: 22px;
    }

    // .event__item

    &__item {
        @extend %card-contacts-title;
        margin-bottom: 11px;

        i {
            margin-right: 10px;
        }
        a {
            color: $black;
            &:hover {
                color: $red;
            }
        }
    }

    // .event__btn

    &__btn {
        @extend %contact-us-btn;
        background-color: $hard_blue;
        color: $white;
        margin-top: 30px;

        &:hover {
            border-color: $hard_blue;
            color: $hard_blue;
        }
        &.disabled {
            pointer-events: none;
            background-color: $gray;
            color: $black;
            &:hover {
                border-color: transparent;
                color: $black;
            }
        }
    }
}