// .overview__content-text

&__content-text {}

// .overview__intro

&__intro {
    @extend %intro-text;
    margin-bottom: 34px;
}

// .overview__wysiwyg

&__wysiwyg {
    position: relative;
    padding-right: 20px;
    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        top: -15px;
        background-color: $hard_blue-01;
    }
    p {
        @extend %read-text;
        @extend %link-in-text;
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}