.overview-sect {
    padding-top: 140px;
    padding-bottom: 128px;
    // .overview-sect__title

    &__title {
        @extend %h2-title-inside;
        margin-bottom: 58px;
    }
}

.overview {
    @extend %dg;
    grid-template-columns: width(774, 1329) width(522, 1329);
    grid-column-gap: 32px;
    grid-row-gap: 33px;
    // .overview__wrap

    &__wrap {

        // .overview__wrap_left

        &_left {}

        // .overview__wrap_right

        &_right {}
    }

    @import 'overview/over-left';
    @import 'overview/over-right';
}
