.service-sect {}

.container {}

.service {
    @extend %dg;
    grid-template-columns: width(384) width(384) width(384);
    // grid-template-rows: 270px 270px 270px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    height: auto;
    max-height: 270px;
    overflow: hidden;
    transition: max-height 1s ease, height 1s ease;
    margin-bottom: 72px;
    &.open {
        max-height: 2000px;
    }
    // .service-sect
    
    &-sect {
        padding-top: 135px;
        padding-bottom: 143px;
        background-color: $soft_blue;
        &__title {
            @extend %h2-title-inside;
            margin-bottom: 67px;
        }
    }

    // .service__title

    &__title {
        @extend %read-text;
    }

    // .service__item

    &__item {
        @extend %service-card;
    }

    // .service__item-title

    &__item-title {}

    // .service__wrap-btn

    &__wrap-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 58px;
    }

    // .service__btn

    &__btn {
        @extend %btn-cards-plus;
        &:hover {
            background-color: transparent;
        }
    }

    &__more {
        @extend %more-less-btn;
        &:hover {
            background-color: $white;
        }
    }
}
