@media print {
    @page {
        margin: .8cm;
    }
    .logo__img {
        fill: $red;
    }
    .header-page__title {
        color: $black;
    }
    .breadcrumbs,
    .menu,
    .nav-btns,
    .achivs-sect,
    .footer,
    .header-page__title,
    .lawyer-ab__btns {
        display: none;
    }
    .rep-cases__content {
        display: block;
        padding: 0;
    }
    .lawyer-ab {
        display: block;
        .article-content {
            max-width: 100%;
            padding: 0 25px;
        }
        &__text-content {
            margin-left: 0;
            // margin-top: 20px;
        }
        &__law {
            position: absolute;
            padding-top: 0;
            // padding-left: 14px;
            padding-bottom: 0;
            padding-left: 0;
            left: 0;
            top: 170px;
            width: 100%;
        }
        &__wrap {
            &-about {
                display: flex;
            }
            &-name-pos {
                padding-top: 224px;
                position: relative;
                bottom: 0;
                left: 0;
            }
            &-cont {
                margin-top: 41px;
                margin-bottom: 27px;
            }
            &-head {
                &-main {
                    max-width: 100%;
                }
            }
            &-img {
                top: -72px;
                left: 0;
            }
        }
        &__pract-sect {
            box-shadow: none;
            padding: 0;
        }
        &__ps-list {
            height: auto;
            padding: 0;
        }
    }
    .rep-cases {
        &-sect {
            padding-top: 50px;
        }
        &__subtitle {
            padding: 0;
            color: $black;
        }
    }
}