%btn-basic-style {
    position: relative;
    display: block;
    @extend %mont-semiBold;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    @extend %ttu;
    text-align: center;
}
%btn-line-down {
    @extend %btn-basic-style;
    color: $black;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $black;
        margin: 0 auto;
        margin-top: 10px;
        transition: all .5s ease;
    }
    &:hover {
        &:after {
            transform: scale(.8);
            // width: 150%;
        }
    }
}
%v-card {
    @extend %df;
    @extend %fdc;
    @extend %aic;
    width: 91px;
    height: 32px;
    overflow: hidden;
    border: 1px solid $black;
    @extend %mont-regular;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-2;
    @extend %ttu;
    color: black;
    span {
        display: block;
        margin-top: 8px;
        transition: all .5s ease;
    }
    i {
        display: block;
        margin-top: 8px;
        transition: all .5s ease;
        svg {
            opacity: 0;
            width: 16px;
            height: 16px;
            transition: all .5s ease;
            path {
                fill: $black;
            }
        }
    }
    &:hover {
        span,i {
            color: transparent;
            -webkit-transform: translateY(-130%);
            transform: translateY(-130%);
        }
        i {
            svg {
                opacity: 1;
            }
        }
    }
}
%layer-card-pdf {
    @extend %v-card;
    width: 63px;
    color: $white;
    border: none;
    background-color: $red;
    i {
        svg {
            path {
                fill: $white;
            }
        }
    }
}
%contact-us-btn {
    @extend %btn-basic-style;
    display: flex !important;
    @extend %aic;
    @extend %jcc;
    width: 242px;
    height: 64px;
    background-color: $white;
    color: $hard_blue;
    border: 1px solid transparent;
    &:hover {
        border-color: $white;
        background-color: transparent;
        color: $white;
    }
}
%input {
    display: block;
    height: 100%;
    border: none;
    @extend %mont-regular;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-2;
    padding-left: 32px;
    background-color: transparent;
}
%serch-wrapper {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    height: 56px;
    background-color: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    &:hover {
        %serch-bth {
            background-color: $soft_blue;
        }
    }
}
%select-wrapper {
    @extend %serch-wrapper;
    position: relative;
    &:after,
    &:before {
        position: absolute;
        z-index: 6;
        content: '';
        display: block;
        width: 6px;
        height: 1px;
        background-color: $black;
        transition: all 1s ease;
    }

    &:after {
        right: 34px;
        transform: rotate(45deg)
    }

    &:before {
        right: 30px;
        transform: rotate(-45deg)
    }

    &:hover {
        &:after {
            transform: rotate(-45deg)
        }

        &:before {
            transform: rotate(45deg)
        }
    }

    i {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        display: block;
        width: 24px;
        height: 100%;
        background-color: $white;
    }
}
%serch-bth {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    transition: all .5s ease;
    border-left: 1px solid #E0E0E0;
    height: 100%;
    span {
        display: block;
        width: 24px;
        height: 24px !important;
        height: 100%;
    }
    svg {
        width: inherit;
        height: inherit;
    }
}
%select-styling {
    position: relative;
    @extend %select;
    width: 100%;
    height: 100%;
    border: none;
    transition: all .5s ease;
    padding-left: 28px;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: red;
    }

    &:hover {
        color: $black;
        // background-color: ;
    }

    &:disabled {
        cursor: not-allowed;

        &:hover {
            color: $gray;
        }
    }
}
%interactive-link {
    position: relative;
    width: fit-content;
    &:hover {
        a,b {
            &:after {
                transition-delay: 0;
                opacity: 0;
            }
        }
        &::after,
        &::before {
            left: -28px;
            width: calc(100% + 55px);
        }
    }
    &:active {
        &::after,
        &::before {
            height: 20px;
            margin-top: -15 / 2 + px;
        }
    }
    &::after,
    &::before {
        position: absolute;
        content: '';
        top: 18px;
        width: 0;
        right: -27px;
        height: 8px;
        z-index: -1;
    }

    &::before {
        transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s, height .5s ease;
        background: $soft_blue;
    }

    &::after {
        transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83), height .5s ease;
        background: $soft_blue;
    }
    a,b {
        position: relative;
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            top: 11px;
            left: -28px;
            background-color: $soft_blue;
            transition: all .5s ease;
            transition-delay: .3s;
        }
    }
}
%viev-all {
    position: relative;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 242px;
    height: 64px;
    margin: 0 auto;
    @extend %mont-semiBold;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    @extend %ttu;
    text-align: center;
    color: $black;
    transition: all .5s ease;

    svg {
        position: absolute;
        top: 0;
        left: 0;

        rect {
            fill: none;
            stroke: $black;
            stroke-width: 3;
            stroke-dasharray: 400,
                0;
            transition: all 0.8s ease-in-out;
        }
    }

    &:hover {
        background-color: $white;
        transition-delay: .8s;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        svg {
            rect {
                stroke-width: 3;
                stroke-dasharray: 0, 502;
                // stroke-dasharray: 75, 392;
                stroke-dashoffset: 78;
                transition: all 0.8s ease-in-out;
            }
        }
    }
}
%more-less-btn {
    @extend %viev-all;
    overflow: hidden;
    flex-direction: column;
    &.active {
        span {
            &:first-child {
                opacity: 0;
                transform: translateY(-27px);
            }

            &:nth-child(2) {
                opacity: 1;
                transform: translateY(-12px)
            }
        }
    }

    span {
        display: block;
        width: 100%;
        transition: transform .8s ease, opacity .5s ease;

        &:first-child {
            transform: translateY(13px);
            // margin-top: 25px;
        }

        &:nth-child(2) {
            opacity: 0;
            transform: translateY(34px)
        }
    }

    &:hover {
        transition-delay: .8s;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

        svg {
            rect {
                stroke-dasharray: 0, 502;
                transition: all 1s ease-in-out;
            }
        }
    }
}
%btn-print {
    @extend %viev-all;
    width: 174px;
    margin: 0;
    background-color: $soft_blue;
    transition: all 1s ease;
    span {
        @extend %mont-regular;
        @extend %fz-14;
        @extend %lh-16;
        @extend %ls-2;
        text-transform: capitalize;
    }
    i {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        svg {
            position: relative;
            width: 16px;
            height: 16px;
        }
    }
    svg {
        rect {
            stroke-dasharray: 0, 304;
        }
    }
    &:hover {
        transition-delay: 0s;
        background: $white;
        box-shadow: none;
        svg {
            rect {
                    stroke-dasharray: 400, 0;
            }
        }
    }
}
%btn-contact-map {
    position: relative;
    width: 504px;
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: $white;
        bottom: 0;
        left: 0; 
        transform: scale(0);
        transition: transform 1s ease;
    }
    &:hover {
        button {
            color: $white;
        }
    }
    &.active {
        &:after {
            transform: scale(1);
        }
        button {
            color: $white;
        }
    }
    button {
        display: block;
        padding-bottom: 20px;
        width: 100%;
        height: 100%;
        text-align: center;
        @extend %tab-contact-map;
    }
}