%card-tabs-wrap {
    @extend %grid-for-card;
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
    transition: transform .5s ease,
    opacity .8s ease;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 2;
        transform: translateY(0);
        opacity: 1;
        transition-duration: 1s;
        transition-delay: .5s;
    }
}

%article-card {
    position: relative;
    height: 518px;
    background-color: $white;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px $hard_blue-01;
    &:hover {
        %article-cart-link  {
            background-color: $soft_blue;
        }
    }
}

%article-card-img {
    max-width: 100%;
    height: 256px;
    max-height: 256px;
    overflow: hidden;
    img {
        max-width: inherit;
        width: 100%;
        height: inherit;
    }
}

%article-cart-content-area {
    padding: 31px 31px 0 32px;
}

%article-cart-without-img {
    padding-top: 44px;

    h3,
    h2 {
        margin-bottom: 29px;
    }
}

%article-card-date {
    @extend %mont-regular;
    @extend %fz-14;
    @extend %lh-16;
    @extend %ls-2;
    color: $text_soft-blue;
    margin-bottom: 9px;
}

%article-card-tag {
    position: relative;
    margin-left: 34px;

    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 14px;
        height: 1px;
        top: 50%;
        left: -14 + -12 + px;
        background-color: $text_soft-blue;
    }
}

%article-cart-title {
    @extend %minion-regular;
    @extend %fz-24;
    @extend %lh-32;
    @extend %ls-2;
    color: $black;
}

%article-card-text {
    position: relative;
    @extend %minion-regular;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    color: $black;

    &:before {
        position: absolute;
        content: '';
        display: block;
        top: -17px;
        left: 0;
        width: 56px;
        height: 1px;
        background-color: $hard_blue-01;
    }
}

%article-cart-link {
    position: absolute;
    // display: block;
    @extend %mont-semiBold;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    @extend %ttu;
    @extend %df;
    @extend %aic;
    width: 100%;
    height: 63px;
    padding-left: 32px;
    bottom: 0;
    color: $black;
    transition: all .5s ease;
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 322px;
        height: 1px;
        background-color: $hard_blue-01;
        left: 31px;
        bottom: 63px;
    }

    span {
        display: inline-block;

        &:after,
        &:before {
            position: absolute;
            content: '';
            right: 30px;
            margin-top: -5px;
            display: block;
            height: 2px;
            width: 9px;
            background-color: $black;
            transition: all .5s ease;
        }

        &:after {
            margin-top: 3px;
            transform: rotate(-45deg);
            bottom: 29px;
        }

        &:before {
            bottom: 34px;
            transform: rotate(45deg)
        }
    }
}
%jobs {
    @extend %article-card;
    overflow: hidden;
    padding-top: 38px;
    padding-left: 30px;
    height: 242px;
    transition: all 1s ease;
    cursor: pointer;
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 322px;
        height: 1px;
        left: 50%;
        bottom: 58px;
        margin-left: (-322 / 2)+ px;
        background-color: $hard_blue-01;
    }
    &.active {
        display: block;
    }
    &.hide {
        display: none;
    }
    &:hover {
        %btn-cards-plus {
            background-color: $soft_blue;
    
            &:before {
                transform: rotate(0);
            }
        }
    }
}
%transperent-jobs {
    @extend %jobs;
    background-color: transparent;
    padding-top: 24px;
    padding-left: 31px;
    height: 164px;
    margin-bottom: 24px;
    &:last-child {
        margin-bottom: 4px;
    }

    &:after {
        bottom: 42px;
    }
    &:hover {
        %btn-cards-plus {
            background-color: transparent;
        }
    }
}
%service-card {
    @extend %transperent-jobs;
    padding: 38px 20px 0 31px;
    margin-bottom: 0;
    height: 270px;
    &:after {
        bottom: 56px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
%btn-cards-plus {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58px;
    cursor: pointer;
    &:after,
    &:before {
        position: absolute;
        content: '';
        right: 33px;
        bottom: 28px;
        display: block;
        width: 11px;
        height: 2px;
        background-color: $black;
        transition: all .5s ease;
    }

    &:before {
        transform: rotate(90deg);
    }
}

// Writer
%card-wrap-main {
    padding: 76px 0px 72px 60px;
    background-color: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
%card-wrap-img {
    width: 177px;
    img {
        width: inherit;
    }
}
%card-wrap-name-position {
    margin-top: 17px;
    h3 {
        margin-bottom: 3px;
        a {
            @extend %cart-writer-name;
            &:hover {
                color: $red;
            }
        }
    }
    p {
        @extend %cart-writer-positions;
        padding-right: 30px;
    }
}
%card-wrap-name-position-lawyer-page {
    h2 {
        margin-bottom: 10px;

        a {
            @extend %lawyer-page-name;
            &:hover {
                color: $red;
            }
        }
    }

    p {
        @extend %lawyer-page-position;
        padding-right: 60px;
    }
}
%lawyers-contact {
    margin-top: 37px;
    margin-bottom: 43px;
    li {
        position: relative;
        padding-left: 29px;
        padding-right: 29px;
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
        i {
            display: block;
            position: absolute;
            top: 3px;
            left: 0px;
        }
        span {
            @extend %card-contacts-items;
            transition: all .5s ease;
        }
        a {
            display: block;
            &:hover {
                span {
                    color: $red;
                }
            }
        }
    }
}
%card-recognitions {
    margin-top: 33px;
    margin-bottom: 24px;
    li {
        position: relative;
        @extend %card-rec-items;
        padding-left: 18px;
        &:first-child {
            @extend %card-rec;
            margin-bottom: 5px;
            padding-left: 0;
        }
        span {
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 50%;
                margin-top: -4px;
                left: 0;
                width: 8px;
                height: 8px;
                background-color: $soft_blue;
            }
        }
    }
}
%card-tags {
    @extend %card-wrap-main;
    padding: 65px 0px 61px 60px;
}

%card-tags-items {
    @extend %df;
    @extend %fw;
    max-width: 380px;
    li {
        box-shadow: inset 0 0 0 1px $hard_blue-01;
        transition: all .5s ease;
        &:hover {
            background-color: $soft_blue;
        }
        a, 
        button {
           @extend %tag-link;
        }
    }
}
%share {
    
}