//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$white_03: rgba(255, 255, 255, .3);
$white_05: rgba(255, 255, 255, .5);
$pink: #B80D4D;
$red: #C8102E;
$red_03: rgba(200, 16, 46, .3);
$hard_blue: #002E5D;
$hard_blue-01: rgba(0, 46, 93, .1);
$hard_blue-03: rgba(0, 46, 93, .3);
$black: #000;
$black_01: rgba(0,0,0,.1);
$black_02: rgba(0,0,0,.2);
$black_03: rgba(0,0,0,.3);
$black_04: rgba(0,0,0,.4);
$black_05: rgba(0,0,0,.5);
$black_06: rgba(0,0,0,.6);
$soft_blue: #ECF0F4;
$gray: #707070;

$text_blue: #1A436D;
$text_black: #1B1B1B;
$text_soft-blue: #4D6D8E;
$text_gray: #7E7E7E;

$body_bg: $white;
//---------------------------------------------colors###
$decstop_container_width: 1216;