.article-sect {
    padding-top: 94px;
    padding-bottom: 78px;
}

.article {
    @extend .overview;
    // .article__wrap

    &__wrap {

        // .article__wrap_left

        &_left {
            padding-top: 2px;
            padding-right: 30px;
        }

        // .article__wrap_right

        &_right {}
    }

        // .article__date-topic

    &__date-topic {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
        padding-bottom: 24px;
        margin-bottom: 28px;
        border-bottom: 1px solid $hard_blue-01;
         &_event {
             margin-bottom: 23px;
         }
    }

    // .article__wrap-date

    &__wrap-date {
        @extend %article-date-text;
    }

    // .article__date

    &__date {}

    // .article__type

    &__type {}

    // .article__wrap-topic

    &__wrap-topic {
        @extend %df;
        @extend %aic;
        // padding-right: 32px;
    }

    // .article__topic-text

    &__topic-text {
        @extend %article-date-text;
        color: $black;
        margin-right: 14px;
    }

    // .article__topic-wrapper

    &__topic-wrapper {
        @extend %card-tags-items;
    }

    // .article__topic-item

    &__topic-item {
        background-color: $soft_blue;
        margin: 6px;
        // &:last-child {
        //     margin: 0;
        // }
        &:hover {
            background-color: transparent !important;
        }
    }

    // .article__topic-link

    &__topic-link {
        padding: 5px 12px;
        // @extend %tag-link;
    }

    // .article__content-list

    &__content-list {
        margin-bottom: 19px;
        padding-bottom: 24px;
        border-bottom: 1px solid $hard_blue-01;
        li {
            @extend %df;
        }
        li:not(.top) {
            a {
                &:before {
                    content: '—';
                }
            }
        }
    }

    // .article__cl-title

    &__cl-title {
        @extend %content-list-title;
        margin-bottom: 23px;
    }

    // .article__cl-wrap

    &__cl-wrap {}

    // .article__cl-item

    &__cl-item {
        
    }
    // .article__cl-num

    &__cl-num {
        @extend %article-content-list-num;
        display: block;
        min-width: 20px;
        margin-top: 13px;
        margin-right: 34px;
    }

    // .article__cl-link

    &__cl-link {
        @extend %card-lawyers-practice-sectors-items;
        text-transform: none;
        color: $gray;
        transition: all .5s ease;
        &:hover {
            color: $black;
        }
    }

    // .article__block-text

    &__block {
        &-text,
        &-dow {
            @extend %article-block-text;
        }
        &-intro {
            @extend %article-block-intro;
        }
        &-quote {
            @extend %article-block-quote;
        }
        &-video {
            iframe {
                width: 100%;
                min-height: 400px;
                margin-bottom: 47px;
            }
        }
    }

}

.swiper-container {
    &.swiper-container-initialized {
        &.slider {
            &_article {
                margin-bottom: 70px;
                .slider-btns {
                    display: block;
                }
            }
        }
    }
    &.slider {
        &_article {
            position: relative;
            margin-top: -13px;
            margin-bottom: 33px;
            height: 419px;
            overflow: visible;

            .slider__wrapper {
                padding-bottom: 0;
            }
            .btn-arr {
                position: absolute !important;
                top: 50%;
                margin-top: -8px;
            }

            .btn-prev {
                left: 21px;
            }

            .btn-next {
                right: 21px;
            }
            .slider__item {
                height: 419px;
            }
            .slider-btns {
                display: none;
                position: absolute !important;
                top: 50%;
                width: 100%;
            }
        }
    }
}
.atl-slide {
    width: 100%;
    height: 419px;
    // .atl-slide__wrap-img

    &__wrap-img {
        width: 100%;
        height: 419px;

        img {
            width: 100%;
            height: 419px;
        }
    }
}
.slider-pagin {
    &_article {
        margin-top: 23px;
        padding: 0 !important;
        @extend %df;
        @extend %aic;
        @extend %jcc;
    }
}