//= mainHtml/head.html

<body class="page-policy">
    //= main-Half-Pages/policy-nav.html
    <main class="main">
        <section class="error-page-sect">
            <div class="container">
                <h1 class="error-page__title">
                    404
                </h1>
                <!-- /.error-page__title -->
                <p class="error-page__text">
                    Our apologies, this is almost certainly not the page you were looking for.
                    Please try the search tool, above, or visit our home page.
                </p>
                <!-- /.error-page__text -->
                <!-- font-size: 10px -->
                <!-- line-height: 16px; -->
                <a href="index.html" class="error-page__btn">
                    <span>
                        Back to home
                    </span>
                    <svg width="242" height="64" viewBox="0 0 242 64" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='242' height='64' />
                    </svg>
                </a>
                <!-- /.error-page__btn -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.error-page-sect -->
    </main>
    <!-- /.main -->
    
    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    <!-- //= main-Half-Pages/footer.html -->
    //= mainHtml/scripts.html
</body>

</html>