//= mainHtml/head.html

<body>
    //= main-Half-Pages/navigation.html
    <main class="main">
        //= main-Half-Pages/header-careers.html

        <section class="quote-career-sect">
            <div class="container">
                <h2 class="quote-career__title">
                    GOLAW is a space for brave like-minded people!
                </h2>
                <!-- /.quote-career__title -->
                <blockquote class="quote-career__quote">
                    <p>
                        Start by getting the right people on the bus, the wrong people off the bus, and the right people
                        in the right seats” – this dictum from Jim Collins’s book “Good to Great” illustrates the
                        GOLAW’s approach to human resource management.
                    </p>
                </blockquote>
                <!-- /.quote-career__quote -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.quote-career-sect -->
        <section class="jobs-sect">
            <div class="container">
                <div class="jobs__wrap jobs__wrap_top">
                    //= hafl-Careers-Page/job-top.html
                </div>
                <!-- /.jobs__wrap jobs__wrap_top -->
                <div class="jobs__wrap jobs__wrap_bot">
                    //= hafl-Careers-Page/job-content.html
                </div>
                <!-- /.jobs__wrap jobs__wrap_bot -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.jobs-sect -->
        <section class="job-about-sect">
            <div class="container">
                <div class="job-about__wrap_main">
                    <div class="job-about__wrap job-about__wrap_left">
                        //= hafl-Careers-Page/job-about-left.html
                    </div>
                    <!-- /.job-about__wrap job-about__wrap_left -->
                    <div class="job-about__wrap job-about__wrap_right">
                        //= hafl-Careers-Page/job-about-right.html
                    </div>
                    <!-- /.job-about__wrap job-about__wrap_right -->
                </div>
                <!-- /.job-about__wrap_main -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.job-about-sect -->
    </main>
    <!-- /.main -->
    //= hafl-Careers-Page/modal-jobs.html

    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>
</html>