//= mainHtml/head.html

<body class="page-policy page-exp">
    //= main-Half-Pages/policy-nav.html
    <main class="main">
        <div class="modals modal-page active-static">
            <div class="container">
                <div class="modal-static">
                    <div class="modal-ex__wrap-title">
                        <h2 class="modal-ex__title">Our expertise</h2>
                        <!-- /.modal-ex__title -->
                    </div>
                    <!-- /.modal-ex__wrap-title -->
                    <div class="modal-ex__tabs">
                        <div class="modal-ex__tabs-title">
                            <ul class="modal-ex__wrapper">
                                <li class="modal-ex__tab-item">
                                    <button class="modal-ex__tab-title ex-tab active" data-id="1"><span>Practice
                                            Areas</span></button>
                                </li>
                                <!-- /.modal-ex__tab-item -->
                                <li class="modal-ex__tab-item">
                                    <button class="modal-ex__tab-title ex-tab" data-id="2"><span>Industry
                                            Sectors</span></button>
                                </li>
                                <!-- /.modal-ex__tab-item -->
                                <li class="modal-ex__tab-item">
                                    <button class="modal-ex__tab-title ex-tab" data-id="3"><span>All
                                            Services</span></button>
                                </li>
                                <!-- /.modal-ex__tab-item -->
                            </ul>
                            <!-- /.modal-ex__wrapper -->
                        </div>
                        <!-- /.modal-ex__tabs-title -->
                        <div class="modal-ex__tabs-content">
                            <div class="modal-ex__content">
                                <div data-id="1" class="modal-ex__wrap-cont cont-tab scroll-cont active">
                                    <ul class="modal-ex__tab-cont">
                                        <li class="modal-ex__one-side modal-ex__one-side_1">
                                            <ul class="modal-ex__side">
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Anti-Corruption and
                                                        Anti-Bribery</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Antitrust and competition</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Banking and finance</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Business Protection</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Compliance, Corporate
                                                        governance and
                                                        risk management</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Corporate and M&A</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Criminal Law and White Collar
                                                        Defence</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Employment</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Environment protection</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                            </ul>
                                            <!-- /.modal-ex__side -->
                                        </li>
                                        <!-- /.modal-ex__one-side modal-ex__one-side_1 -->
                                        <li class="modal-ex__one-side modal-ex__one-side_2">
                                            <ul class="modal-ex__side">
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Government relation (GR)</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Insolvency and
                                                        restructuring</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Intellectual property</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">International trade</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Litigation and dispute
                                                        resolution</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Maritime Law</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Private clients</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Real estate</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Tax</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                            </ul>
                                            <!-- /.modal-ex__side -->
                                        </li>
                                        <!-- /.modal-ex__one-side modal-ex__one-side_2 -->
                                    </ul>
                                    <!-- /.modal-ex__tab-cont -->
                                </div>
                                <!-- /.modal-ex__wrap-cont -->
                                <div data-id="2" class="modal-ex__wrap-cont cont-tab scroll-cont">
                                    <ul class="modal-ex__tab-cont">
                                        <li class="modal-ex__one-side modal-ex__one-side_2">
                                            <ul class="modal-ex__side">
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Government relation (GR)</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Insolvency and
                                                        restructuring</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Intellectual property</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">International trade</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Litigation and dispute
                                                        resolution</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Maritime Law</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Private clients</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Real estate</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Tax</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                            </ul>
                                            <!-- /.modal-ex__side -->
                                        </li>
                                        <!-- /.modal-ex__one-side modal-ex__one-side_2 -->
                                    </ul>
                                    <!-- /.modal-ex__tab-cont -->
                                </div>
                                <!-- /.modal-ex__wrap-cont -->
                                <div data-id="3" class="modal-ex__wrap-cont cont-tab scroll-cont">
                                    <ul class="modal-ex__tab-cont">
                                        <li class="modal-ex__one-side modal-ex__one-side_1">
                                            <ul class="modal-ex__side">
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Anti-Corruption and
                                                        Anti-Bribery</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Antitrust and competition</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Banking and finance</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Business Protection</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Compliance, Corporate
                                                        governance and
                                                        risk management</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Corporate and M&A</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Criminal Law and White Collar
                                                        Defence</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Employment</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                                <li class="modal-ex__item">
                                                    <a href="#" class="modal-ex__link">Environment protection</a>
                                                </li>
                                                <!-- /.modal-ex__item -->
                                            </ul>
                                            <!-- /.modal-ex__side -->
                                        </li>
                                        <!-- /.modal-ex__one-side modal-ex__one-side_1 -->
                                    </ul>
                                    <!-- /.modal-ex__tab-cont -->
                                </div>
                                <!-- /.modal-ex__wrap-cont -->
                            </div>
                            <!-- /.modal-ex__content -->
                        </div>
                        <!-- /.modal-ex__tabs-content -->
                    </div>
                    <!-- /.exspertise__tabs -->
                </div>
                <!-- /.modal-static -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.modals -->
    </main>
    <!-- /.main -->
    //= main-Half-Pages/modal-menu.html
    <!-- //= main-Half-Pages/footer.html -->
    //= mainHtml/scripts.html
</body>

</html>