//= mainHtml/head.html

<body>
    //= main-Half-Pages/navigation.html
    <main class="main">
        //= main-Half-Pages/header-hero-search.html

        <section class="search-criteria-sect">
            <div class="container">
                //= half-main-search/search-criteria.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-criteria-sect -->
        <section class="search-ins-sect">
            <div class="container">
                <div class="search-res-main">
                    <div class="search-res-main__item">
                        <h2 class="search-res-main__title">
                            <a href="#" class="search-res-main__link">Max lebedev</a> 
                            <!-- /.search-res-main__link -->
                        </h2>
                        <!-- /.search-res-main__title -->
                        <div class="search-res-main__text">
                            <p>
                                Max lebedev is the Head of Tax praсtice and the main areas of her activities are
                                consulting Ukrainian and foreign companies on national and international taxation, tax
                                risk management and tax structuring of agreements.
                            </p>
                        </div>
                        <!-- /.search-res-main__text -->
                    </div>
                    <!-- /.search-res-main__item -->
                    <div class="search-res-main__item">
                        <h2 class="search-res-main__title">
                            <a href="#" class="search-res-main__link">Max lebedev</a> 
                            <!-- /.search-res-main__link -->
                        </h2>
                        <!-- /.search-res-main__title -->
                        <div class="search-res-main__text">
                            <p>
                                Max lebedev is the Head of Tax praсtice and the main areas of her activities are
                                consulting Ukrainian and foreign companies on national and international taxation, tax
                                risk management and tax structuring of agreements.
                            </p>
                        </div>
                        <!-- /.search-res-main__text -->
                    </div>
                    <!-- /.search-res-main__item -->
                    <div class="search-res-main__item">
                        <h2 class="search-res-main__title">
                            <a href="#" class="search-res-main__link">Max lebedev</a> 
                            <!-- /.search-res-main__link -->
                        </h2>
                        <!-- /.search-res-main__title -->
                        <div class="search-res-main__text">
                            <p>
                                Max lebedev is the Head of Tax praсtice and the main areas of her activities are
                                consulting Ukrainian and foreign companies on national and international taxation, tax
                                risk management and tax structuring of agreements.
                            </p>
                        </div>
                        <!-- /.search-res-main__text -->
                    </div>
                    <!-- /.search-res-main__item -->
                    <div class="search-res-main__item">
                        <h2 class="search-res-main__title">
                            <a href="#" class="search-res-main__link">Max lebedev</a> 
                            <!-- /.search-res-main__link -->
                        </h2>
                        <!-- /.search-res-main__title -->
                        <div class="search-res-main__text">
                            <p>
                                Max lebedev is the Head of Tax praсtice and the main areas of her activities are
                                consulting Ukrainian and foreign companies on national and international taxation, tax
                                risk management and tax structuring of agreements.
                            </p>
                        </div>
                        <!-- /.search-res-main__text -->
                    </div>
                    <!-- /.search-res-main__item -->
                    <div class="search-res-main__item">
                        <h2 class="search-res-main__title">
                            <a href="#" class="search-res-main__link">Max lebedev</a> 
                            <!-- /.search-res-main__link -->
                        </h2>
                        <!-- /.search-res-main__title -->
                        <div class="search-res-main__text">
                            <p>
                                Max lebedev is the Head of Tax praсtice and the main areas of her activities are
                                consulting Ukrainian and foreign companies on national and international taxation, tax
                                risk management and tax structuring of agreements.
                            </p>
                        </div>
                        <!-- /.search-res-main__text -->
                    </div>
                    <!-- /.search-res-main__item -->
                </div>
                <!-- /.search-res-main -->
                <button class="achivs__more">
                    <span>+ More</span>
                    <span>- Less</span>
                    <svg width="242" height="64" viewBox="0 0 242 64" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='242' height='64' />
                    </svg>
                </button>
                <!-- /.insights__more -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-law-sect -->
    </main>
    <!-- /.main -->

    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>

</html>