//= mainHtml/head.html

<body>
    //= main-Half-Pages/navigation.html
    <main class="main">
        //= main-Half-Pages/header-hero-search.html

        <section class="search-criteria-sect">
            <div class="container">
                //= half-main-search/search-criteria.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-criteria-sect -->
        <section class="search-ins-sect">
            <div class="container">
                <h2 class="not-found">
                    The search you entered did not locate any results.
                </h2>
                <!-- /.not-found -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-law-sect -->
    </main>
    <!-- /.main -->

    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>

</html>