//= mainHtml/head.html
<body class="home">
    //= main-Half-Pages/navigation.html
    <main class="main">
        <header class="header-hero">
            <img src="img/hero-bg.jpg" alt="image" class="header-hero__img">
            <div class="container">
                //= half-Firs-Page/header.html
            </div>
            <!-- /.container -->
            //= half-Firs-Page/header-social.html
        </header>
        <!-- /.header-hero -->
        <section class="home-insights">
            <div class="container">
                <div class="insights__wrap insights__wrap_top">
                    //= half-Firs-Page/insights-top-tabs.html
                </div>
                <!-- /.insights__wrap insights__wrap_top -->
                <div class="insights__content">
                    //= half-Firs-Page/insights-content.html
                </div>
                <!-- /.insights__content -->
                <a href="http://golaw.dev.devsteam.ru/insights/" target="_blank" class="insights__more ins-view">
                    <span>View all</span>
                    <svg width="242" height="64" viewBox="0 0 242 64" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='242' height='64' />
                    </svg>
                </a>
                <!-- /.insights__more -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.home-insights -->
        <section class="expertise-sect">
            <div class="container">
                <div class="expertise__wrap-title">
                    <h2 class="expertise__title">Our expertise</h2>
                    <!-- /.expertise__title -->
                </div>
                <!-- /.expertise__wrap-title -->
                <div class="expertise__tabs">
                    <div class="expertise__tabs-title">
                        //= half-Firs-Page/expertise-tab-title.html
                    </div>
                    <!-- /.expertise__tabs-title -->
                    <div class="expertise__tabs-content">
                        //= half-Firs-Page/expertise-tab-content.html
                    </div>
                    <!-- /.expertise__tabs-content -->
                </div>
                <!-- /.exspertise__tabs -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.expertise-sect -->
        <section class="hero-about-sect">
            <div class="container">
                //= half-Firs-Page/about-us.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.hero-about -->
        <section class="recognition-sect">
            <div class="container">
                <h2 class="recognition__title">
                    Recognitions
                </h2>
                <!-- /.recognition__title -->
                //= half-Firs-Page/recognition-slider.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.recognition-sect -->
        <section class="key-law-sect">
            <div class="container">
                <h2 class="key-law__title">
                    Key lawyers
                </h2>
                <!-- /.key-law__title -->
                //= main-Half-Pages/layers.html
                <a href="#" class="key-law__btn">
                    <span>Find a professional</span>
                    <svg width="292" height="64" viewBox="0 0 292 64" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='292' height='64' />
                    </svg>
                </a>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.key-law-sect -->
        <section class="contact-hero-sect">
            <div class="container">
                //= half-Firs-Page/new-contact-us.html
                <div class="seo-text tg-sl">
                    <div class="seo-text__wrap">
                        <h2 class="seo-text__title">More details<span> </span></h2>
                        <!-- /.seo-text__title -->
                    </div>
                    <!-- /.seo-text__wrap -->
                    <div class="seo-text__content tg-sl-cont">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper quam eu nisi eleifend
                            tempor. Donec ornare tellus augue, at luctus nisl tempus sit amet. Mauris in convallis enim,
                            tristique condimentum elit. Vivamus dapibus lacus in nunc consequat finibus. Maecenas semper
                            neque lacus, ac lobortis nulla dapibus finibus. Quisque nec risus metus. Etiam arcu massa,
                            interdum id malesuada in, aliquam sit amet dui. Ut sed ex pulvinar, elementum urna a, ornare
                            arcu. Pellentesque ornare leo eu libero fermentum, et fringilla tellus porta.
                        </p>
                        <!-- /.seo-text__text -->
                    </div>
                    <!-- /.seo-text__content -->
                </div>
                <!-- /.seo-text -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.contact-hero-sect -->
    </main>
    <!-- /.main -->
    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>
</html>