//= mainHtml/head.html

<body>
    //= main-Half-Pages/navigation.html
    <main class="main">
        //= main-Half-Pages/header-insights.html

        <section class="search-criteria-sect">
            <div class="container">
                //= half-Insights-page/search-criteria.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-criteria-sect -->
        <section class="search-ins-sect">
            <div class="container">
                <h2 class="not-found">
                    No results found for the criteria you entered. Please search again.
                </h2>
                <!-- /.not-found -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-law-sect -->
        <section class="topics-sect">
            <div class="container">
                <h2 class="topics__title">Trending Topics</h2>
                <!-- /.topics__title -->
                <ul class="topics__wrap">
                    <li class="topics__item"><a class="topics__btn">Cybersecurity</a></li>
                    <!-- /.topics__item -->
                    <li class="topics__item"><a class="topics__btn">Data Privacy & Security</a></li>
                    <!-- /.topics__item -->
                    <li class="topics__item"><a class="topics__btn">Brexit</a></li>
                    <!-- /.topics__item -->
                    <li class="topics__item"><a class="topics__btn">U.S. & EU Economic Sanction</a></li>
                    <!-- /.topics__item -->
                    <li class="topics__item"><a class="topics__btn">Health, safety & environment</a></li>
                    <!-- /.topics__item -->
                    <li class="topics__item"><a class="topics__btn">CFIUS & National Security Reviews</a></li>
                    <!-- /.topics__item -->
                    <li class="topics__item"><a class="topics__btn">Tax Reform</a></li>
                    <!-- /.topics__item -->
                </ul>
                <!-- /.topics__wrap -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.topics-sect -->
        <!-- subscribe.html -->
        <section class="subscribe-sect">
            <div class="container">
                //= half-Insights-page/subscribe.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.contact-hero-sect -->
    </main>
    <!-- /.main -->

    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>

</html>