//= mainHtml/head.html

<body>
    //= main-Half-Pages/navigation.html
    <main class="main">
        //= main-Half-Pages/header-lawyer-page.html

        <section class="lawyer-ab-sect">
            <div class="article-content">
                <div class="lawyer-ab">
                    <div class="lawyer-ab__wrap lawyer-ab__wrap_left">
                        //= half-lawyer-Page/about-lawyer-left.html
                    </div>
                    <!-- /.lawyer-ab__wrap lawyer-ab__wrap_left -->
                    <div class="lawyer-ab__wrap lawyer-ab__wrap_right">
                        //= half-lawyer-Page/about-lawyer-right.html
                    </div>
                    <!-- /.lawyer-ab__wrap lawyer-ab__wrap_right -->
                </div>
                <!-- /.lawyer-ab -->
            </div>
            <!-- /.article-content -->
        </section>
        <!-- /.lawyer-ab-sect -->
        <section class="rep-cases-sect rep-cases-sect_lawyer">
            <div class="container">
                //= half-lawyer-Page/drop-information.html
            </div> 
            <!-- /.container -->
        </section>
        <!-- /.rep-cases-sect -->
        <section class="achivs-sect achivs-sect_lawyer">
            <div class="container">
                <div class="insights__wrap insights__wrap_top">
                    //= half-lawyer-Page/insights-top.html
                </div>
                <!-- /.insights__wrap insights__wrap_top -->
                <div class="insights__content achivs__content op-cont">
                    //= half-lawyer-Page/insights-content.html
                </div>
                <!-- /.insights__content -->
                <a href="#" class="insights__more">
                    <span>View all</span>
                    <svg width="242" height="64" viewBox="0 0 242 64" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='242' height='64' />
                    </svg>
                </a>
                <!-- /.insights__more -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.home-insights -->
    </main>
    <!-- /.main -->
    //= main-Half-Pages/modal-expertise.html

    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>
</html>