//= mainHtml/head.html

<body class="page-policy page-exp">
    //= main-Half-Pages/policy-nav.html
    <main class="main">
        <div class="modal-page">
            <div class="container">
                <div class="sub-practice__content">
                    <div class="sub-practice__wrap sub-practice__wrap_left">
                        <div class="sub-practice__wrapper scroll-cont">
                            <h1 class="sub-practice__title">Protection of interests of companies and individuals within
                                the
                                framework of criminal prosecutions and investigations
                            </h1>
                            <!-- /.sub-practice__title -->
                            <div class="single-pr__bread">
                                <ul class="breadcrumbs">
                                    <li class="breadcrumbs__item breadcrumbs__item_prev">
                                        <a href="index.html" class="breadcrumbs__link">
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <!-- /.breadcrumbs__item breadcrumbs__item_prev -->
                                    <li class="breadcrumbs__item breadcrumbs__item_sep">
                                        <span>&nbsp;-&nbsp;</span>
                                    </li>
                                    <!-- /.breadcrumbs__item breadcrumbs__item_sep -->
                                    <li class="breadcrumbs__item breadcrumbs__item_prev">
                                        <a href="expertise.html" class="breadcrumbs__link">
                                            <span>Expertise</span>
                                        </a>
                                    </li>
                                    <!-- /.breadcrumbs__item breadcrumbs__item_prev -->
                                    <li class="breadcrumbs__item breadcrumbs__item_sep">
                                        <span>&nbsp;-&nbsp;</span>
                                    </li>
                                    <!-- /.breadcrumbs__item breadcrumbs__item_sep -->
                                    <li class="breadcrumbs__item breadcrumbs__item_prev">
                                        <a href="single-practice.html" class="breadcrumbs__link">
                                            <span>Single Practice</span>
                                        </a>
                                    </li>
                                    <!-- /.breadcrumbs__item breadcrumbs__item_prev -->
                                    <li class="breadcrumbs__item breadcrumbs__item_sep">
                                        <span>&nbsp;-&nbsp;</span>
                                    </li>
                                    <!-- /.breadcrumbs__item breadcrumbs__item_sep -->
                                    <li class="breadcrumbs__item breadcrumbs__item_cur">
                                        <span>Protection ......</span>
                                    </li>
                                    <!-- /.breadcrumbs__item breadcrumbs__item_cur -->
                                </ul>
                            </div>
                            <!-- /.single-pr__bread -->
                            <div class="sub-practice__text-content bl-num">
                                <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                                <ul>
                                    <li>Outstanding academic credentials from a reputable Ukrainian law school</li>
                                    <li>4+ years of professional experience in a law firm or on corporate side</li>
                                    <li>Litigation experience at courts of different instances</li>
                                    <li>Attorney-at-law license is a must</li>
                                    <li>Fluent knowledge of legal English is a must</li>
                                </ul>
                                <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                                <ol>
                                    <li>Outstanding academic credentials from a reputable Ukrainian law school</li>
                                    <li>4+ years of professional experience in a law firm or on corporate side</li>
                                    <li>Litigation experience at courts of different instances</li>
                                    <li>Attorney-at-law license is a must</li>
                                    <li>Fluent knowledge of legal English is a must</li>
                                </ol>
                                <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                                <ul>
                                    <li>Exceptional legal writing skills</li>
                                    <li>Analytical thinking, risk forecast</li>
                                </ul>
                                <p>
                                    We are GOLAW – on of the leading Ukrainian law firms which is constantly recognised
                                    by
                                    the
                                    most prestigious national and international rankings.
                                    Starting from 2003, we have successfully implemented thousands of projects for more
                                    than
                                    500
                                    happy clients.
                                </p>
                                <p>
                                    We are <a href="">visiting</a> the biggest international exhibitions, we are holding
                                    presentations and
                                    we
                                    moderate them, but what is more important – we are successfully defending the rights
                                    of
                                    our
                                    clients.
                                </p>
                                <p>
                                    Our team – it’s a team of leaders. Success of GOLAW - it's our own success.
                                </p>
                            </div>
                            <!-- /.sub-practice__text-content -->
                        </div>
                    </div>
                    <!-- /.sub-practice__wrap_left -->
                    <div class="sub-practice__wrap sub-practice__wrap_right">
                        <ul class="sub-practice__offers sc-ofrs">
                            <li class="sub-practice__item js-lnk">
                                <h2 class="sub-practice__position">
                                    Protection of interests of companies and individuals within the framework of
                                    criminal
                                    prosecutions and investigations
                                </h2>
                                <!-- /.sub-practice__position -->
                                <a href="it-is-work" class="sub-practice__wrap-city lnk-a">
                                    <!-- /.sub-practice__city -->
                                </a>
                                <!-- /.sub-practice__wrap-city -->
                            </li>
                            <!-- /.sub-practice__item ch-cont -->
                            <li class="sub-practice__item js-lnk">
                                <h2 class="sub-practice__position">
                                    Information products for legal education of business in
                                    the taxation field</h2>
                                <!-- /.sub-practice__position -->
                                <a href="it-is-work" class="sub-practice__wrap-city lnk-a">
                                    <!-- /.sub-practice__city -->
                                </a>
                                <!-- /.sub-practice__wrap-city -->
                            </li>
                            <!-- /.sub-practice__item ch-cont -->
                            <li class="sub-practice__item js-lnk">
                                <h2 class="sub-practice__position">Legal support in tax audits and disputes </h2>
                                <!-- /.sub-practice__position -->
                                <a href="it-is-work" class="sub-practice__wrap-city lnk-a">
                                    <!-- /.sub-practice__city -->
                                </a>
                                <!-- /.sub-practice__wrap-city -->
                            </li>
                            <!-- /.sub-practice__item ch-cont -->
                        </ul>
                    </div>
                    <!-- /.sub-practice__wrap_right -->
                </div>
                <!-- /.sub-practice__content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.modals -->
    </main>
    <!-- /.main -->
    
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/modal-expertise.html
    <!-- //= main-Half-Pages/footer.html -->
    <div class="coockies-block cok-b">
        <div class="container">
            <div class="coockies__wrap">
                <p class="coockies__text">We use cookies to improve functionality and performance, to analyze
                    traffic<br>
                    and to provide social media features. <a href="policy.html">Cookies Policy</a></p>
                <!-- /.coockies__text -->
                <button class="coockies__btn cok">Accept Cookies</button>
                <!-- /.coockies__btn cok -->
            </div>
            <!-- /.coockies__wrap -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.coockies-block -->
    //= mainHtml/scripts.html
</body>

</html>