//= mainHtml/head-pdf.html
<body>
    <main class="content-pdf">
        <div class="logo">
            <a href="index.html" class="logo__link">
                <svg width="136" height="24" viewBox="0 0 136 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="logo__img"
                        d="M20.0223 7.13453C18.0383 5.33383 14.9391 4.29468 12.5699 4.29468C8.21673 4.29468 5.18621
                        7.79217 5.18621 12.0141C5.18621 15.9629 7.83306 19.7024 12.9178 19.7024C14.9734 19.7024 17.271
                        19.1486 18.6996 18.1793V14.3715H11.8324V10.2861H23.3603V20.4327C20.4 22.615 16.2558 23.9659
                        12.7043 23.9659C5.43104 23.9614 0 18.632 0 11.9829C0 5.36797 5.5027 0 12.5401 0C16.1229 0
                        20.0626 1.42067 23.3365 4.0527L20.0223 7.13453ZM40.0491 0C47.2581 0 53.037 5.36797 53.037
                        11.9488C53.037 18.6662 47.2551 24 40.0491 24C32.843 24 27.1985 18.6662 27.1985 11.9488C27.1985
                        5.36797 32.843 0 40.0491 0ZM40.0491 19.7439C44.4023 19.7439 47.812 16.2123 47.812
                        11.9532C47.8096 10.9432 47.6068 9.94363 47.215 9.01178C46.8233 8.07993 46.2503 7.23417 45.5291
                        6.52303C44.8078 5.81189 43.9525 5.24937 43.0121 4.86774C42.0717 4.4861 41.0648 4.29287 40.0491
                        4.29913C35.7661 4.29913 32.4235 7.76248 32.4235 11.9532C32.4235 16.2078 35.7661 19.7395 40.0491
                        19.7395V19.7439ZM62.4794 0.697717V19.8478H76.4451V23.3097H58.5785V0.693264L62.4794
                        0.697717ZM88.5657 0.697717H92.1172L102.67 23.3112H98.3798L95.63 17.2158H84.8037L82.0882
                        23.3112H78.0126L88.5657 0.697717ZM86.198 14.0954H94.2416L90.3422 5.3368H90.1332L86.198
                        14.0954ZM104.907 0.693264L111.414 17.3197H111.623L117.02 0.693264H119.807L125.205
                        17.3197H125.414L131.92 0.693264H136L127.294 23.3067H123.394L118.414 8.17369H118.205L113.225
                        23.3067H109.324L100.619 0.693264H104.907Z" fill="#C8102E" />
                </svg>
            </a>
        </div>
        <!-- /.logo -->
        <div class="lawyer-ab__law">
            <div class="lawyer-ab__wrap-head-main">
                <figure class="lawyer-ab__wrap-img">
                    <img src="img/layers/3.jpg" alt="Name img">
                </figure>
                <!-- /.lawyer-ab__wrap-img -->
                <div class="lawyer-ab__wrap-about">
                    <div class="lawyer-ab__wrap-name-pos">
                        <h2 class="lawyer-ab__name">
                            <a href="#" class="lawyer-ab__name-link">
                                IRYNA KALNYTSKA
                            </a>
                        </h2>
                        <!-- /.lawyer-ab__name -->
                        <p class="lawyer-ab__position">
                            Partner, Head of Tax Practice,
                            Attorney at law
                        </p>
                        <!-- /.lawyer-ab__position -->
                    </div>
                    <!-- /.lawyer-ab__wrap-name-pos -->
                    <div class="lawyer-ab__wrapper">
                        <ul class="lawyer-ab__wrap-cont">
                            <li class="lawyer-ab__item-rec lawyer-ab__item-cont_title">
                                Contact information
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                            <li class="lawyer-ab__item-cont">
                                <i>
                                    <svg class="lawyer-ab__cont-svg" width="11" height="16" viewBox="0 0 11 16"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path class="lawyer-ab__cont-path"
                                            d="M10.7401 3.98225C10.6833 3.7688 10.5679 3.54136 10.4825 3.34223C9.46076 0.881778 7.2283 0 5.4257 0C3.01259 0 0.354833 1.62138 0 4.96342V5.64622C0 5.67471 0.00980078 5.93068 0.0237223 6.05872C0.222634 7.65146 1.47687 9.34419 2.41359 10.9369C3.42136 12.6434 4.46708 14.322 5.5031 16C6.14193 14.905 6.77846 13.7956 7.40274 12.7289C7.57288 12.4159 7.77038 12.1031 7.94071 11.8043C8.05424 11.6053 8.27111 11.4064 8.3702 11.2213C9.37793 9.3725 11 7.50943 11 5.67468V4.92094C11 4.72203 10.754 4.02514 10.7401 3.98225ZM5.46987 7.40988C4.76054 7.40988 3.98413 7.05448 3.6009 6.07297C3.5438 5.91673 3.5484 5.60362 3.5484 5.57494V5.13406C3.5484 3.88281 4.60867 3.31381 5.53105 3.31381C6.66661 3.31381 7.54485 4.22415 7.54485 5.36201C7.54485 6.49984 6.60543 7.40988 5.46987 7.40988Z" />
                                    </svg>
                                </i>
                                <span>
                                    19B Instytutska Sreet, Office 29
                                    Ukraine, 01021
                                </span>
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                            <li class="lawyer-ab__item-rec">
                                <i>
                                    <svg class="lawyer-ab__cont-svg" width="15" height="11" viewBox="0 0 15 11"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path class="lawyer-ab__cont-path"
                                            d="M7.49879 7.69996L5.64321 6.03235L0.337891 10.7019C0.530734 10.8856 0.791071 11 1.07819 11H13.9194C14.2054 11 14.4647 10.8856 14.6565 10.7019L9.35437 6.03235L7.49879 7.69996Z" />
                                        <path class="lawyer-ab__cont-path"
                                            d="M14.6615 0.298103C14.4686 0.113301 14.2093 0 13.9211 0H1.07996C0.793906 0 0.53464 0.114401 0.341797 0.300303L7.50055 6.60006L14.6615 0.298103Z" />
                                        <path class="lawyer-ab__cont-path"
                                            d="M0 0.965698V10.1046L5.17783 5.58684L0 0.965698Z" />
                                        <path class="lawyer-ab__cont-path"
                                            d="M9.82227 5.58672L15.0001 10.1045V0.96228L9.82227 5.58672Z" />
                                    </svg>
                                </i>
                                <a href="mailto:info@golaw.ua" class="lawyer-ab__links">
                                    <span>
                                        info@golaw.ua
                                    </span>
                                </a>
                                <!-- /.lawyer-ab__links -->
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                            <li class="lawyer-ab__item-rec">
                                <i>
                                    <svg class="lawyer-ab__cont-svg" width="16" height="16" viewBox="0 0 16 16"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path class="lawyer-ab__cont-path"
                                            d="M5.02431 5.29684L1.32845 1.60043C1.80549 1.12357 2.28158 0.645757 2.75957 0.167945C2.98054 -0.0529485 3.33713 -0.0567407 3.55905 0.161309L6.43835 3.0424C6.65838 3.26235 6.65838 3.6245 6.43551 3.84634L5.80483 4.47584L5.21778 5.06268C5.1457 5.13568 5.08027 5.21342 5.02431 5.29684ZM8.06483 11.3179C7.45976 10.7974 6.87935 10.2447 6.31601 9.68248C5.75362 9.1165 5.20261 8.5382 4.68099 7.9305C4.25422 7.43752 4.17076 6.72365 4.39363 6.12259L0.600093 2.32948C-0.282854 3.23675 -0.169996 5.48645 0.797357 7.46312C1.21275 8.31825 1.75143 9.08996 2.30813 9.82374C2.86389 10.5518 3.4737 11.2401 4.11576 11.8867C4.75971 12.5323 5.44444 13.1447 6.1747 13.7003C6.90875 14.2587 7.68263 14.7934 8.53239 15.2077C10.5126 16.1737 12.7641 16.2799 13.6707 15.3963L9.87625 11.6032C9.27497 11.826 8.55989 11.7435 8.06483 11.3179ZM15.8368 12.4375L12.9576 9.55829C12.7366 9.34024 12.3743 9.34024 12.1533 9.56113H12.1514L11.5189 10.1925L10.9356 10.7784C10.8635 10.8505 10.7848 10.914 10.7013 10.9728L14.3963 14.6682C14.8742 14.1895 15.3513 13.7135 15.8302 13.2367C16.0531 13.0158 16.0578 12.6584 15.8368 12.4375Z" />
                                    </svg>
                                </i>
                                <a href="#" class="lawyer-ab__links">
                                    <span>
                                        +380 44 581 1220
                                    </span>
                                </a>
                                <!-- /.lawyer-ab__links -->
                                <a href="#" class="lawyer-ab__links">
                                    <span>
                                        +380 44 581 1221
                                    </span>
                                </a>
                                <!-- /.lawyer-ab__links -->
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                        </ul>
                        <!-- /.lawyer-ab__wrap-rec -->
                    </div>
                    <!-- /.lawyer-ab__wrapper -->
                </div>
                <!-- /.lawyer-ab__wrap-about -->
            </div>
            <!-- /.lawyer-ab__wrap-head-main -->
            <div style="clear: both"></div>
        </div>
        <!-- /.lawyer-ab__wrap-about -->
        <div class="lawyer-ab__text-content">
            <hr>
            <p>
                Iryna Kalnytska is the Head of Tax praсtice and the main areas of her activities are consulting
                Ukrainian and
                foreign companies on national and international taxation, tax risk management and tax structuring of
                agreements.
            </p>
            <p>
                Iryna's practice provides a <a href="#">comprehensive</a> support for a business during tax inspections,
                including tax audit
                before tax inspection and administrative and judicial appeals of tax notice decisions . Individual
                approach to
                each case, elaboration of the action plan allow companies’ lawyers to successfully protect the interests
                of
                clients right at the stage of administrative appeal of illegal notice decisions.
            </p>
            <p>
                Irina's experience includes advising clients of the FMCG & Retail sector on real estate, its acquisition
                and
                lease, as well as advising agricultural sector business on land and tax issues.
            </p>
            <p>
                Iryna has extensive experience in handling some of the most complex debt restructuring cases, involving
                protection of the banks’ rights through litigation process with remarkable results. She represents a
                range of
                financial institutions in a complex disputes over the pledged and mortgaged property, restoration of the
                creditor’s rights over such property and enforcement proceedings. Iryna also specialices in supporting
                banks and
                insurance agencies in providing loans repayments, as well as various aspects of the finance industry.
            </p>
            <p>
                Irina is a co-author of analytical and practical manuals «Methodological Recommendations for Legal Aid
                to
                Economic Entities under Tax Inspections», which are published annually by the National Bar Association
                of
                Ukraine. She is also actively preparing analytical articles and expert comments in the field of agrarian
                and
                pharmaceutical industries.
            </p>
            <hr>
            <div style="page-break-before: always;"></div>
            <h3>Practices</h3>
            <ul>
                <li><a href="#">Anti-Corruption and Anti-Bribery</a></li>
                <li><a href="#">Antitrust and competition</a></li>
                <li><a href="#">Banking and finance</a></li>
                <li><a href="#">Anti-Corruption and Anti-Bribery</a></li>
                <li><a href="#">Antitrust and competition</a></li>
            </ul>
            <h3>Sectors</h3>
            <ul>
                <li><a href="#">Anti-Corruption and Anti-Bribery</a></li>
                <li><a href="#">Antitrust and competition</a></li>
                <li><a href="#">Banking and finance</a></li>
                <li><a href="#">Anti-Corruption and Anti-Bribery</a></li>
                <li><a href="#">Antitrust and competition</a></li>
            </ul>
            <h3>Education</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consequatur nihil voluptas, doloremque
                sit dolor, dignissimos ipsam recusandae ducimus minima quas assumenda quasi? Eos, dolor culpa laudantium
                minima! Mollitia numquam aliquid iusto debitis hic dolore possimus repellat ad temporibus nesciunt sunt
                dicta libero saepe tempora, animi unde quia molestiae in omnis sapiente, pariatur aperiam nam laborum.
                Neque reprehenderit, ut id.
            </p>
            <h3>Recognition</h3>
            <p>
                The Legal 500 EMEA 2019 – recommended among the best Ukrainian lawyers in: Banking, finance and capital
                markets, Dispute resolution, Real estate and construction, Tax;
            </p>
            <p>
                Who's Who Legal, 2018 - recognised among the best lawyers in Ukraine in "Corporate Tax: Controversy";
            </p>
            <h3>Membership</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quas molestiae repellat voluptates
                architecto accusantium eveniet doloribus eos. Sapiente eveniet, quasi! Est consectetur sapiente, enim!
                Quas nulla repudiandae quos consequatur animi, ipsam veritatis quisquam deleniti enim, aspernatur
                repellat hic nemo dicta illo sint. Ex voluptatem, blanditiis minus ipsa nihil iure eveniet deserunt
                veritatis ad recusandae eaque corporis impedit tenetur hic natus omnis vel ut numquam amet quis tempora
                esse. Unde aspernatur porro id deserunt obcaecati corporis nisi atque numquam deleniti.
            </p>
            <h3>Languages</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestias expedita quas tempora sint
                consequatur aspernatur id nam ea, dicta nostrum fugiat neque exercitationem, voluptate voluptas hic.
                Blanditiis id adipisci ea delectus sunt recusandae, veritatis nihil soluta! Eaque, minus fugiat.
                Similique assumenda nesciunt delectus officia reprehenderit, eligendi optio soluta impedit, atque eaque,
                et quia ipsa.
            </p>
        </div>
    </main>
    <!-- /.content-pdf -->    
</body>
</html>