//= mainHtml/head-pdf.html

<body>
    <main class="content-pdf">
        <div class="logo">
            <a href="index.html" class="logo__link">
                <svg width="136" height="24" viewBox="0 0 136 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="logo__img" d="M20.0223 7.13453C18.0383 5.33383 14.9391 4.29468 12.5699 4.29468C8.21673 4.29468 5.18621
                        7.79217 5.18621 12.0141C5.18621 15.9629 7.83306 19.7024 12.9178 19.7024C14.9734 19.7024 17.271
                        19.1486 18.6996 18.1793V14.3715H11.8324V10.2861H23.3603V20.4327C20.4 22.615 16.2558 23.9659
                        12.7043 23.9659C5.43104 23.9614 0 18.632 0 11.9829C0 5.36797 5.5027 0 12.5401 0C16.1229 0
                        20.0626 1.42067 23.3365 4.0527L20.0223 7.13453ZM40.0491 0C47.2581 0 53.037 5.36797 53.037
                        11.9488C53.037 18.6662 47.2551 24 40.0491 24C32.843 24 27.1985 18.6662 27.1985 11.9488C27.1985
                        5.36797 32.843 0 40.0491 0ZM40.0491 19.7439C44.4023 19.7439 47.812 16.2123 47.812
                        11.9532C47.8096 10.9432 47.6068 9.94363 47.215 9.01178C46.8233 8.07993 46.2503 7.23417 45.5291
                        6.52303C44.8078 5.81189 43.9525 5.24937 43.0121 4.86774C42.0717 4.4861 41.0648 4.29287 40.0491
                        4.29913C35.7661 4.29913 32.4235 7.76248 32.4235 11.9532C32.4235 16.2078 35.7661 19.7395 40.0491
                        19.7395V19.7439ZM62.4794 0.697717V19.8478H76.4451V23.3097H58.5785V0.693264L62.4794
                        0.697717ZM88.5657 0.697717H92.1172L102.67 23.3112H98.3798L95.63 17.2158H84.8037L82.0882
                        23.3112H78.0126L88.5657 0.697717ZM86.198 14.0954H94.2416L90.3422 5.3368H90.1332L86.198
                        14.0954ZM104.907 0.693264L111.414 17.3197H111.623L117.02 0.693264H119.807L125.205
                        17.3197H125.414L131.92 0.693264H136L127.294 23.3067H123.394L118.414 8.17369H118.205L113.225
                        23.3067H109.324L100.619 0.693264H104.907Z" fill="#C8102E" />
                </svg>
            </a>
        </div>
        <!-- /.logo -->
        <div class="lawyer-ab__text-content">
            <h2>Speaker</h2>
        </div>
        <div class="lawyer-ab__law" style="margin-top: 80px;">
            <div class="lawyer-ab__wrap-head-main">
                <figure class="lawyer-ab__wrap-img">
                    <img src="img/layers/3.jpg" alt="Name img">
                </figure>
                <!-- /.lawyer-ab__wrap-img -->
                <div class="lawyer-ab__wrap-about">
                    <div class="lawyer-ab__wrap-name-pos">
                        <h2 class="lawyer-ab__name">
                            <a href="#" class="lawyer-ab__name-link">
                                IRYNA KALNYTSKA
                            </a>
                        </h2>
                        <!-- /.lawyer-ab__name -->
                        <p class="lawyer-ab__position">
                            Partner, Head of Tax Practice,
                            Attorney at law
                            Attorney at law
                        </p>
                        <!-- /.lawyer-ab__position -->
                    </div>
                    <!-- /.lawyer-ab__wrap-name-pos -->
                    <div class="lawyer-ab__wrapper">
                        <ul class="lawyer-ab__wrap-cont">
                            <li class="lawyer-ab__item-rec lawyer-ab__item-cont_title">
                                Registration
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                            <li class="lawyer-ab__item-cont">
                                <i>
                                    <svg class="lawyer-ab__cont-svg" width="11" height="16" viewBox="0 0 11 16"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path class="lawyer-ab__cont-path"
                                            d="M10.7401 3.98225C10.6833 3.7688 10.5679 3.54136 10.4825 3.34223C9.46076 0.881778 7.2283 0 5.4257 0C3.01259 0 0.354833 1.62138 0 4.96342V5.64622C0 5.67471 0.00980078 5.93068 0.0237223 6.05872C0.222634 7.65146 1.47687 9.34419 2.41359 10.9369C3.42136 12.6434 4.46708 14.322 5.5031 16C6.14193 14.905 6.77846 13.7956 7.40274 12.7289C7.57288 12.4159 7.77038 12.1031 7.94071 11.8043C8.05424 11.6053 8.27111 11.4064 8.3702 11.2213C9.37793 9.3725 11 7.50943 11 5.67468V4.92094C11 4.72203 10.754 4.02514 10.7401 3.98225ZM5.46987 7.40988C4.76054 7.40988 3.98413 7.05448 3.6009 6.07297C3.5438 5.91673 3.5484 5.60362 3.5484 5.57494V5.13406C3.5484 3.88281 4.60867 3.31381 5.53105 3.31381C6.66661 3.31381 7.54485 4.22415 7.54485 5.36201C7.54485 6.49984 6.60543 7.40988 5.46987 7.40988Z" />
                                    </svg>
                                </i>
                                <span>
                                    Berlin, Grossbeerenstrasse, 56
                                </span>
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                            <li class="lawyer-ab__item-rec">
                                <i>
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.625 1.375H9.16669V0.458305C9.16669 0.20536 8.96133 0 8.70831 0H8.25C7.99697 0 7.79169 0.20536 7.79169 0.458305V1.375H3.20831V0.458305C3.20831 0.20536 3.00303 0 2.75 0H2.29169C2.03867 0 1.83331 0.20536 1.83331 0.458305V1.375H1.375C0.61692 1.375 0 1.99192 0 2.75V9.625C0 10.3831 0.61692 11 1.375 11H9.625C10.3831 11 11 10.3831 11 9.625V2.75C11 1.99192 10.3831 1.375 9.625 1.375ZM10.0833 9.625C10.0833 9.87753 9.87753 10.0833 9.625 10.0833H1.375C1.12247 10.0833 0.916695 9.87753 0.916695 9.625V4.60168H10.0833V9.625Z"
                                            fill="#000" />
                                    </svg>
                                </i>
                                <span>27 June 2019</span>
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                            <li class="lawyer-ab__item-rec">
                                <i>
                                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.49991 0C2.46243 0 0 2.4625 0 5.49991C0 8.53732 2.46243 11 5.49991 11C8.53739 11 11 8.53732 11 5.49991C11 2.4625 8.53739 0 5.49991 0ZM7.87767 6.54599H5.54593C5.53804 6.54599 5.53071 6.54408 5.5229 6.54379C5.51509 6.54416 5.50779 6.54599 5.49987 6.54599C5.2898 6.54599 5.11949 6.37567 5.11949 6.1656V2.2825C5.11949 2.07243 5.2898 1.90212 5.49987 1.90212C5.70994 1.90212 5.88026 2.07243 5.88026 2.2825V5.78522H7.87752C8.08759 5.78522 8.25791 5.95554 8.25791 6.1656C8.25791 6.37567 8.08774 6.54599 7.87767 6.54599Z"
                                            fill="#000" />
                                    </svg>
                                </i>
                                <span>13:00-14:00 GMT</span>
                            </li>
                            <!-- /.lawyer-ab__item-rec -->
                        </ul>
                        <!-- /.lawyer-ab__wrap-rec -->
                    </div>
                    <!-- /.lawyer-ab__wrapper -->
                </div>
                <!-- /.lawyer-ab__wrap-about -->
            </div>
            <!-- /.lawyer-ab__wrap-head-main -->
            <div style="clear: both"></div>
        </div>
        <!-- /.lawyer-ab__wrap-about -->
        <div class="lawyer-ab__text-content">
            <hr>
            <div class="date">
                <span>08 June 2019</span>
                <span>- Events</span>
            </div>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
            <p>
                Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae
                nunc sed velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non diam
                phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor at auctor urna nunc
                id cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci a
                scelerisque purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id
                aliquet lectus proin nibh nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant
                morbi tristique senectus et netus et malesuada fames.
            </p>
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id est laborum.
            </p>
        </div>
    </main>
    <!-- /.content-pdf -->
</body>

</html>