//= mainHtml/head.html

<body>
    //= main-Half-Pages/navigation.html
    <main class="main">
        //= main-Half-Pages/header-find-people.html

        <section class="search-criteria-sect">
            <div class="container">
                //= half-Find-People-Page/search-criteria.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-criteria-sect -->
        <section class="search-law-sect">
            <div class="container">
                <h2 class="not-found">
                    No Lawyers found for the criteria you entered. Please try another search.
                </h2>
                <!-- /.not-found -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.search-law-sect -->
    </main>
    <!-- /.main -->

    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>

</html>