//= mainHtml/head.html

<body>
    //= main-Half-Pages/navigation.html
    <main class="main">
        //= main-Half-Pages/header-article.html

        <section class="article-sect">
            <div class="article-content">
                <div class="article">
                    <div class="article__wrap_left">
                        //= half-publication-pdf-Page/article-content.html
                    </div>
                    <!-- /.article__wrap_left -->
                    <div class="article__wrap_right">
                        //= half-publication-pdf-Page/overview-right.html
                    </div>
                    <!-- /.article__wrap_right -->
                </div>
                <!-- /.article -->
            </div>
            <!-- /.article-content -->
        </section>
        <!-- /.article-sect -->
        <section class="achivs-sect achivs-sect_article">
            <div class="container">
                <div class="insights__wrap insights__wrap_top">
                    <h2 class="achivs__title">Related insights</h2>
                    <!-- //= half-About-Page/achievements-top.html -->
                </div>
                <!-- /.insights__wrap insights__wrap_top -->
                <div class="insights__content achivs__content op-cont">
                    //= half-About-Page/achievements-content.html
                </div>
                <!-- /.insights__content -->
                <a href="#" class="insights__more">
                    <span>View all</span>
                    <svg width="242" height="64" viewBox="0 0 242 64" xmlns="http://www.w3.org/2000/svg">
                        <rect x='0' y='0' fill='none' width='242' height='64' />
                    </svg>
                </a>
                <!-- /.insights__more -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.home-insights -->
        <section class="subscribe-sect">
            <div class="container">
                //= half-Insights-page/subscribe.html
            </div>
            <!-- /.container -->
        </section>
        <!-- /.contact-hero-sect -->
    </main>
    <!-- /.main -->
    <!-- //= hafl-Careers-Page/modal-jobs.html -->
    
    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>

</html>