//= mainHtml/head.html

<body class="page-policy">
    //= main-Half-Pages/policy-nav.html
    <main class="main">
        //= main-Half-Pages/header-policy.html
        <section class="policy-sect">
            <div class="container">
                <div class="policy__content">
                    <div class="wsp-container">
                        <h2 class="wsp-pages-title">Pages</h2>
                        <ul class="wsp-pages-list">
                            <li class="page_item page-item-53"><a href="http://golaw.dev.devsteam.ru/about/">About</a>
                            </li>
                            <li class="page_item page-item-12"><a
                                    href="http://golaw.dev.devsteam.ru/contacts/">Contacts</a></li>
                            <li class="page_item page-item-364"><a
                                    href="http://golaw.dev.devsteam.ru/cookie-policy/">Cookie policy</a></li>
                            <li class="page_item page-item-255"><a
                                    href="http://golaw.dev.devsteam.ru/expertise/">Expertise</a></li>
                            <li class="page_item page-item-305"><a href="http://golaw.dev.devsteam.ru/find-a-job/">Find
                                    a job</a></li>
                            <li class="page_item page-item-362"><a
                                    href="http://golaw.dev.devsteam.ru/policy/">Policy</a></li>
                            <li class="page_item page-item-366 current_page_item"><a
                                    href="http://golaw.dev.devsteam.ru/sitemap/" aria-current="page">Sitemap</a></li>
                            <li class="page_item page-item-2"><a href="http://golaw.dev.devsteam.ru/">The power of legal
                                    exellence</a></li>
                            <li class="page_item page-item-9"><a
                                    href="http://golaw.dev.devsteam.ru/insights/">Insights</a></li>
                        </ul>
                        <h2 class="wsp-posts-title">Posts by category</h2>
                        <ul class="wsp-posts-list">
                            <li><strong class="wsp-category-title">Category: <a
                                        href="http://golaw.dev.devsteam.ru/insights/events/">Events</a></strong>
                                <ul class="wsp-posts-list">
                                    <li class="wsp-post"><a
                                            href="http://golaw.dev.devsteam.ru/insights/events/the-golaw-lawyers-discussed-the-latest-ma-trends-with-the-best-european-professionals-in-dusseldorf/">The
                                            GOLAW Lawyers Discussed the Latest M&amp;A Trends with the Best European
                                            Professionals in Dusseldorf</a></li>
                                    <li class="wsp-post"><a
                                            href="http://golaw.dev.devsteam.ru/insights/events/event/">event</a></li>
                                    <li class="wsp-post"><a
                                            href="http://golaw.dev.devsteam.ru/insights/events/test-event/">Test
                                            event</a></li>
                                </ul>
                            </li>
                            <li><strong class="wsp-category-title">Category: <a
                                        href="http://golaw.dev.devsteam.ru/insights/news/">News</a></strong>
                                <ul class="wsp-posts-list">
                                    <li class="wsp-post"><a
                                            href="http://golaw.dev.devsteam.ru/insights/news/irina/">IRINA</a></li>
                                    <li class="wsp-post"><a
                                            href="http://golaw.dev.devsteam.ru/insights/news/test-news/">Extremely long
                                            and heavy articles’s title but unfortunately it can be even longer</a></li>
                                </ul>
                            </li>
                            <li><strong class="wsp-category-title">Category: <a
                                        href="http://golaw.dev.devsteam.ru/insights/publication/">Publication</a></strong>
                                <ul class="wsp-posts-list">
                                    <li class="wsp-post"><a
                                            href="http://golaw.dev.devsteam.ru/insights/publication/test-publication-1/">Test
                                            publication 1</a></li>
                                </ul>
                            </li>
                        </ul>
                        <h2 class="wsp-expertises-title">Expertise</h2>
                        <ul class="wsp-expertises-list">
                            <li><a href="http://golaw.dev.devsteam.ru/expertise/sector-post/sector-sector/">Sector
                                    sector</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/expertise/sector-post/">Sector post</a></li>
                            <li><a
                                    href="http://golaw.dev.devsteam.ru/expertise/compliance-corporate-governance-and-risk-management/protection-of-interests-of-companies-and-individuals-within-the-framework-of-criminal-prosecutions-and-investigations/">Protection
                                    of interests of companies and individuals within the framework of criminal
                                    prosecutions and investigations</a></li>
                            <li><a
                                    href="http://golaw.dev.devsteam.ru/expertise/compliance-corporate-governance-and-risk-management/">Compliance,
                                    Corporate governance and risk management</a></li>
                        </ul>
                        <h2 class="wsp-vacanciess-title">Vacancy</h2>
                        <ul class="wsp-vacanciess-list">
                            <li><a href="http://golaw.dev.devsteam.ru/vacancies/hr-manager/">HR manager</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/vacancies/associate-attorney-at-law-litigation/">Associate,
                                    Attorney-at-law (Litigation)</a></li>
                        </ul>
                        <h2 class="wsp-peoples-title">People</h2>
                        <ul class="wsp-peoples-list">
                            <li><a href="http://golaw.dev.devsteam.ru/people/max-lebedev/">Max lebedev</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/people/angelika-moiseeva/">angelika moiseeva</a>
                            </li>
                            <li><a href="http://golaw.dev.devsteam.ru/people/valentyn-gvozdiy/">Valentyn Gvozdiy</a>
                            </li>
                            <li><a href="http://golaw.dev.devsteam.ru/people/iryna-kalnytska/">IRYNA KALNYTSKA</a></li>
                        </ul>
                        <h2 class="wsp-testimonials-title">Testimonials</h2>
                        <ul class="wsp-testimonials-list">
                            <li><a href="http://golaw.dev.devsteam.ru/insights/testimonial/artem-zubok-2/">Artem
                                    Zubok</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/insights/testimonial/artem-zubok/">Artem Zubok</a>
                            </li>
                        </ul>
                        <h2 class="wsp-practices-title">Practices</h2>
                        <ul class="wsp-practices-list">
                            <li><a href="http://golaw.dev.devsteam.ru/practice/anti-corruption-and-anti-bribery/">Anti-Corruption
                                    and Anti-Bribery</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/practice/antitrust-and-competition/">Antitrust and
                                    competition</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/practice/banking-and-finance/">Banking and
                                    finance</a></li>
                        </ul>
                        <h2 class="wsp-sectors-title">Sectors</h2>
                        <ul class="wsp-sectors-list">
                            <li><a href="http://golaw.dev.devsteam.ru/sector/government-relation-gr/">Government
                                    relation (GR)</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/sector/insolvency-and-restructuring/">Insolvency
                                    and restructuring</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/sector/intellectual-property/">Intellectual
                                    property</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/sector/international-trade/">International
                                    trade</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/sector/real-estate/">Real estate</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/sector/tax/">Tax</a></li>
                        </ul>
                        <h2 class="wsp-locations-title">Locations</h2>
                        <ul class="wsp-locations-list">
                            <li><a href="http://golaw.dev.devsteam.ru/insights/location/berlin/">Berlin</a></li>
                            <li><a href="http://golaw.dev.devsteam.ru/insights/location/kyiv/">Kyiv</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.policy-sect -->
    </main>
    <!-- /.main -->
    //= main-Half-Pages/modal-expertise.html
    //= main-Half-Pages/modal-menu.html
    //= main-Half-Pages/footer.html
    //= mainHtml/scripts.html
</body>

</html>