<div class="coockies-block cok-b">
    <div class="container">
        <div class="coockies__wrap">
            <p class="coockies__text">We use cookies to improve functionality and performance, to analyze traffic<br>
                and to provide social media features. <a href="policy.html">Cookies Policy</a></p>
            <!-- /.coockies__text -->
            <button class="coockies__btn cok">Accept Cookies</button>
            <!-- /.coockies__btn cok -->
        </div>
        <!-- /.coockies__wrap -->
    </div>
    <!-- /.container -->
</div>
<!-- /.coockies-block -->
<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__logo">
                <a href="#" class="footer__logo-link">
                    <svg width="136" height="24" viewBox="0 0 136 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="logo__img"
                            d="M20.0223 7.13453C18.0383 5.33383 14.9391 4.29468 12.5699 4.29468C8.21673 4.29468 5.18621 7.79217 5.18621 12.0141C5.18621 15.9629 7.83306 19.7024 12.9178 19.7024C14.9734 19.7024 17.271 19.1486 18.6996 18.1793V14.3715H11.8324V10.2861H23.3603V20.4327C20.4 22.615 16.2558 23.9659 12.7043 23.9659C5.43104 23.9614 0 18.632 0 11.9829C0 5.36797 5.5027 0 12.5401 0C16.1229 0 20.0626 1.42067 23.3365 4.0527L20.0223 7.13453ZM40.0491 0C47.2581 0 53.037 5.36797 53.037 11.9488C53.037 18.6662 47.2551 24 40.0491 24C32.843 24 27.1985 18.6662 27.1985 11.9488C27.1985 5.36797 32.843 0 40.0491 0ZM40.0491 19.7439C44.4023 19.7439 47.812 16.2123 47.812 11.9532C47.8096 10.9432 47.6068 9.94363 47.215 9.01178C46.8233 8.07993 46.2503 7.23417 45.5291 6.52303C44.8078 5.81189 43.9525 5.24937 43.0121 4.86774C42.0717 4.4861 41.0648 4.29287 40.0491 4.29913C35.7661 4.29913 32.4235 7.76248 32.4235 11.9532C32.4235 16.2078 35.7661 19.7395 40.0491 19.7395V19.7439ZM62.4794 0.697717V19.8478H76.4451V23.3097H58.5785V0.693264L62.4794 0.697717ZM88.5657 0.697717H92.1172L102.67 23.3112H98.3798L95.63 17.2158H84.8037L82.0882 23.3112H78.0126L88.5657 0.697717ZM86.198 14.0954H94.2416L90.3422 5.3368H90.1332L86.198 14.0954ZM104.907 0.693264L111.414 17.3197H111.623L117.02 0.693264H119.807L125.205 17.3197H125.414L131.92 0.693264H136L127.294 23.3067H123.394L118.414 8.17369H118.205L113.225 23.3067H109.324L100.619 0.693264H104.907Z" />
                    </svg>
                </a>
                <div class="footer__wrap_pl">
                    <ul class="footer__plasess">
                        <li class="footer__item_pl">
                            <a href="#" class="footer__link">
                                <span>Kyiv</span>
                            </a>
                        </li>
                        <!-- /.footer__item_pl -->
                        <li class="footer__item_pl">
                            <a href="#" class="footer__link">
                                <span>Berlin</span>
                            </a>
                        </li>
                        <!-- /.footer__item_pl -->
                    </ul>
                    <!-- /.footer__plasess -->
                </div>
                <!-- /.footer__wrap_pl -->
            </div>
            <!-- /.footer__logo -->
            <div class="footer__quick">
                <h3 class="footer__title">Quick links</h3>
                <!-- /.footer__title -->
                <ul class="footer__wrap_qu">
                    <li class="footer__item_wrp">
                        <ul class="footer__wrapper footer__wrapper_qu">
                            <li>
                                <a href="#">
                                    <span>Find a professional</span>
                                </a>
                            </li>
                            <!-- /.footer__item_qu -->
                             <li>
                                 <a href="#">
                                     <span>About us</span>
                                 </a>
                             </li>
                             <!-- /.footer__item_qu -->
                            <li>
                                <a href="#">
                                    <span>Get In Touch</span>
                                </a>
                            </li>
                            <!-- /.footer__item_qu -->
                            <li>
                                <span class="exp">
                                    <b>Our Expertise</b>
                                </span>
                            </li>
                            <!-- /.footer__item_qu -->
                            <li>
                                <a href="#">
                                    <span>Find a job</span>
                                </a>
                            </li>
                            <!-- /.footer__item_qu -->
                            <li>
                                <a href="#">
                                    <span>All Insights</span>
                                </a>
                            </li>
                            <!-- /.footer__item_qu -->
                            <li>
                                <span class="subs">
                                    <b>Subscribe to newsletters</b>
                                </span>
                            </li>
                            <!-- /.footer__item_qu -->
                        </ul>
                        <!-- /.footer__wrapper -->
                    </li>
                    <!-- /.footer__item_wrp -->
                </ul>
                <!-- /.footer__wrap_qu -->
            </div>
            <!-- /.footer__quick -->
            <div class="footer__social">
                <h3 class="footer__title">Follow us</h3>
                <!-- /.footer__title -->
                <ul class="h-social">
                    <li class="h-social__item">
                        <a href="#" class="h-social__link h-social__link_fb">
                            <span>
                                <svg class="h-social__svg" viewBox="0 0 10 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="h-social__path"
                                        d="M2.08104 19.999H6.35621L6.35621 9.99357H9.22535C9.22535 9.99357 9.49402 8.37898 9.62502 6.61361L6.37284 6.61361V4.31103C6.37284 3.96703 6.83854 3.50498 7.30014 3.50498H9.62963V-0.000976562L6.46138 -0.000976562C1.97587 -0.000976562 2.08104 3.36931 2.08104 3.87254L2.08104 6.62526H0L0 9.99233h3.08104L2.08104 19.999Z" />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <!-- /.h-social__item -->
                    <li class="h-social__item">
                        <a href="#" class="h-social__link h-social__link_tw">
                            <span>
                                <svg class="h-social__svg" viewBox="0 0 20 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="h-social__path"
                                        d="M0 14.4467C1.81572 15.6142 3.97247 16.2953 6.28993 16.2953C13.8373 16.2953 17.9643 10.0266 17.9643 4.58971C17.9643 4.41166 17.9603 4.23411 17.9526 4.05756C18.7545 3.47766 19.4499 2.75304 20 1.92795C19.2641 2.2552 18.4735 2.47652 17.6434 2.57598C18.4906 2.06671 19.1411 1.26052 19.4474 0.299913C18.6545 0.771142 17.7765 1.11381 16.842 1.29807C16.0935 0.4986 15.027 -0.000976562 13.8467 -0.000976562C11.5809 -0.000976562 9.74355 1.84117 9.74355 4.11301C9.74355 4.43528 9.78001 4.74935 9.84995 5.05049C6.43998 4.87891 3.41642 3.24117 1.39261 0.751994C1.03943 1.35974 0.837054 2.06621 0.837054 2.82043C0.837054 4.24754 1.56126 5.5068 2.66245 6.2446C1.98958 6.22322 1.35689 6.03796 0.803819 5.72986C0.803571 5.74726 0.803571 5.76442 0.803571 5.78183C0.803571 7.77491 2.21801 9.43777 4.09499 9.81574C3.75074 9.90949 3.38814 9.96022 3.01389 9.96022C2.7495 9.96022 2.49256 9.93436 2.24182 9.88612C2.76389 11.5206 4.27951 12.71 6.0749 12.7431C4.67064 13.8467 2.90129 14.5044 0.978919 14.5044C0.647569 14.5044 0.320933 14.485 0 14.4467Z" />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <!-- /.h-social__item -->
                    <li class="h-social__item">
                        <a href="#" class="h-social__link h-social__link_in">
                            <span>
                                <svg class="h-social__svg" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="h-social__path"
                                        d="M0.255005 6.26354L4.54114 6.26354L4.54114 19.2583H0.255005L0.255005 6.26354Z" />
                                    <path class="h-social__path"
                                        d="M2.36975 4.49006h3.39802C3.89328 4.49006 4.82307 3.49183 4.82307 2.24417C4.7948 0.969012 3.89328 -0.000976562 2.42605 -0.000976562C0.959059 -0.000976562 0 0.969012 0 2.24417C0 3.49183 0.932026 4.49006 2.36975 4.49006Z" />
                                    <path class="h-social__path"
                                        d="M11.2001 19.258L11.2001 12.0004C11.2001 11.611 11.2296 11.2251 11.3424 10.9475C11.6527 10.1702 12.3568 9.36765 13.5418 9.36765C15.0933 9.36765 15.7129 10.5596 15.7129 12.3056L15.7129 19.2577h30V11.806C20 7.81482 17.8852 5.95807 15.0641 5.95807C12.7866 5.95807 11.7697 7.22123 11.2001 8.10449V8.14698H11.172C11.1795 8.13298 11.1916 8.11874 11.2001 8.10449V6.26324L6.9122 6.26324C6.96974 7.48216 6.9122 19.2577 6.9122 19.2577L11.2001 19.258Z" />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <!-- /.h-social__item -->
                    <li class="h-social__item">
                        <a href="#" class="h-social__link h-social__link_tg">
                            <span>
                                <svg class="h-social__svg" viewBox="0 0 20 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="h-social__path"
                                        d="M4.81232 10.3951L7.2998 16.6133L10.5382 13.3749L16.0905 17.7881L20 0.209961L0 8.54065L4.81232 10.3951ZM14.285 5.2533L8.1633 10.8369L7.40082 13.7106L5.99228 10.1886L14.285 5.2533Z" />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <!-- /.h-social__item -->
                    <li class="h-social__item">
                        <a href="#" class="h-social__link h-social__link_y">
                            <span>
                                <svg class="h-social__svg" viewBox="0 0 20 15" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="h-social__path"
                                        d="M2.51017 13.7939C4.99008 14.0729 7.49975 14.0746 9.99901 14.0729C12.499 14.0746 15.0092 14.0729 17.4881 13.7939C18.5352 13.6757 19.4053 12.883 19.6503 11.8093C19.999 10.2806 20 8.61039 20 7.03587C20 5.46161 20.0032 3.79219 19.6543 2.26349C19.4092 1.18878 18.5394 0.397011 17.4918 0.279072C15.0122 -0.000875433 12.502 -0.00187701 10.0032 -0.000875413C7.50397 -0.00187701 4.99306 -0.000875433 2.5129 0.279072C1.46677 0.397011 0.596726 1.18878 0.352679 2.26349C0.00421619 3.79219 0 5.46161 0 7.03612C0 8.61064 -4.41516e-08 10.2806 0.348958 11.8093C0.592758 12.883 1.4628 13.6757 2.51017 13.7939ZM7.41939 3.49321C9.53844 4.6095 11.6441 5.71802 13.7773 6.84181C11.6503 7.95509 9.54439 9.05811 7.41939 10.1706L7.41939 3.49321Z" />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <!-- /.h-social__item -->
                    <li class="h-social__item">
                        <a href="#" class="h-social__link h-social__link_in">
                            <span>
                                <svg class="h-social__svg" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="h-social__path"
                                        d="M17.0703 0H2.92969C1.31439 0 0 1.31439 0 2.92969V17.0703C0 18.6856 1.31439 20 2.92969 20H17.0703C18.6856 20 20 18.6856 20 17.0703V2.92969C20 1.31439 18.6856 0 17.0703 0ZM10.0391 15.2344C7.1312 15.2344 4.76562 12.8688 4.76562 9.96094C4.76562 7.05307 7.1312 4.6875 10.0391 4.6875C12.9469 4.6875 15.3125 7.05307 15.3125 9.96094C15.3125 12.8688 12.9469 15.2344 10.0391 15.2344ZM15.8984 5.85938C14.9292 5.85938 14.1406 5.0708 14.1406 4.10156C14.1406 3.13232 14.9292 2.34375 15.8984 2.34375C16.8677 2.34375 17.6562 3.13232 17.6562 4.10156C17.6562 5.0708 16.8677 5.85938 15.8984 5.85938Z" />
                                    <path class="h-social__path"
                                        d="M15.8984 3.51562C15.5751 3.51562 15.3125 3.77823 15.3125 4.10156C15.3125 4.4249 15.5751 4.6875 15.8984 4.6875C16.2218 4.6875 16.4844 4.4249 16.4844 4.10156C16.4844 3.77823 16.2218 3.51562 15.8984 3.51562Z" />
                                    <path class="h-social__path"
                                        d="M10.0391 5.85938C7.77771 5.85938 5.9375 7.69958 5.9375 9.96094C5.9375 12.2223 7.77771 14.0625 10.0391 14.0625C12.3004 14.0625 14.1406 12.2223 14.1406 9.96094C14.1406 7.69958 12.3004 5.85938 10.0391 5.85938Z" />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <!-- /.h-social__item -->
                </ul>
                <!-- /.h-social -->
            </div>
            <!-- /.footer__social -->
        </div>
        <!-- /.footer__wrap -->
        <div class="footer__wrap_bot">
            <div class="footer__copy">
                <p class="footer__copy_text">
                    &copy; Copyright 2019
                </p>
                <!-- /.footer__copy_text -->
            </div>
            <!-- /.footer__copy -->
            <ul class="footer__other">
                <li class="footer__item_pol">
                    <a href="sitemap.html" class="footer__link-pl">
                        <span>Sitemap</span>
                    </a>
                </li>
                <!-- /.footer__item_pol -->
                <li class="footer__item_pol">
                    <a href="policy.html" class="footer__link-pl">
                        <span>Privacy Policy</span>
                    </a>
                </li>
                <!-- /.footer__item_pol -->
                <li class="footer__item_pol">
                    <a href="policy.html" class="footer__link-pl">
                        <span>Cookies Policy</span>
                    </a>
                </li>
                <!-- /.footer__item_pol -->
            </ul>
            <!-- /.footer__other -->
        </div>
        <!-- /.footer__wrap_bot -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->