<header class="header-inside header-inside_article">
    <div class="container">
        <div class="header-page">
            <h1 class="header-page__title header-page__title_article">
                Extremely long and heavy articles’s title but unfortunately it can be even longer
            </h1>
            <!-- /.header-page__title -->
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item breadcrumbs__item_prev">
                    <a href="index.html" class="breadcrumbs__link">
                        <span>Home</span>
                    </a>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_prev -->
                <li class="breadcrumbs__item breadcrumbs__item_sep">
                    <span>&nbsp;-&nbsp;</span>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_sep -->
                <li class="breadcrumbs__item breadcrumbs__item_prev">
                    <a href="index.html" class="breadcrumbs__link">
                        <span>Insights</span>
                    </a>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_prev -->
                <li class="breadcrumbs__item breadcrumbs__item_sep">
                    <span>&nbsp;-&nbsp;</span>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_sep -->
                <li class="breadcrumbs__item breadcrumbs__item_prev">
                    <a href="index.html" class="breadcrumbs__link">
                        <span>News</span>
                    </a>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_prev -->
                <li class="breadcrumbs__item breadcrumbs__item_sep">
                    <span>&nbsp;-&nbsp;</span>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_sep -->
                <li class="breadcrumbs__item breadcrumbs__item_cur">
                    <span>Current page</span>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_cur -->
            </ul>
            <!-- /.breadcrumbs -->
        </div>
        <!-- /.header-page -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header-inside -->