<header class="header-inside">
    <div class="container">
        <div class="header-page">
            <h1 class="header-page__title">
                Contacts
            </h1>
            <!-- /.header-page__title -->
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item breadcrumbs__item_prev">
                    <a href="index.html" class="breadcrumbs__link">
                        <span>Home</span>
                    </a>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_prev -->
                <li class="breadcrumbs__item breadcrumbs__item_sep">
                    <span>&nbsp;-&nbsp;</span>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_sep -->
                <li class="breadcrumbs__item breadcrumbs__item_cur">
                    <span>Contacts</span>
                </li>
                <!-- /.breadcrumbs__item breadcrumbs__item_cur -->
            </ul>
            <!-- /.breadcrumbs -->
        </div>
        <!-- /.header-page -->
    </div>
    <!-- /.container -->
    <div class="container">
        <ul class="place-map">
            <li data-id="1" class="place-map__item map-titl active">
                <button data-marker-id="0" data-lat="50.445847" data-lang="30.5337243" class="place-map__tab map-tab">
                    <span>Kyiv</span>
                </button>
            </li>
            <!-- /.place-map__item -->
            <li data-id="2" class="place-map__item map-titl">
                <button data-marker-id="1" data-lat="52.4922946" data-lang="13.3829737" class="place-map__tab map-tab">
                    <span>Berlin</span>
                </button>
            </li>
            <!-- /.place-map__item -->
        </ul>
        <!-- /.place-map -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header-inside -->