<div class="layers">
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/1.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Valentyn Gvozdiy</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Managing Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" target="_blank" class="layers__linked">
                    <span>in</span>
                    <i>
                        <svg width="27" height="11" viewBox="0 0 27 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.6238 4.53941C14.2797 4.53941 14.0038 4.81533 14.0038 5.15943C14.0038 6.58125 12.8481 7.73689 11.4263 7.73689H3.9601C2.53828 7.73689 1.38264 6.58125 1.38264 5.15943L1.38264 4.03625C1.38264 2.61443 2.53828 1.45879 3.9601 1.45879L11.4263 1.45879C11.7704 1.45879 12.0463 1.18286 12.0463 0.83877C12.0463 0.494675 11.7704 0.21875 11.4263 0.21875L3.9601 0.21875C2.9408 0.21875 1.97993 0.614784 1.25928 1.33543C0.538632 2.05609 0.139352 3.01371 0.142598 4.03625L0.142598 5.15943C0.142598 6.21119 0.571093 7.16557 1.26253 7.857C1.95396 8.54844 2.90834 8.97693 3.9601 8.97693L11.4263 8.97693C13.5298 8.97693 15.2438 7.26295 15.2438 5.15943C15.247 4.81858 14.9679 4.53941 14.6238 4.53941Z"
                                fill="black" />
                            <path
                                d="M26.1276 6.23394L26.1276 5.11076C26.1276 3.00724 24.4137 1.29326 22.3101 1.29326L14.8439 1.29326C12.7404 1.29326 11.0264 3.00724 11.0264 5.11076C11.0264 5.45485 11.3024 5.73078 11.6465 5.73078C11.9906 5.73078 12.2665 5.45485 12.2665 5.11076C12.2665 3.68893 13.4221 2.5333 14.8439 2.5333L22.3101 2.5333C23.732 2.5333 24.8876 3.68894 24.8876 5.11076V6.23394C24.8876 7.65576 23.732 8.8114 22.3101 8.8114H14.8439C14.4998 8.8114 14.2239 9.08732 14.2239 9.43142C14.2239 9.60022 14.2921 9.75928 14.4025 9.86965C14.5128 9.98002 14.6687 10.0514 14.8407 10.0482L22.3069 10.0482C23.3262 10.0482 24.2871 9.65216 25.0077 8.93151C25.7284 8.21086 26.1276 7.25324 26.1276 6.23394Z"
                                fill="black" />
                        </svg>
                    </i>
                </a>
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/2.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Sergiy Oberkovych</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Senior Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span></span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/3.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Iryna Kalnytska</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Head of tax practice</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/4.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Max Lebedev</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Head of tax practice</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/5.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Kateryna Manoylenko</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Head of tax practice</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/6.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Angelika Moisieieva</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/2.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Sergiy Oberkovych</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Senior Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span></span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/3.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Iryna Kalnytska</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Head of tax practice</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/1.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Valentyn Gvozdiy</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Managing Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z" class="layers__path"/>
</svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
</div>
<!-- /.layers -->