.page-policy {
    .navigation {
        padding-top: 42px;
        .sticky {
            padding-top: 20px;
        }
    }
    .header-inside {
        background-image: none;
        height: 366px;
    }
    .header-page {
        &__title {
            // @extend %h2-title-inside;
        }
    }
    .header-page__title,
    .breadcrumbs__item,
    .breadcrumbs a,
    .breadcrumbs span {
        color: $black;
    }
}
.containe {}

.policy {

    &-sect {
        padding-bottom: 106px;
    }

    // .policy__content
    &__content {
        padding-right: 210px;
        h2 {
            @extend %h2-title-inside;
            margin-bottom: 22px;
        }
        h3 {
            @extend %h3-content-title;
            margin-bottom: 20px;
        }
        .wsp-category-title {
            display: block;
            @extend %lawyer-page-name;
            @extend %link-in-text;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        p {
            @extend %read-text;
            @extend %link-in-text;
            margin-bottom: 32px;
        }
        ul.wsp-pages-list,
        ul.wsp-expertises-list,
        ul.wsp-vacanciess-title,
        .wsp-category-title+ul.wsp-posts-list,
        ul.wsp-vacanciess-list,
        ul.wsp-peoples-list,
        ul.wsp-testimonials-list,
        ul.wsp-practices-list,
        ul.wsp-sectors-list,
        ul.wsp-locations-list {
            margin-bottom: 30px;
            padding-left: 28px;
            li {
                @extend %interactive-link;
                a {
                    @extend %card-lawyers-practice-sectors-items;
                }
            }
        }
        // ul.
    }
}
.page-exp {
    .navigation {
        padding-top: 20px;
        background-color: $soft_blue;
        .menu {
            // .menu__wrapper
            &__wrapper {
                li {
                    &:after {
                        background-color: $white;
                    }
                }
            }
        }
    }
}