<div class="layers">
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/1.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Valentyn Gvozdiy</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Managing Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/2.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Sergiy Oberkovych</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Senior Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span></span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/3.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Iryna Kalnytska</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Head of tax practice</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/4.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Max Lebedev</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Head of tax practice</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/5.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Kateryna Manoylenko</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Head of tax practice</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
    <div class="layers__item">
        <figure class="layers__wrap_img">
            <div class="layers__img">
                <a href="#" title="name-layer">
                    <img src="img/layers/6.jpg" alt="name-img">
                </a>
            </div>
            <!-- /.layers__img -->

            <figcaption class="layers__name">
                <a href="#" class="layers__link">Angelika Moisieieva</a>
            </figcaption>
            <!-- /.layers__name -->
        </figure>
        <!-- /.layers__wrap_img -->
        <div class="layers__content">
            <ul class="layers__wrap_position">
                <li class="layers__item-position"><span>Partner</span></li>
                <!-- /.layers__item-position -->
                <li class="layers__item-position"><span>Attorney at law</span></li>
                <!-- /.layers__item-position -->
            </ul>
            <!-- /.layers__wrap_position -->
            <div class="layers__btns">
                <a href="#" class="layers__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="layers__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.layers__btns -->
        </div>
        <!-- /.layers__content -->
    </div><!-- /.layers__item -->
</div>
<!-- /.layers -->