<div class="overview__content-text">
    <p class="overview__intro">
        Реєстрація бізнесу, створення установчих документів, залучення аукціонерів, супровід продажу підприємств та
        отримання ліцензій - послуги практики корпоративного права GOLAW є результатом багаторічного досвіду роботи
        юристів з найбільшими українськими та іноземними компаніями, а тому стовідсотково відповідають реальним потребам
        бізнесу у вирішенні корпоративних питань.
    </p>
    <!-- /.overview__intro -->
    <div class="overview__wysiwyg">
        <p>
            Неважливо, на чому саме зосереджений Ваш бізнес та в якій країні він знаходиться – відмінне розуміння м[KM3]
            іжнародних стандартів корпоративного управління дозволяють нашій команді вільно працювати з відомими
            компаніями на інтернаціональному рівні.
        </p>
        <p>
            Доволі часто задля досягнення спільної мети ТОП-менеджери однієї компанії вбачають різні шляхи та підходи,
            що може призвести до корпоративних спорів, а тому вкрай важливо знайти спільну мову з усіма акціонерами та
            співзасновниками. Побудова ефективної комунікації серед керівників компанії та персональний підхід до
            кожного – один з основних пріоритетів нашої роботи.
        </p>
        <p>
            Ми знаємо, що Вам потрібно задля досягнення найкращого результату. І ми допоможемо Вам його досягти.
        </p>
    </div>
    <!-- /.overview__wysiwyg -->
</div>
<!-- /.overview__content-text -->