<div class="service__item js-lnk">
    <h3 class="service__title">Protection of interests of companies and individuals within the framework of
        criminal prosecutions and investigations</h3>
    <!-- /.service__title -->
    <a href="one-service.html" class="service__wrap-btn lnk-a">
        <span class="service__btn"></span>
    </a>
    <!-- /.service__wrap-btn -->
</div>
<!-- /.service__item -->
<div class="service__item js-lnk">
    <h3 class="service__title">Information products for legal education of business in the taxation field</h3>
    <!-- /.service__title -->
    <a href="one-service.html" class="service__wrap-btn lnk-a">
        <span class="service__btn"></span>
    </a>
    <!-- /.service__wrap-btn -->
</div>
<!-- /.service__item -->
<div class="service__item js-lnk">
    <h3 class="service__title">Legal support in tax audits and disputes</h3>
    <!-- /.service__title -->
    <a href="one-service.html" class="service__wrap-btn lnk-a">
        <span class="service__btn"></span>
    </a>
    <!-- /.service__wrap-btn -->
</div>
<!-- /.service__item -->
<div class="service__item js-lnk">
    <h3 class="service__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, ea.</h3>
    <!-- /.service__title -->
    <a href="one-service.html" class="service__wrap-btn lnk-a">
        <span class="service__btn"></span>
    </a>
    <!-- /.service__wrap-btn -->
</div>
<!-- /.service__item -->
<div class="service__item js-lnk">
    <h3 class="service__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero a distinctio
        optio, officia expedita aliquid?</h3>
    <!-- /.service__title -->
    <a href="one-service.html" class="service__wrap-btn lnk-a">
        <span class="service__btn"></span>
    </a>
    <!-- /.service__wrap-btn -->
</div>
<!-- /.service__item -->
<div class="service__item js-lnk">
    <h3 class="service__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, aperiam!</h3>
    <!-- /.service__title -->
    <a href="one-service.html" class="service__wrap-btn lnk-a">
        <span class="service__btn"></span>
    </a>
    <!-- /.service__wrap-btn -->
</div>
<!-- /.service__item -->
