<div class="article__date-topic">
    <div class="article__wrap-date">
        <span class="article__date">08 June 2019</span>
        <span class="article__type">- Publications</span>
    </div>
    <div class="article__wrap-topic">
        <p class="article__topic-text">Topic</p>
        <ul class="article__topic-wrapper">
            <li class="article__topic-item">
                <a href="" class="article__topic-link">
                    <span>Intellectual property</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="article__block-intro">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
    </p>
    <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

</div>
<button class="overview__print dow-info" data-id="77">
    <span>
        <i>
            <svg class="overview__pr-svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                    class="overview__pr-path" />
            </svg>
        </i>
        Download PDF
    </span>
    <svg width="174" height="64" viewBox="0 0 174 64" xmlns="http://www.w3.org/2000/svg">
        <rect x='0' y='0' fill='none' width='174' height='64' />
    </svg>
</button>