<div class="subscribe">
    <h2 class="subscribe__title">Sign up to stay updated</h2>
    <!-- /.subscribe__title -->
    <div class="subscribe__wrap-text">
        <p class="subscribe__text">Interested in receiving the latest firm news, publications and event invitations straight to your inbox?</p>
        <!-- /.subscribe__text -->
    </div>
    <!-- /.subscribe__wrap-text -->
    <button class="subscribe__btn subs">
        <span>Sign up</span>
        <svg width="242" height="64" viewBox="0 0 242 64" xmlns="http://www.w3.org/2000/svg">
            <rect x='0' y='0' fill='none' width='242' height='64' />
        </svg>
    </button>
    <!-- /.subscribe__btn -->
</div>
<!-- /.subscribe -->