.hero-about {
    // .hero-about-sect {}
    &-sect {
        padding-top: 134px;
        padding-bottom: 147px;
        background-color: $soft_blue;
    }
    // .hero-about__wrap
    &__wrap {
        padding: 0 343px;
        // .hero-about__wrap_text
        &_text {
            margin-top: 31px;
            margin-bottom: 37px;
        }
    }
    // .hero-about__title
    &__title {
        @extend %h2-title;
        text-align: center;
    }
    // .hero-about__text
    &__text {
        @extend %read-text;
        text-align: center;
    }
    // .hero-about__link
    &__link {
        @extend %btn-line-down;
        width: 135px;
        margin: 0 auto;
    }
}