.contact-hero {
    padding: 0 195px;
    // .contact-hero-sect
    &-sect {
        padding-top: 133px;
        padding-bottom: 70px;
        background-color: $hard_blue;
    }

    // .contact-hero__title

    &__title {
        @extend %h2-title;
        color: $white;
        text-align: center;
    }

    // .contact-hero__wrap-text

    &__wrap-text {
        margin-top: 27px;
        margin-bottom: 41px;
    }

    // .contact-hero__text

    &__text {
        @extend %read-text;
        text-align: center;
        color: $white;
    }

    // .contact-hero__btn

    &__btn {
        @extend %contact-us-btn;
        margin: 0 auto;
    }
}
.contact-hero {

    // .contact-hero__list

    &__list {
        margin: 0 auto;
        position: relative;
        width: 384px;
        @extend %mont-semiBold;
        @extend %ttu;
        @extend %fz-18;
        @extend %lh-24;
        @extend %ls-2;
        color: $hard_blue;
        text-align: center;
        &:hover {
            .op-btn {
                height: 20px;
            }
        }
        &.active {
            .contact-hero {
                &__hero {
                    display: none;
                }
                &__inside {
                    display: block;
                }
                &__first-item {
                    box-shadow: none;
                }
                &__op {
                    width: 100%;
                    height: 25px;
                    cursor: pointer;
                    &:hover {
                        span {
                            transform: translateY(-5px)
                        }
                    }
                    span {
                        bottom: 0;
                        position: relative;
                        display: block;
                        width: 12px;
                        height: 6px;
                        margin: 0 auto;
                        &:after,
                        &:before {
                            position: absolute;
                            display: block;
                            content: '';
                            width: 1px;
                            height: 12px;
                            background-color: $black;
                        }
                        &:after {
                            left: -8px;
                            transform: rotate(45deg)
                        }
                        &:before {
                            transform: rotate(-45deg)
                        }
                    }
                }
            }
        } 
    }

    // .contact-hero__first-item

    &__first-item {
        position: relative;
        z-index: 2;
        background-color: $white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    }

    // .contact-hero__hero

    &__hero {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        height: 64px;
        cursor: pointer;
    }

    // .contact-hero__inside

    &__inside {
        // position: relative;
        // z-index: 10;
        // top: -1000;
        display: none;
    }

    // .contact-hero__item

    &__item {
        position: relative;
        background-color: $white;
        transition: all 1s ease;
        &:hover {
            z-index: 2;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        }
    }

    // .contact-hero__btns

    &__btns {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 100%;
        @extend %mont-semiBold;
        @extend %ttu;
        height: 64px;
        color: inherit;
        text-align: center;
    }

    // .contact-hero__op

    &__op {
        position: relative;
        display: block;
        height: 15px;
        background-color: $white;
        width: 338px;
        margin: 0 auto;
        transition: all .7s ease;
        span {
            position: absolute;
            bottom: -6px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $white;
            transition: all .5s ease;
        }
    }
}

.op-btn {}
.contact-hero__list:hover .op-btn {
    height: 0;
}

.contact-hero__op {
    height: 0;
}

.contact-hero__list.active .contact-hero__op {
    height: 25px;
}