.expertise {
    // .expertise-sect
    &-sect {
        overflow: hidden;
        padding-bottom: 200px;
    }
    // .expertise__wrap-title
    &__wrap-title {
        margin-bottom: 52px;
    }
    // .expertise__title
    &__title {
        @extend %h2-title;
    }
    // .expertise__tabs 
    &__tabs {
        @extend %dg;
        grid-template-columns: width(312, $decstop_container_width) width(800, $decstop_container_width);
        grid-column-gap: 104px;
    }
    // .expertise__tabs-title
    &__tabs-title {}
    // .expertise__tabs-content
    &__tabs-content {}

    @import "expertise-tabs/expertise-tab-title";
    @import "expertise-tabs/expertise-tab-content";
}