@keyframes imgBg {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
    }
}
.header-hero {
    position: relative;
    background-color: transparent;
    // background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 103%;
        height: 103%;
        animation: imgBg 4s linear infinite alternate;
    }
    &:after {
        position: absolute;
        content: '';
        display: block;
        background-color: #000;
        z-index: 0;
        top: 0;
        left: 0;
        width: 987px;
        height: 951px;
        background-color: rgba(0, 46, 93, .75);
    }
    .container {
        position: relative;
        z-index: 1;
    }
}
.header-wrap {
    &_1 {
        @extend %df;
        padding-top: 189px;
    }
    &_2 {
        padding-top: 124px;
        padding-left: 416px;
        padding-bottom: 72px;
    }
    &_3 {

    }
}
.header-lang {}
.h-langs {
    padding-top: 15px;
    // .h-langs__item
    &__item {
        position: relative;
        margin-bottom: 42px;
        &:after,
        &:before {
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            height: 56px;
            background-color: $white;
            left: 50%;
            display: none;
        }
        &.active {
            &-en {
                margin-bottom: 91px;
                &:after {
                    top: 40px;
                    display: block;
                }
            }
            &-de,
            &-ru {
                margin: 91px 0;
                &:after {
                    top: 40px;
                    display: block;
                }
                &:before {
                    top: -73px;
                    display: block;
                }
            }
            &-ua {
                margin-top: 91px;
                &:before {
                    top: -73px;
                    display: block;
                }
            }
            &-en,
            &-de,
            &-ru, 
            &-ua {
                .h-langs__link {
                    color: $white;
                }
            }
        }
    }
    // .h-langs__link
    &__link {
        @extend %mont-regular;
        @extend %fz-14;
        @extend %ttu;
        color: rgba(255, 255, 255, .7);
        &:hover {
            color: $white;
        }
    }
}
.offer {
    padding-left: 83px;
    @extend %df;
    @extend %aic;
    // @extend %aic;
    // .offer__title
    &__title {
        @extend %anglecia-Pro;
        @extend %fz-96;
        @extend %lh-104;
        @extend %ttu;
        color: $white;
    }
    // .offer__contact
    &__contact {
        @extend %btn-line-down;
        padding-left: 120px; 
        margin-bottom: 29px;
        color: $white;
        &:after {
            background-color: $white;
        }
    }
}
.find-prof {
    // .find-prof__title
    &__title {
        position: relative;
        @extend %h2-title;
        color: $white;
        margin-bottom: 38px;
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 384px;
            height: 1px;
            top: 50%;
            left: -52%;
            background-color: $white;
            opacity: 0.5;
        }
    }
    // .find-prof__wrap
    &__wrap {
        @extend %serch-wrapper;
    }
    // .find-prof__input
    &__input {
        @extend %input;
        width: width(727,800);
    }
    // .find-prof__btn
    &__btn {
        @extend %serch-bth;
        width: width(73, 800);
    }
    // .find-prof__svg
    &__svg {

    }
    // .find-prof__path
    &__path {
        fill: $black;
    }
}
.h-social {
    @extend %df;
    @extend %aic;
    // .h-social__item
    &__item {
        position: relative;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 85px;
        height: 85px;
        // border: 1px solid $white;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
        transition: color 0.25s, box-shadow .5s ease;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
                // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
            border: 2px solid transparent;
            width: 0;
            height: 0;
        }
        // This covers the top & right borders (expands right, then down)
        &::before {
            top: 0;
            left: 0;
        }
        // And this the bottom & left borders (expands left, then up)
        &::after {
            top: 0;
            left: 0;
        }
        &:hover {
            color: $black;
            // box-shadow: inset 0 0 0 1px transparent;
        }
        // Hover styles
        &:hover::before,
        &:hover::after {
            width: 100%;
            height: 100%; 
        }
        &:hover::before {
            border-top-color: $white;
            border-right-color: $white;
            transition:
                width 0.25s ease-out, // Width expands first
                height 0.25s ease-out 0.25s; // And then height
        }
        &:hover::after {
           border-bottom-color: $white;
           border-left-color: $white;
           transition: // Animate height first, then width
           height 0.25s ease-out,
           width 0.25s ease-out 0.25s;
        }
        // Inherits from .draw
    }
    // .h-social__link
    &__link {
        position: relative;
        z-index: 5;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 100%;
        height: 100%;
        &:hover {
            svg {
                path {
                    fill: $white;
                }
            }
        }
        svg {
            path {
                fill: rgba(255, 255, 255, .5);
            }
        }
        span {
            display: block;
        }
        &_fb {
            span {
                width: 10px;
                height: 20px;
            }
        }
        &_tw {
            span {
                width: 20px;
                height: 17px;
            }
        }
        &_in {
            span {
                width: 20px;
                height: 20px;
            }
        }
        &_tg {
            span {
                width: 20px;
                height: 18px;
            }
        }
        &_y {
            span {
                width: 20px;
                height: 15px;
            }
        }
    }
    // .h-social__svg
    &__svg {
        width: inherit;
        height: inherit;
    }
    // .h-social__path
    &__path {
        transition: .8s ease;
        fill: $white;
    }
}
.header-inside {
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(270deg, #011A33 0%, #002E5D 100%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 424px;
    padding-top: 54px;
    @extend %df;
    @extend %aic;
    &_search-bar {
        display: block;
        padding-top: 194px;
        height: 535px;
        .header-page {
            margin-bottom: 138px;
        }
    }
    &_article {
        padding-top: 130px;
        .header-page {
            max-width: 1040px;
        }
    }
}

.header-page {
    // .header-page__title

    &__title {
        @extend %h2-title;
        color: $white;
        &_article {
            @extend %h2-title-inside;
        }
    }
}
.page-contact {
    .header-inside {
        display: block;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 194px;
    }
}