.home-insights {
    padding-top: 136px;
    padding-bottom: 132px;
}

.insights {

    // .insights__wrap
    &__wrap {
        // .insights__wrap_top
        &_top {
            @extend %df;
            @extend %aie;
            @extend %jcsb;
            margin-bottom: 62px;
        }
    }
    // .insights__title
    &__title {
        @extend %h2-title;
    }
    // .insights__tabs
    &__tabs {
        @extend %df;
        @extend %aic;
        padding-right: 10px;
        padding-bottom: 3px;
        // width: 463px;
    }
    // .insights__tab-title
    &__tab-title {
        margin-right: 55px;
        &:first-child {
            margin-right: 53px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    // .insights__tab-link
    &__tab-link {
        position: relative;
        @extend %mont-regular;
        @extend %fz-16;
        @extend %lh-24;
        @extend %ls-2;
        color: $black_06;
        transition: all .5s ease;
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            top: 50%;
            margin-top: -7px;
            left: -12 + -14 + px;
            border: 1px solid $black_06;
            transition: all .5s ease;
        }
        &.active,
        &:hover {
            color: $black;
            &:after {
                background-color: $black;
                border: 1px solid $black;
            }
        }
    }
    // .insights__content
    &__content {
        position: relative;
        margin-bottom: 72px;
        height: 518px;
    }
    // .insights__tab-wrap
    &__tab-wrap {
        @extend %card-tabs-wrap;
    }
    // .insights__card
    &__card {
        @extend %article-card;
        // .insights__card_event
        &_event {
            .insights__card-content {
                @extend %article-cart-without-img;
            }
        }
    }
    // .insights__wrap-img
    &__wrap-img {
        @extend %article-card-img;
    }
    // .insights__card-content
    &__card-content {
        @extend %article-cart-content-area;
    }
    // .insights__wrap-date
    &__wrap-date {
        @extend %article-card-date;
    }
    // .insights__date
    &__date {
        
    }
    // .insights__tag
    &__tag {
        @extend %article-card-tag;
    }
    // .insights__card-title
    &__card-title {
        @extend %article-cart-title;
    }
    // .insights__link
    &__link {
        @extend %article-cart-link;
    }
    // .insights__text
    &__text {
        @extend %article-card-text;
    }
    &__more {
        @extend %viev-all;
    }
}

