<div class="approach">
    <div class="approach__wrap approach__wrap_left">
        <p class="approach__text-intro">
            We effectively combine excellent knowledge and enhanced understanding of the Ukrainian
            legislation, longstanding legal practice and strict compliance with the world’s best
            standards for the provision of legal services. International and national studies and rating
            programs, which are based on legal services customer satisfaction surveys, confirm the
            leading positions of our Firm.
        </p>
        <!-- /.approach__text-intro -->
    </div>
    <!-- /.approach__wrap approach__wrap_left -->
    <div class="approach__wrap approach__wrap_right">
        <p>
            The GOLAW team enjoys the clients’ trust and is a recognized leader in the Ukrainian legal
            services market. We are proud to be called a dynamic and efficient law firm. High quality
            and strict adherence to deadlines in handling clients’ requests combined with rationality
            and practicality of solutions are the standards of our work. The interests of our clients
            are our highest priority. We provide a full range of legal services to both national and
            foreign clients in various branches of economics.
        </p>
        <!-- /.approach__text -->
        <p>
            The firm has been recognized by several prestigious international and Ukrainian rankings,
            such as The Legal 500, Chambers & Partners, Best Lawyers, Legal Awards and has ben ranked
            among TOP 10 Leading Law Firms in Ukraine.
        </p>
        <!-- /.approach__text -->
    </div>
    <!-- /.approach__wrap approach__wrap_right -->
</div>
<!-- /.approach -->