<div class="swiper-container slider slider_client">
    <div class="swiper-wrapper slider__wrapper">
        <div class="swiper-slide slider__item">
            <div class="cl-slide">
                <div class="cl-slide__wrap-img"><img src="img/client/1.png" alt="some-alt"></div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="cl-slide">
                <div class="cl-slide__wrap-img"><img src="img/client/2.png" alt="some-alt"></div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="cl-slide">
                <div class="cl-slide__wrap-img"><img src="img/client/3.png" alt="some-alt"></div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="cl-slide">
                <div class="cl-slide__wrap-img"><img src="img/client/4.png" alt="some-alt"></div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="cl-slide">
                <div class="cl-slide__wrap-img"><img src="img/client/5.png" alt="some-alt"></div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
    </div>
    <div class="swiper-scrollbar slider__scrollbar"></div>
</div>