<ul class="rep-cases__wrap">
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Advising on tax implications and risks</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consequatur nihil voluptas, doloremque
                sit dolor, dignissimos ipsam recusandae ducimus minima quas assumenda quasi? Eos, dolor culpa laudantium
                minima! Mollitia numquam aliquid iusto debitis hic dolore possimus repellat ad temporibus nesciunt sunt
                dicta libero saepe tempora, animi unde quia molestiae in omnis sapiente, pariatur aperiam nam laborum.
                Neque reprehenderit, ut id.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Follow-up of the procedure for winding up of a major taxpayer</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Follow-up of the procedure for winding up of a major taxpayer via its liquidation. Representation of
                interests of the company in tax authorities within disputes as regards non-recognition of creditors'
                claims within the scope of liquidation audit and de-registration of the company's structural units.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Advising during sale of distressed assets</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quas molestiae repellat voluptates
                architecto accusantium eveniet doloribus eos. Sapiente eveniet, quasi! Est consectetur sapiente, enim!
                Quas nulla repudiandae quos consequatur animi, ipsam veritatis quisquam deleniti enim, aspernatur
                repellat hic nemo dicta illo sint. Ex voluptatem, blanditiis minus ipsa nihil iure eveniet deserunt
                veritatis ad recusandae eaque corporis impedit tenetur hic natus omnis vel ut numquam amet quis tempora
                esse. Unde aspernatur porro id deserunt obcaecati corporis nisi atque numquam deleniti.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Consulting in a case of foreclosure</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestias expedita quas tempora sint
                consequatur aspernatur id nam ea, dicta nostrum fugiat neque exercitationem, voluptate voluptas hic.
                Blanditiis id adipisci ea delectus sunt recusandae, veritatis nihil soluta! Eaque, minus fugiat.
                Similique assumenda nesciunt delectus officia reprehenderit, eligendi optio soluta impedit, atque eaque,
                et quia ipsa.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Follow-up of tax audit of a major taxpayer</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus libero saepe illum qui nihil,
                voluptatibus nemo, ullam vitae nisi aut neque ipsa architecto culpa eum odio eos hic minus dolores
                soluta reiciendis adipisci. Dolorem dolorum iste, necessitatibus mollitia molestiae accusantium eligendi
                officiis ipsam minima ullam velit provident eaque numquam nisi, eos magnam. Praesentium ullam reiciendis
                nostrum, consequuntur ratione saepe ipsum quo illo voluptate hic sequi voluptatem, enim molestias vitae
                repellendus at voluptatum. Esse, dicta perspiciatis ducimus deserunt explicabo rerum eaque dolorum
                voluptates magnam fugit error nobis laudantium voluptatibus reiciendis sunt assumenda. Neque officia
                excepturi quisquam ducimus quia dolorum placeat, accusamus.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
    <li class="rep-cases__item tog-slide">
        <h3 class="rep-cases__subtitle"><span>Protection of the interests in case of illegal actions of customs clearance</span><i></i></h3>
        <!-- /.rep-cases__subtitle -->
        <div class="rep-cases__content tog-cont">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptas eos alias sed, dicta cupiditate
                adipisci dolore eveniet, accusantium ex neque, deleniti atque, porro ratione necessitatibus modi cumque
                vitae rerum. Eligendi enim eius officia esse tenetur, in, voluptate iusto distinctio.
            </p>
        </div>
        <!-- /.rep-cases__content tog-cont -->
    </li>
    <!-- /.rep-cases__item tog-slide -->
</ul>
<!-- /.rep-cases__wrap -->