<div class="swiper-container slider slider_reviews">
    <div class="swiper-wrapper slider__wrapper">
        <div class="swiper-slide slider__item">
            <div class="review__slide">
                <div class="review__wrap_left">
                    <div class="review__about">
                        <h3 class="review__name">
                            Artem Zubok
                        </h3>
                        <!-- /.review__name -->
                        <p class="review__firm">
                            Finance Director of Red<br>
                            Bull Ukraine
                        </p>
                        <!-- /.review__firm -->
                    </div>
                    <!-- /.review__about -->
                </div>
                <!-- /.review__wrap_left -->
                <div class="review__wrap_right">
                    <div class="review__content scroll-cont">
                        <p>
                            We have been working with GOLAW for quite a long period of time by now, so we can certainly confirm its reliable reputation, high quality of the work performed, and client-oriented approach. Experience, knowledge and skills of GOLAW experts meet the high level of our company’s expectations. universities of Perugia under Cinus, and Bologna under Oldradus and Belviso, and graduated to doctor of law in 1334. In 1339 he started teaching himself.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum libero culpa quam nemo. Incidunt rerum totam officia, ad quas in voluptas eligendi. Quae delectus nemo, veritatis culpa molestias deleniti inventore a non aliquam sed cupiditate itaque ab amet ipsum ex, provident praesentium sunt voluptatibus, numquam quibusdam voluptate modi voluptatem, est ut! Tempore reprehenderit minima sequi nulla, vitae quas laudantium quos sed excepturi veniam iusto tenetur possimus ipsa eius illo.
                        </p>
                    </div>
                    <!-- /.review__content -->
                </div>
                <!-- /.review__wrap_right -->
            </div>
            <!-- /.review__slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="review__slide">
                <div class="review__wrap_left">
                    <div class="review__about">
                        <h3 class="review__name">
                            Artem Zubok
                        </h3>
                        <!-- /.review__name -->
                        <p class="review__firm">
                            Finance Director of Red Bull Ukraine
                        </p>
                        <!-- /.review__firm -->
                    </div>
                    <!-- /.review__about -->
                </div>
                <!-- /.review__wrap_left -->
                <div class="review__wrap_right">
                    <div class="review__content scroll-cont">
                        <p>
                            We have been working with GOLAW for quite a long period of time by now, so we can certainly confirm its reliable reputation, high quality of the work performed, and client-oriented approach. Experience, knowledge and skills of GOLAW experts meet the high level of our company’s expectations. universities of Perugia under Cinus, and Bologna under Oldradus and Belviso, and graduated to doctor of law in 1334. In 1339 he started teaching himself.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum libero culpa quam nemo. Incidunt rerum totam officia, ad quas in voluptas eligendi. Quae delectus nemo, veritatis culpa molestias deleniti inventore a non aliquam sed cupiditate itaque ab amet ipsum ex, provident praesentium sunt voluptatibus, numquam quibusdam voluptate modi voluptatem, est ut! Tempore reprehenderit minima sequi nulla, vitae quas laudantium quos sed excepturi veniam iusto tenetur possimus ipsa eius illo.
                        </p>
                    </div>
                    <!-- /.review__content -->
                </div>
                <!-- /.review__wrap_right -->
            </div>
            <!-- /.review__slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="review__slide">
                <div class="review__wrap_left">
                    <div class="review__about">
                        <h3 class="review__name">
                            Artem Zubok
                        </h3>
                        <!-- /.review__name -->
                        <p class="review__firm">
                            Finance Director of Red Bull Ukraine
                        </p>
                        <!-- /.review__firm -->
                    </div>
                    <!-- /.review__about -->
                </div>
                <!-- /.review__wrap_left -->
                <div class="review__wrap_right">
                    <div class="review__content scroll-cont">
                        <p>
                            We have been working with GOLAW for quite a long period of time by now, so we can certainly confirm its reliable reputation, high quality of the work performed, and client-oriented approach. Experience, knowledge and skills of GOLAW experts meet the high level of our company’s expectations. universities of Perugia under Cinus, and Bologna under Oldradus and Belviso, and graduated to doctor of law in 1334. In 1339 he started teaching himself.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto nostrum libero culpa quam nemo. Incidunt rerum totam officia, ad quas in voluptas eligendi. Quae delectus nemo, veritatis culpa molestias deleniti inventore a non aliquam sed cupiditate itaque ab amet ipsum ex, provident praesentium sunt voluptatibus, numquam quibusdam voluptate modi voluptatem, est ut! Tempore reprehenderit minima sequi nulla, vitae quas laudantium quos sed excepturi veniam iusto tenetur possimus ipsa eius illo.
                        </p>
                    </div>
                    <!-- /.review__content -->
                </div>
                <!-- /.review__wrap_right -->
            </div>
            <!-- /.review__slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
    </div>
</div>