<div class="search-law">
    <div class="search-law__lawyer">
        <figure class="search-law__wrap-img"><img src="img/layers/1.jpg" alt></figure>
        <!-- /.search-law__wrap-img -->
        <div class="search-law__content">
            <h2 class="search-law__name">
                <a href="#" class="search-law__name-link">Valentyn Gvozdiy</a>
            </h2>
            <!-- /.search-law__name -->
            <p class="search-law__position">
                <span>Managing Partner</span>
                <span>Attorney at law</span>
            </p>
            <!-- /.search-law__position -->
            <div class="search-law__btns">
                <a href="#" class="search-law__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="search-law__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.search-law__btns -->
        </div>
        <!-- /.search-law__content -->
    </div>
    <!-- /.search-law__lawyer -->
    <div class="search-law__lawyer">
        <figure class="search-law__wrap-img"><img src="img/layers/2.jpg" alt></figure>
        <!-- /.search-law__wrap-img -->
        <div class="search-law__content">
            <h2 class="search-law__name">
                <a href="#" class="search-law__name-link">angelika moiseeva</a>
            </h2>
            <!-- /.search-law__name -->
            <p class="search-law__position">
                <span>Partner,</span>
                <span>Head of Tax Practice,</span>
                <span>Attorney at law</span>
            </p>
            <!-- /.search-law__position -->
            <div class="search-law__btns">
                <a href="#" class="search-law__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="search-law__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.search-law__btns -->
        </div>
        <!-- /.search-law__content -->
    </div>
    <!-- /.search-law__lawyer -->
    <div class="search-law__lawyer">
        <figure class="search-law__wrap-img"><img src="img/layers/3.jpg" alt></figure>
        <!-- /.search-law__wrap-img -->
        <div class="search-law__content">
            <h2 class="search-law__name">
                <a href="#" class="search-law__name-link">Max lebedev</a>
            </h2>
            <!-- /.search-law__name -->
            <p class="search-law__position">
                <span>Partner,</span>
                <span>Head of corporate practice,</span>
                <span>Attorney at law</span>
            </p>
            <!-- /.search-law__position -->
            <div class="search-law__btns">
                <a href="#" class="search-law__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="search-law__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.search-law__btns -->
        </div>
        <!-- /.search-law__content -->
    </div>
    <!-- /.search-law__lawyer -->
    <div class="search-law__lawyer">
        <figure class="search-law__wrap-img"><img src="img/layers/4.jpg" alt></figure>
        <!-- /.search-law__wrap-img -->
        <div class="search-law__content">
            <h2 class="search-law__name">
                <a href="#" class="search-law__name-link">SERGIY OBERKOVYCH</a>
            </h2>
            <!-- /.search-law__name -->
            <p class="search-law__position">
                <span>Senior Partner,</span>
                <span>Attorney at law</span>
            </p>
            <!-- /.search-law__position -->
            <div class="search-law__btns">
                <a href="#" class="search-law__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="search-law__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.search-law__btns -->
        </div>
        <!-- /.search-law__content -->
    </div>
    <!-- /.search-law__lawyer -->
    <div class="search-law__lawyer">
        <figure class="search-law__wrap-img"><img src="img/layers/5.jpg" alt></figure>
        <!-- /.search-law__wrap-img -->
        <div class="search-law__content">
            <h2 class="search-law__name">
                <a href="#" class="search-law__name-link">Igor Glushko</a>
            </h2>
            <!-- /.search-law__name -->
            <p class="search-law__position">
                <span>Head of Criminal Law & White Collar</span>
                <span>Defense,</span>
                <span>Partner,</span>
                <span>Attorney at law</span>
            </p>
            <!-- /.search-law__position -->
            <div class="search-law__btns">
                <a href="#" class="search-law__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="search-law__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.search-law__btns -->
        </div>
        <!-- /.search-law__content -->
    </div>
    <!-- /.search-law__lawyer -->
    <div class="search-law__lawyer">
        <figure class="search-law__wrap-img"><img src="img/layers/6.jpg" alt></figure>
        <!-- /.search-law__wrap-img -->
        <div class="search-law__content">
            <h2 class="search-law__name">
                <a href="#" class="search-law__name-link">Kateryna Manoylenko</a>
            </h2>
            <!-- /.search-law__name -->
            <p class="search-law__position">
                <span>Partner,</span>
                <span>Head of Tax Practice,</span>
                <span>Attorney at law,</span>
            </p>
            <!-- /.search-law__position -->
            <div class="search-law__btns">
                <a href="#" class="search-law__v-card" download>
                    <span>V-CARD</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
                <a href="#" class="search-law__pdf" download>
                    <span>PDF</span>
                    <i>
                        <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                class="layers__path" />
                        </svg>

                    </i>
                </a>
            </div>
            <!-- /.search-law__btns -->
        </div>
        <!-- /.search-law__content -->
    </div>
    <!-- /.search-law__lawyer -->
        <div class="search-law__lawyer">
            <figure class="search-law__wrap-img"><img src="img/layers/3.jpg" alt></figure>
            <!-- /.search-law__wrap-img -->
            <div class="search-law__content">
                <h2 class="search-law__name">
                    <a href="#" class="search-law__name-link">Max lebedev</a>
                </h2>
                <!-- /.search-law__name -->
                <p class="search-law__position">
                    <span>Partner,</span>
                    <span>Head of corporate practice,</span>
                    <span>Attorney at law</span>
                </p>
                <!-- /.search-law__position -->
                <div class="search-law__btns">
                    <a href="#" class="search-law__v-card" download>
                        <span>V-CARD</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                    <a href="#" class="search-law__pdf" download>
                        <span>PDF</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                </div>
                <!-- /.search-law__btns -->
            </div>
            <!-- /.search-law__content -->
        </div>
        <!-- /.search-law__lawyer -->
        <div class="search-law__lawyer">
            <figure class="search-law__wrap-img"><img src="img/layers/4.jpg" alt></figure>
            <!-- /.search-law__wrap-img -->
            <div class="search-law__content">
                <h2 class="search-law__name">
                    <a href="#" class="search-law__name-link">SERGIY OBERKOVYCH</a>
                </h2>
                <!-- /.search-law__name -->
                <p class="search-law__position">
                    <span>Senior Partner,</span>
                    <span>Attorney at law</span>
                </p>
                <!-- /.search-law__position -->
                <div class="search-law__btns">
                    <a href="#" class="search-law__v-card" download>
                        <span>V-CARD</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                    <a href="#" class="search-law__pdf" download>
                        <span>PDF</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                </div>
                <!-- /.search-law__btns -->
            </div>
            <!-- /.search-law__content -->
        </div>
        <!-- /.search-law__lawyer -->
        <div class="search-law__lawyer">
            <figure class="search-law__wrap-img"><img src="img/layers/5.jpg" alt></figure>
            <!-- /.search-law__wrap-img -->
            <div class="search-law__content">
                <h2 class="search-law__name">
                    <a href="#" class="search-law__name-link">Igor Glushko</a>
                </h2>
                <!-- /.search-law__name -->
                <p class="search-law__position">
                    <span>Head of Criminal Law & White Collar,</span>
                    <span>Defense,</span>
                    <span>Partner,</span>
                    <span>Attorney at law</span>
                </p>
                <!-- /.search-law__position -->
                <div class="search-law__btns">
                    <a href="#" class="search-law__v-card" download>
                        <span>V-CARD</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                    <a href="#" class="search-law__pdf" download>
                        <span>PDF</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                </div>
                <!-- /.search-law__btns -->
            </div>
            <!-- /.search-law__content -->
        </div>
        <!-- /.search-law__lawyer -->
        <div class="search-law__lawyer">
            <figure class="search-law__wrap-img"><img src="img/layers/6.jpg" alt></figure>
            <!-- /.search-law__wrap-img -->
            <div class="search-law__content">
                <h2 class="search-law__name">
                    <a href="#" class="search-law__name-link">Kateryna Manoylenko</a>
                </h2>
                <!-- /.search-law__name -->
                <p class="search-law__position">
                    <span>Partner,</span>
                    <span>Head of Tax Practice,</span>
                    <span>Attorney at law</span>
                </p>
                <!-- /.search-law__position -->
                <div class="search-law__btns">
                    <a href="#" class="search-law__v-card" download>
                        <span>V-CARD</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                    <a href="#" class="search-law__pdf" download>
                        <span>PDF</span>
                        <i>
                            <svg class="layers__svg" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.0054 8.15918L7.5 12.6646L2.99458 8.15918L3.82324 7.33051L6.91406 10.4213V0H8.08594V10.4213L11.1768 7.33051L12.0054 8.15918ZM15 13.8281H0V15H15V13.8281Z"
                                    class="layers__path" />
                            </svg>

                        </i>
                    </a>
                </div>
                <!-- /.search-law__btns -->
            </div>
            <!-- /.search-law__content -->
        </div>
        <!-- /.search-law__lawyer -->
</div>
<!-- /.search-law -->