<div class="hero-about__wrap">
    <h2 class="hero-about__title">About us</h2>
    <!-- /.hero-about__title -->
    <div class="hero-about__wrap_text">
        <p class="hero-about__text">
            GOLAW is an international law firm with offices in Ukraine and Germany. We serve companies, financial
            institutions and private investors. We help our clients resolve their most complex legal challenges. And we
            succeed.
        </p>
        <!-- /.hero-about__text -->
    </div>
    <!-- /.hero-about__wrap_text -->
    <a href="" class="hero-about__link">
        <span>learn more</span>
    </a>
</div>
<!-- /.hero-about__wrap -->