<div class="contact-hero">
    <h2 class="contact-hero__title">Need professional help with your case?</h2>
    <!-- /.contact-hero__title -->
    <div class="contact-hero__wrap-text">
        <p class="contact-hero__text">Neque porro quisquam est qui dolorem ipsum quia</p>
        <!-- /.contact-hero__text -->
    </div>
    <!-- /.contact-hero__wrap-text -->
    <a href="#" class="contact-hero__btn"><span>Contact us</span></a>
    <!-- /.contact-hero__btn -->
</div>
<!-- /.contact-hero -->