<ul class="expertise__wrapper">
    <li class="expertise__tab-item">
        <button class="expertise__tab-title ex-tab active" data-id="1"><span>Practice Areas</span></button>
    </li>
    <!-- /.expertise__tab-item -->
    <li class="expertise__tab-item">
        <button class="expertise__tab-title ex-tab" data-id="2"><span>Industry Sectors</span></button>
    </li>
    <!-- /.expertise__tab-item -->
    <li class="expertise__tab-item">
        <button class="expertise__tab-title ex-tab" data-id="3"><span>All Services</span></button>
    </li>
    <!-- /.expertise__tab-item -->
</ul>
<!-- /.expertise__wrapper -->