<div class="expertise__content">
    <div data-id="1" class="expertise__wrap-cont cont-tab active scroll-cont">
        <ul class="expertise__tab-cont">
            <li class="expertise__one-side expertise__one-side_1">
                <ul class="expertise__side">
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Anti-Corruption and Anti-Bribery</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Antitrust and competition</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Banking and finance</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Business Protection</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Compliance, Corporate governance</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Risk management</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Corporate and M&A</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Criminal Law and White Collar Defence</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Employment</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Environment protection</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Government relation (GR)</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Insolvency and restructuring</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Intellectual property</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">International trade</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Litigation and dispute resolution</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Maritime Law</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Private clients</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Real estate</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                </ul>
                <!-- /.expertise__side -->
            </li>
            <!-- /.expertise__one-side expertise__one-side_1 -->
        </ul>
        <!-- /.expertise__tab-cont -->
    </div>
    <!-- /.expertise__wrap-cont -->
    <div data-id="2" class="expertise__wrap-cont cont-tab scroll-cont">
        <ul class="expertise__tab-cont">
            <li class="expertise__one-side expertise__one-side_2">
                <ul class="expertise__side">
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Government relation (GR)</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Insolvency and restructuring</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Intellectual property</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">International trade</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Litigation and dispute resolution</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Maritime Law</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Private clients</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Real estate</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Tax</a>
                    </li>
                    <!-- /.expertise__item -->
                </ul>
                <!-- /.expertise__side -->
            </li>
            <!-- /.expertise__one-side expertise__one-side_2 -->
        </ul>
        <!-- /.expertise__tab-cont -->
    </div>
    <!-- /.expertise__wrap-cont -->
    <div data-id="3" class="expertise__wrap-cont cont-tab scroll-cont">
        <ul class="expertise__tab-cont">
            <li class="expertise__one-side expertise__one-side_1">
                <ul class="expertise__side">
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Anti-Corruption and Anti-Bribery</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Antitrust and competition</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Banking and finance</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Business Protection</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Compliance, Corporate governance</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Risk management</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Corporate and M&A</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Criminal Law and White Collar Defence</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Employment</a>
                    </li>
                    <!-- /.expertise__item -->
                    <li class="expertise__item">
                        <a href="#" class="expertise__link">Environment protection</a>
                    </li>
                    <!-- /.expertise__item -->
                </ul>
                <!-- /.expertise__side -->
            </li>
            <!-- /.expertise__one-side expertise__one-side_1 -->
        </ul>
        <!-- /.expertise__tab-cont -->
    </div>
    <!-- /.expertise__wrap-cont -->
</div>
<!-- /.expertise__content -->