<div data-id="1" class="insights__tab-wrap cont-tab-ins active">
    <div class="insights__card js-lnk">
        <figure class="insights__wrap-img">
            <img src="http://golaw.dev.devsteam.ru/wp-content/uploads/2019/09/11.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Determining the potential risks of transfer pricing for exporters in the agro-industrial complex (AIC)
            </h3>
        </div>
        <a href="it-is-work" class="insights__link lnk-a">
            <span>Read</span>
        </a>
    </div>
    <div class="insights__card js-lnk">
        <figure class="insights__wrap-img">
            <img src="img/insights/insights-2.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </h3>
        </div>
        <a href="it-is-work" class="insights__link lnk-a">
            <span>Read</span>
        </a>
    </div>
    <div class="insights__card insights__card_event js-lnk">
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Event</span>
            </p>
            <h3 class="insights__card-title">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat ut enim ad minim veniam
            </h3>
            <p class="insights__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua...
            </p>
        </div>
        <a href="it-is-work" class="insights__link lnk-a">
            <span>Read</span>
        </a>
    </div>
</div>
<div data-id="2" class="insights__tab-wrap cont-tab-ins">
    <a href="#" class="insights__card">
        <figure class="insights__wrap-img">
            <img src="img/insights/insights-1.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Determining the potential risks of transfer pricing for exporters in the agro-industrial complex (AIC)
            </h3>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
    <a href="" class="insights__card insights__card_event">
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Event</span>
            </p>
            <h3 class="insights__card-title">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat ut enim ad minim veniam
            </h3>
            <p class="insights__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua...
            </p>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
    <a href="#" class="insights__card">
        <figure class="insights__wrap-img">
            <img src="img/insights/insights-2.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </h3>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
</div>
<div data-id="3" class="insights__tab-wrap cont-tab-ins">
    <a href="#" class="insights__card">
        <figure class="insights__wrap-img">
            <img src="img/insights/insights-2.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </h3>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
    <a href="#" class="insights__card">
        <figure class="insights__wrap-img">
            <img src="img/insights/insights-1.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Determining the potential risks of transfer pricing for exporters in the agro-industrial complex (AIC)
            </h3>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
    <a href="" class="insights__card insights__card_event">
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Event</span>
            </p>
            <h3 class="insights__card-title">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat ut enim ad minim veniam
            </h3>
            <p class="insights__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua...
            </p>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
</div>
<div data-id="4" class="insights__tab-wrap cont-tab-ins">
    <a href="#" class="insights__card">
        <figure class="insights__wrap-img">
            <img src="img/insights/insights-2.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </h3>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
    <a href="#" class="insights__card">
        <figure class="insights__wrap-img">
            <img src="img/insights/insights-1.jpg" alt="">
        </figure>
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Publication</span>
            </p>
            <h3 class="insights__card-title">
                Determining the potential risks of transfer pricing for exporters in the agro-industrial complex (AIC)
            </h3>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
    <a href="" class="insights__card insights__card_event">
        <div class="insights__card-content">
            <p class="insights__wrap-date">
                <span class="insights__date">08 June 2019</span>
                <span class="insights__tag">Event</span>
            </p>
            <h3 class="insights__card-title">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat ut enim ad minim veniam
            </h3>
            <p class="insights__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua...
            </p>
        </div>
        <div class="insights__link">
            <span>Read</span>
        </div>
    </a>
</div>