<h2 class="insights__title">Insights</h2>
<!-- /.insights__title -->
<ul class="insights__tabs">
    <li class="insights__tab-title">
        <button data-id="1" class="insights__tab-link ins-tab active">
            All
        </button>
         <!-- /.insights__tab-link -->
    </li>
    <!-- /.insights__tab-title -->
    <li class="insights__tab-title">
        <button data-id="2" data-category="7" class="insights__tab-link ins-tab">
            News
        </button>
         <!-- /.insights__tab-link -->
    </li>
    <!-- /.insights__tab-title -->
    <li class="insights__tab-title">
        <button data-id="3" data-category="8" class="insights__tab-link ins-tab">
            Publications
        </button>
         <!-- /.insights__tab-link -->
    </li>
    <!-- /.insights__tab-title -->
    <li class="insights__tab-title">
        <button data-id="4" data-category="6" class="insights__tab-link ins-tab">
            Events
        </button>
         <!-- /.insights__tab-link -->
    </li>
    <!-- /.insights__tab-title -->
</ul>
<!-- /.insights__tabs -->