<div class="contact-hero">
    <h2 class="contact-hero__title">Need professional help with your case?</h2>
    <!-- /.contact-hero__title -->
    <div class="contact-hero__wrap-text">
        <p class="contact-hero__text">Neque porro quisquam est qui dolorem ipsum quia</p>
        <!-- /.contact-hero__text -->
    </div>
    <!-- /.contact-hero__wrap-text -->
    <ul class="contact-hero__list c-drop-down">
        <li class="contact-hero__first-item">
            <p class="contact-hero__hero opener-c"><span>Contact us</span></p>
            <!-- /.contact-hero__hero -->
            <ul class="contact-hero__inside">
                <li class="contact-hero__item">
                    <!-- для этого нужно модальное окно subscribe -->
                    <button class="contact-hero__btns subs"><span>Subscribe to newsletters</span></button>
                    <!-- /.contact-hero__btns -->
                </li>
                <!-- /.contact-hero__item -->
                <li class="contact-hero__item">
                    <a href="people.html" class="contact-hero__btns"><span>Find a professional</span></a>
                    <!-- /.contact-hero__btns -->
                </li>
                <!-- /.contact-hero__item -->
                <li class="contact-hero__item">
                    <a href="careers.html" class="contact-hero__btns"><span>Find a job</span></a>
                    <!-- /.contact-hero__btns -->
                </li>
                <!-- /.contact-hero__item -->
                <li class="contact-hero__item">
                    <a href="contact.html#touch" class="contact-hero__btns"><span>Get in touch</span></a>
                    <!-- /.contact-hero__btns -->
                </li>
                <!-- /.contact-hero__item -->
            </ul>
            <!-- /.contact-hero__inside -->
        </li>
        <!-- /.contact-hero__first-item -->
        <li class="contact-hero__op op-btn"><span></span></li>
        <!-- /.contact-hero__op op-btn -->
    </ul>
    <!-- /.contact-hero__list -->
</div>
<!-- /.contact-hero -->
