<div class="swiper-container slider slider_awards">
    <div class="swiper-wrapper slider__wrapper">
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/1.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">Best Lawyers</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/2.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">Finance Monthly Law Awards</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/3.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">Tax Directors Handbook</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/4.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">Top 50 Law Firms in Ukraine</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/5.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">The Legal 500</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/6.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">Law Firms Profiles</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/7.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">Юридична премія</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/8.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">Chambers</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <a href="" class="aw-slide">
                <div class="aw-slide__wrap-img"><img src="img/awards/9.png" alt="some-alt"></div>
                <!-- /.aw-slide__wrap-img -->
                <p class="aw-slide__text">IFLR100</p>
                <!-- /.aw-slide__text -->
            </a>
            <!-- /.aw-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
    </div>
    <div class="swiper-scrollbar slider__scrollbar"></div>
</div>