<h2 class="job-about__title">​Sounds interesting?</h2>
<!-- /.job-about__title -->
<div class="job-about__content">
    <p>
        Send you CV and cover letter straight away to <a href="mailto:hr@golaw.ua">hr@golaw.ua</a>
    </p>
    <p>
        See you soon!
    </p>
   <ul class="h-social">
       <li class="h-social__item">
           <a href="#" class="h-social__link h-social__link_fb">
               <span>
                   <svg class="h-social__svg" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path class="h-social__path"
                           d="M2.08104 19.999H6.35621L6.35621 9.99357H9.22535C9.22535 9.99357 9.49402 8.37898 9.62502 6.61361L6.37284 6.61361V4.31103C6.37284 3.96703 6.83854 3.50498 7.30014 3.50498H9.62963V-0.000976562L6.46138 -0.000976562C1.97587 -0.000976562 2.08104 3.36931 2.08104 3.87254L2.08104 6.62526H0L0 9.99233H2.08104L2.08104 19.999Z" />
                   </svg>
               </span>
           </a>
       </li>
       <!-- /.h-social__item -->
       <li class="h-social__item">
           <a href="#" class="h-social__link h-social__link_tw">
               <span>
                   <svg class="h-social__svg" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path class="h-social__path"
                           d="M0 14.4467C1.81572 15.6142 3.97247 16.2953 6.28993 16.2953C13.8373 16.2953 17.9643 10.0266 17.9643 4.58971C17.9643 4.41166 17.9603 4.23411 17.9526 4.05756C18.7545 3.47766 19.4499 2.75304 20 1.92795C19.2641 2.2552 18.4735 2.47652 17.6434 2.57598C18.4906 2.06671 19.1411 1.26052 19.4474 0.299913C18.6545 0.771142 17.7765 1.11381 16.842 1.29807C16.0935 0.4986 15.027 -0.000976562 13.8467 -0.000976562C11.5809 -0.000976562 9.74355 1.84117 9.74355 4.11301C9.74355 4.43528 9.78001 4.74935 9.84995 5.05049C6.43998 4.87891 3.41642 3.24117 1.39261 0.751994C1.03943 1.35974 0.837054 2.06621 0.837054 2.82043C0.837054 4.24754 1.56126 5.5068 2.66245 6.2446C1.98958 6.22322 1.35689 6.03796 0.803819 5.72986C0.803571 5.74726 0.803571 5.76442 0.803571 5.78183C0.803571 7.77491 2.21801 9.43777 4.09499 9.81574C3.75074 9.90949 3.38814 9.96022 3.01389 9.96022C2.7495 9.96022 2.49256 9.93436 2.24182 9.88612C2.76389 11.5206 4.27951 12.71 6.0749 12.7431C4.67064 13.8467 2.90129 14.5044 0.978919 14.5044C0.647569 14.5044 0.320933 14.485 0 14.4467Z" />
                   </svg>
               </span>
           </a>
       </li>
       <!-- /.h-social__item -->
       <li class="h-social__item">
           <a href="#" class="h-social__link h-social__link_in">
               <span>
                   <svg class="h-social__svg" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path class="h-social__path"
                           d="M0.255005 6.26354L4.54114 6.26354L4.54114 19.2583H0.255005L0.255005 6.26354Z" />
                       <path class="h-social__path"
                           d="M2.36975 4.49006H2.39802C3.89328 4.49006 4.82307 3.49183 4.82307 2.24417C4.7948 0.969012 3.89328 -0.000976562 2.42605 -0.000976562C0.959059 -0.000976562 0 0.969012 0 2.24417C0 3.49183 0.932026 4.49006 2.36975 4.49006Z" />
                       <path class="h-social__path"
                           d="M11.2001 19.258L11.2001 12.0004C11.2001 11.611 11.2296 11.2251 11.3424 10.9475C11.6527 10.1702 12.3568 9.36765 13.5418 9.36765C15.0933 9.36765 15.7129 10.5596 15.7129 12.3056L15.7129 19.2577H20V11.806C20 7.81482 17.8852 5.95807 15.0641 5.95807C12.7866 5.95807 11.7697 7.22123 11.2001 8.10449V8.14698H11.172C11.1795 8.13298 11.1916 8.11874 11.2001 8.10449V6.26324L6.9122 6.26324C6.96974 7.48216 6.9122 19.2577 6.9122 19.2577L11.2001 19.258Z" />
                   </svg>
               </span>
           </a>
       </li>
       <!-- /.h-social__item -->
       <li class="h-social__item">
           <a href="#" class="h-social__link h-social__link_tg">
               <span>
                   <svg class="h-social__svg" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path class="h-social__path"
                           d="M4.81232 10.3951L7.2998 16.6133L10.5382 13.3749L16.0905 17.7881L20 0.209961L0 8.54065L4.81232 10.3951ZM14.285 5.2533L8.1633 10.8369L7.40082 13.7106L5.99228 10.1886L14.285 5.2533Z" />
                   </svg>
               </span>
           </a>
       </li>
       <!-- /.h-social__item -->
       <li class="h-social__item">
           <a href="#" class="h-social__link h-social__link_y">
               <span>
                   <svg class="h-social__svg" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <path class="h-social__path"
                           d="M2.51017 13.7939C4.99008 14.0729 7.49975 14.0746 9.99901 14.0729C12.499 14.0746 15.0092 14.0729 17.4881 13.7939C18.5352 13.6757 19.4053 12.883 19.6503 11.8093C19.999 10.2806 20 8.61039 20 7.03587C20 5.46161 20.0032 3.79219 19.6543 2.26349C19.4092 1.18878 18.5394 0.397011 17.4918 0.279072C15.0122 -0.000875433 12.502 -0.00187701 10.0032 -0.000875413C7.50397 -0.00187701 4.99306 -0.000875433 2.5129 0.279072C1.46677 0.397011 0.596726 1.18878 0.352679 2.26349C0.00421619 3.79219 0 5.46161 0 7.03612C0 8.61064 -4.41516e-08 10.2806 0.348958 11.8093C0.592758 12.883 1.4628 13.6757 2.51017 13.7939ZM7.41939 3.49321C9.53844 4.6095 11.6441 5.71802 13.7773 6.84181C11.6503 7.95509 9.54439 9.05811 7.41939 10.1706L7.41939 3.49321Z" />
                   </svg>
               </span>
           </a>
       </li>
       <!-- /.h-social__item -->
</div>
<!-- /.job-about__content -->