<h2 class="jobs__title">Positions available</h2>
<!-- /.jobs__title -->
<ul class="jobs__tabs">
    <li class="jobs__tab-title">
        <button data-city="all" class="jobs__tab-link job-tab active">
            All
        </button>
        <!-- /.jobs__tab-link -->
    </li>
    <!-- /.jobs__tab-title -->
    <li class="jobs__tab-title">
        <button data-city="kyiv" class="jobs__tab-link job-tab">
            Kyiv
        </button>
        <!-- /.jobs__tab-link -->
    </li>
    <!-- /.jobs__tab-title -->
    <li class="jobs__tab-title">
        <button data-city="berlin" class="jobs__tab-link job-tab">
            Berlin
        </button>
        <!-- /.jobs__tab-link -->
    </li>
    <!-- /.jobs__tab-title -->
</ul>
<!-- /.jobs__tabs -->