<div data-city="kyiv" data-id="1" class="jobs__item job-cont active j-open">
    <h3 class="jobs__position">Associate,<br> Attorney-at-law (Litigation)</h3>
    <!-- /.jobs__position -->
    <div class="jobs__wrap-item">
        <p class="jobs__city">Kyiv</p>
        <!-- /.jobs__city -->
        <button class="jobs__btn"></button>
    </div>
    <!-- /.jobs__wrap-item -->
</div>
<!-- /.jobs__item -->
<div data-city="kyiv" data-id="2" class="jobs__item job-cont active j-open">
    <h3 class="jobs__position">HR Manager</h3>
    <!-- /.jobs__position -->
    <div class="jobs__wrap-item">
        <p class="jobs__city">Kyiv</p>
        <!-- /.jobs__city -->
        <button class="jobs__btn"></button>
    </div>
    <!-- /.jobs__wrap-item -->
</div>
<!-- /.jobs__item -->
<div data-city="berlin" data-id="3" class="jobs__item job-cont active j-open">
    <h3 class="jobs__position">HR Manager</h3>
    <!-- /.jobs__position -->
    <div class="jobs__wrap-item">
        <p class="jobs__city">Berlin</p>
        <!-- /.jobs__city -->
        <button class="jobs__btn"></button>
    </div>
    <!-- /.jobs__wrap-item -->
</div>
<!-- /.jobs__item -->
<div data-city="kyiv" data-id="4" class="jobs__item job-cont active j-open">
    <h3 class="jobs__position">Associate (Corporate Law<br> and M&A practice)</h3>
    <!-- /.jobs__position -->
    <div class="jobs__wrap-item">
        <p class="jobs__city">Kyiv</p>
        <!-- /.jobs__city -->
        <button class="jobs__btn"></button>
    </div>
    <!-- /.jobs__wrap-item -->
</div>
<!-- /.jobs__item -->
<div data-city="kyiv" data-id="5" class="jobs__item job-cont active j-open">
    <h3 class="jobs__position">Associate (Tax practice)</h3>
    <!-- /.jobs__position -->
    <div class="jobs__wrap-item">
        <p class="jobs__city">Kyiv</p>
        <!-- /.jobs__city -->
        <button class="jobs__btn"></button>
    </div>
    <!-- /.jobs__wrap-item -->
</div>
<!-- /.jobs__item -->
