

// .jobs__item

&__item {
    @extend %jobs;
}

// .jobs__position

&__position {
    @extend %minion-regular;
    @extend %fz-24;
    @extend %lh-32;
    @extend %ls-2;
    // text-transform: capitalize;
}

// .jobs__wrap-item

&__wrap-item {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 124px;
}

// .jobs__city

&__city {
    @extend %minion-regular;
    @extend %fz-18;
    @extend %lh-24;
    @extend %ls-2;
    color: $gray;
    padding-left: 30px;
}

// .jobs__btn

&__btn {
    @extend %btn-cards-plus;
}