// .jobs__title

&__title {
    @extend %h2-title-inside;
}

// .jobs__tabs

&__tabs {
    @extend .insights__tabs;
    padding-right: 0;
}

// .jobs__tab-title

&__tab-title {
    @extend .insights__tab-title;
}

// .jobs__tab-link

&__tab-link {
    @extend .insights__tab-link;
}