.topics-sect {
    padding-bottom: 120px;
}

.topics {
    // .topics__title
    &__title {
        @extend %h2-title-inside;
        margin-bottom: 66px;
    }
    // .topics__wrap
    &__wrap {
        @extend %card-tags-items;
        max-width: 100%;
    }
    // .topics__item
    &__item {
        height: 47px;
        margin-right: 23px;
        margin-bottom: 24px;
        a {
            padding: 5px 24px;
            line-height: 37px !important;
        }
    }
}