.search-bar {

    // .search-bar__main-input

    &__main-input {
        @extend %serch-wrapper;
        margin-bottom: 24px;
    }

    // .search-bar__input

    &__input {
        @extend %input;
        width: 100%;
    }

    // .search-bar__submit

    &__submit {
        @extend %serch-bth;
        width: 96px;
    }

    // .search-bar__wrapper

    &__wrapper {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
    }

    // .search-bar__wrap-select

    &__wrap-select {
        @extend %select-wrapper;
        width: 389px;
        &_ins {
            width: 592px;
        }
    }

    // .search-bar__select

    &__select {
        @extend %select-styling;
    }
}
