.search-criteria {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    &-sect {
        padding-top: 100px;
    }
    // .search-criteria__wrap-filters

    &__wrap-filters {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
    }

    // .search-criteria__text

    &__text {
        @extend %search-filters-text;
    }

    // .search-criteria__filters

    &__filters {
        @extend %df;
        @extend %aic;
        @extend %jcsb;
        margin-left: 18px;
    }


    // .search-criteria__item
    &__item {
        position: relative;
        @extend %df;
        @extend %aic;
        background-color: $soft_blue;
        padding: 6px 10px 6px 12px;
        margin-right: 14px;
    }

    // .search-criteria__label

    &__label {
        @extend %search-filters-text;
    }

    // .search-criteria__delite

    &__delite {
        position: relative;
        margin-left: 4px;
        margin-top: 4px;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        &:hover {
            &:after,
            &:before {
                background-color: $hard_blue;
            }
        }
        &:after,
        &:before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            width: 9px;
            height: 2px;
            background-color: $black;
            transition: all 1s ease;
        }
        &:after {
            transform: rotate(87deg);
        }
    }

    // .search-criteria__clear

    &__clear {
        @extend %search-filters-clear;
    }

    // .search-criteria__maches

    &__maches {
        @extend %select;
    }

    // .search-criteria__count

    &__count {}
}
