.search-law {
    @extend %dg;
    grid-template-columns: width(280) width(280) width(280) width(280);
    grid-column-gap: 32px;
    grid-row-gap: 48px;
    // .search-law__lawyer
    &-sect {
        padding-top: 62px;
        padding-bottom: 143px;
    }
    &__lawyer {
        position: relative;
        min-height: 310px;
    }

    // .search-law__wrap-img

    &__wrap-img {
        max-width: 176px;
        img {
            width: 176px;
        }
    }

    // .search-law__content

    &__content {
        margin-top: 16px;
    }

    // .search-law__name

    &__name {
        
    }

    // .search-law__name-link

    &__name-link {
        @extend %cart-writer-name;
        @extend %hover-name;
        transition: all 1s ease;
    }

    // .search-law__position

    &__position {
        margin-top: 2px;
        margin-bottom: 42px;
        @extend %cart-writer-positions;
        span {
            display: inline-block;
        }
    }

    // .search-law__pos-item

    &__pos-item {
        
    }

    // .search-law__btns

    &__btns {
        position: absolute;
        bottom: 0;
        left: 0;
        @extend %df;
    }

    // .search-law__v-card

    &__v-card {
        @extend %v-card;
        margin-right: 16px;
    }

    // .search-law__pdf

    &__pdf {
        @extend %layer-card-pdf;
    }
}

.layers {

    // .layers__svg

    &__svg {}

    // .layers__path

    &__path {}
}
.search-ins {
    @extend %grid-for-card;
    grid-row-gap: 32px;
    height: auto;
    max-height: 1618px;
    overflow: hidden;
    transition: max-height 1.5s ease;
    margin-bottom: 70px;
    &-sect {
        padding-top: 62px;
        padding-bottom: 87px;
    }
}