@media screen and (max-width: 500px) {
    .job-about__wrap_right {
        padding-right: 0;
    }
    .nav-burger {
        margin-left: 25px;
    }
    .nav-search {
        width: 308px;
        margin-left: -288px;
    }
    .offer {
        width: 100%;
    }
    .offer__title {
        font-size: rem(43);
    }
    .offer__contact {
        padding-left: 0;
    }
    .header-hero {
        &::after {
            display: none;
        }
    }
    .mob-scroll {
        max-height: 400px;
        // overflow: hidden;
        .simplebar-track.simplebar-horizontal {
            background-color: $white;
        }
    }
    .contact-hero {
        &__list {
            width: 280px;
            font-size: rem(16);
        }
        &__hero {
        }
        &__op {
            width: 230px;
        }
    }
    .header-hero {
        &__img {
            display: none;
        }
        .h-social {
            &__item {
                box-shadow: $black_05 0px 0px 0px 1px inset;

                &:after,
                &:before {
                    border-width: 1px;
                    background-color: $black_05;
                }
            }

            &__link {
                svg {
                    path {
                        fill: $black_05;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: $black;
                        }
                    }
                }
            }
        }
    }
    .offer {
        &__title,
        &__contact {
            color: $black;
        }
        &__contact {
            &:after {
                background-color: $black;
            }
        }
    }
    .find-prof {
        &__title {
            color: $black;
        }
    }
   .home .nav-mob {
        padding-top: 42px;
        // padding-top: 20px;
        // padding-bottom: 0;
        // background-color: $white;
        &.sticky {
            padding-top: 20px;
        }
    }
    .header-inside_article {
        min-height: 375px;
        padding-bottom: 50px;   
    }
    .place-map {
        padding-top: 103px;
    }
}