@media screen and (max-width: 399px) {
    .article-sect {
        .article-content {
            overflow: hidden;
        }
    }
    .header {
        &-wrap {
            &_1 {
                padding-top: 170px;
            }
            &_2 {
                padding-top: 93px;
                padding-bottom: 79px;
                padding-right: 13px;
                padding-left: 13px;
            }
        }
    }
    .offer {
        &__title {
            padding-left: 13px;
            letter-spacing: 0.02em;
            margin-bottom: 57px;
        }
        &__contact {
            font-size: rem(14);
            width: 107px;
            &:after {
                margin-top: 2px;
            }
        }
    }
    .nav-search {
        width: 218px;
        margin-left: -202px;
    }
    .footer {
        .h-social {
            padding: 0;
            justify-content: flex-start;
        }
    }
    .h-social {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
        &__item {
            width: 85px;
            height: 85px;
        }
    }
    .insights {
        &__wrap {
            &_top {
                margin-bottom: 32px;
            }
            &-date {
                margin-bottom: 5px;
            }
        }
        &__title {
            padding-left: 13px;
        }
        &__card {
            width: 288px;
            height: 447px;
            &-content {
                padding: 23px 14px 0px 24px;
                margin-bottom: 49px;
            }
            &-title {
                line-height: 28px;
            }
        }
        &__link {
            font-size: rem(14);
            padding-left: 24px;
            height: 48px;
            &:after {
                bottom: 48px;
                left: 21px;
                width: 241px;
            }
        }
    }
    .find-prof {
        &__title {
            font-size: rem(26);
            padding-right: 15px;
            margin-bottom: 15px;
        }
        &__btn {
            width: 27%;
        }
    }
    .home-insights {
        padding-top: 90px;
        padding-bottom: 87px;
    }
    .expertise {
        &__tabs-title {
            padding: 0 15px;
        }
        &__wrap {
            &-title {
                margin-bottom: 32px;
            }
        }
        &__title {
            padding-left: 14px;
        }
        &__tab-title {
            font-size: rem(14);
        }
    }
    .hero-about {
        &__link {
            font-size: rem(14);
            width: 107px;

            &:after {
                margin-top: 2px;
            }
        }
        &__wrap {
            &_text {
                padding: 0 12px;
                margin-top: 32px;
                margin-bottom: 34px;
            }
        }
        &__text {
            font-size: rem(16);
            line-height: 24px;
        }
        &-sect {
            padding-top: 90px;
            padding-bottom: 104px;
        }
    }
    .recognition {
        &-sect {
            padding-top: 86px;
            padding-bottom: 35px;
            .swiper-wrapper {
                padding-bottom: 50px;
            }
        }
        &__title {
            padding-left: 13px;
            margin-bottom: 0;
        }
    }
    .key-law {
        &__title {
            padding-left: 13px;
            margin-bottom: 34px;
        } 
    }
    .contact-hero {
        &-sect {
            padding-top: 96px;
            padding-bottom: 101px;
        }
        &__title, &__wrap-text {
            padding: 0 10px;
        }
        &__wrap-text {
            margin-top: 14px;
            margin-bottom: 17px;
        }
    }
    .footer {
        padding-top: 105px;
        padding-left: 17px;
        &__logo-link {
            margin-bottom: 12px;
        }
        &__wrap-qu {
            margin-top: 13px;
        }
    }
    .header-inside {
        &_people {
            height: 696px;
        }
    }
}
@media screen and (max-width: 450px) {
    .modal-job__offers,
    .modal-job__wrap_right {
        display: none;
    }
    .achivs__link span::after,
    .insights__link span::after {
        margin-top: 0;
        bottom: 20px;
    }
    .achivs__link span::before,
    .insights__link span::before {
        bottom: 25px;
    }
    .expertise__item a::after,
    .footer__item_qu a::after,
    .modal-ex__item a::after {
        margin-top: -5px;
    }
    .modal-job__wrapper,
    .modal-job__wrap,
    .sub-practice__wrapper,
    .sub-practice__wrap {
        height: 75vh !important;
    }
    .sub-practice__wrapper,
    .modal-job__wrapper {
        &.scroll-cont {
            padding-right: 10px;
        }
    }
    .lawyer-ab__ps-title:after {
        width: 95%;
    }
}