@media screen and (max-width: 767px) {
    %h2-fz {
        font-size: rem(26);
    }
    .logo {
        position: relative;
        z-index: 10;
        transition: all 1s ease;

        &.hide {
            z-index: 0;
            opacity: 0;
        }
    }
    .find-prof__btn {
        width: 17%;
    }
    .header-page {
        &__title {
            font-size: rem(32);
            line-height: rem(40);
        }
    }
    .breadcrumbs {
        &__item {
            font-size: rem(10);
        }
    }
    .nav-search {
        width: 268px;
        margin-left: -263px;
    }
    .header-lang {
        display: none;
    }
    .header-hero {
        &::after {
            width: 630px;
            height: 963px;
        }
    }
    .offer {
        padding-left: 0;
        display: block;
        &__title {
            margin-bottom: 50px;
            line-height: rem(56);
        }
        &__contact {
            width: 165px;
            margin: 0 auto;
        }
    }
    .find-prof {
        &__btn {
            width: 12%;
        }
    }
    
    .insights,
    .achivs {
        &__content {
            height: auto;
        }
        &__tab-wrap {
            grid-template-columns:1fr;
            grid-row-gap: 32px;
            margin: 0 auto;
            &:first-child {
                position: relative;
            }
        }
        &__card {
            margin: 0 auto;
            height: 500px;
            &_event {
                .insights {
                    &__text {
                        font-size: rem(16);
                    }
                }
            }
        }
    }
    .expertise {
        &__tabs {
            display: block;
        }
        &__wrap-cont  {
            height: 210px;
        }
    }
    .hero-about {
        &__wrap {
            padding: 0;
        }
    }
    .layers {
        grid-template-columns: 1fr;
        &__wrap_img {
            height: auto;
        }
        &__item {
            width: fit-content;
        }
    }
    .contact-hero {
        padding: 0;
        &__title {
            font-size: rem(36);
        }
    }
    .footer {
        &__wrap {
            display: block;
        }
        &__quick {
            padding: 0;
            margin: 50px 0;
        }
        &__wrap_qu {
            padding-right: 0;
            .footer__wrapper {
                display: block;
            }
        }
        &__item_wrp {
            display: block;
        }
        &__wrap_bot {
            flex-direction: column;
        }
        &__other {
            order: -1;
            margin-bottom: 20px;
        }
        &__wrapper {
            padding: 0;
            &:last-child {
                padding: 0;
            }
        }
        &__social {
            display: block;
        }
    }
    .modal-ex {
        &__wrap {
            &-title {
                margin-top: 20px;
                margin-bottom: 40px;
            }
            &-cont {
                max-height: 350px;
            }
        }
        &__title {
            font-size: rem(32);
        }
    }
    .search-criteria {
        &__wrap-filters {
            display: block;
        }
        &__text {
            display: none;
        }
        &__filters {
            justify-content: center;
            width: 100%;
            margin-left: 0;
        }
        &__clear {
            display: block;
            margin: 0 auto;
        }
    }
    .search-law {
        grid-template-columns: 1fr;
        &__lawyer {
            width: 347px;
            margin: 0 auto;
        }
    }
    .search-ins {
        grid-template-columns: 1fr;
        max-height: 100%;
        .insights__card {
            margin: 0 auto;
        }
    }
    .modal-job__item,
    .sub-practice__item {
        min-width: 495px;
    }
    .sub-practice__wrapper {
        position: relative;
    }
    .sub-practice__wrap {
        height: auto;
    }
    .sub-practice__title {
        font-size: rem(32);
    }
    .sub-practice__text-content {
        ul {
            li {
                font-size: rem(18);
            }
        }
    }
    .service {
        grid-template-columns: 1fr;
    }
    .topics {
        &__item {
            margin-right: 8px;
            margin-bottom: 10px;
        }
    }
    .subscribe__wrap-text {
        padding: 0px 0;
    }
    .modal-sub {
        &__wrap-input {
            height: auto;
            flex-direction: column;
            justify-content: center;
        }
        &__wrap-radio {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }
        &__item {
            // display: inline-block;
            min-width: 160px;
            // margin: 0 auto;
            margin-right: 0;
            margin-bottom: 8px;
            &:nth-child(5) {
                margin-right: 0;
            }
            &:nth-child(6) {
                .modal-sub__text {
                    &:after {
                        top: 15px;
                    }
                }
            }
            &:last-child {
                .modal-sub {
                    &__label {
                        align-items: flex-start;
                    }
                }
                .tooltip {
                    width: 20px;
                    height: 20px;
                    margin-top: 10px;
                    margin-left: 0;
                }
            }
        }
        .tooltip {
            // width: 20px;
            // height: 20px;
            &-content {
                transform: translateX(-86%);
            }
        }
        &__label {
            display: flex;
            align-items: center;
            justify-content: space-between;
        } 
        &__wrapper-inp {
            height: 56px;
            
            &.wr-1 {
                margin-bottom: 15px;
            }
            &.wr-1, &.wr-2 {
                margin-left: 0;
                margin-right: 0;
                max-width: 100%;
            }
        }
        // &__input {
        //     // display: block;
        //     height: 56px;
        //     &:nth-child(1) {
        //         margin-bottom: 15px;
        //     }
        //     &:nth-child(1),
        //     &:nth-child(2) {
        //         margin-left: 0;
        //         margin-right: 0;
        //         max-width: 100%;
        //     }
        // }
        &__text {
            display: block;

        }
        &__btn {
            // display: block;
            margin: 0 auto;
            margin-top: 24px;
            height: 56px;
        }
    }
    .modal-sub__wrapper-inp .error-data {
        font-size: rem(10);
        bottom: -15px;
    }
    .touch__wrapper {
        width: auto;
    }
    .achivs {
        &__title {
            @extend %h2-fz;
        }
        &__content {
            max-height: 1034px;
            &.open {
                max-height: 100%;
            }
        }
    }
    .about-contact-sect .contact-hero {
        padding: 0px 0;
    }
    .contact-hero {
        padding: 0;
        &__title {
            font-size: rem(26);
        }
        &__text {
            font-size: rem(18);
        }
    }
    
    .article__block-quote blockquote,
    .quote-career__quote,
    .article__block-text blockquote {
        padding-left: 32px;
    }
    .article__block-video {
        iframe {
            min-height: 250px;
        }
    }
    .article__block-quote blockquote::before,
    .quote-career__quote::before,
    .article__block-text blockquote::before {
        display: none;
    }
    .quote-career__title,
    .jobs__title,
    .footer__title {
        font-size: rem(26);
    }
    .jobs__wrap_bot {
        grid-template-columns: 1fr;
    }
    .job-about__wrap_main {
        display: block;
    }
    .about-contact-sect .contact-hero__title,
    .achivs__title,
    .approach__title,
    .footer__link,
    .header-page__title_article,
    .home-insights_single-practice .insights__title,
    .job-about__title,
    .jobs__title,
    .key-law_single-practice .key-law__title,
    .lawyer-ab__text-content h2,
    .lawyer-ab__text-content ul li,
    .modal-ex__link,
    .modal-ex__title,
    .overview-sect__title,
    .policy__content h2,
    .quote-career__title,
    .recognition-sect_about-page .recognition__title,
    .recognition-sect_trusted .recognition__title,
    .rep-cases__title,
    .reviews__title,
    .service-sect__title,
    .sub-practice__title,
    .subscribe__title,
    .topics__title,
    .touch__title, {
        font-size: rem(26);
    }
    .job-about__wrap_left .job-about__content::after {
            display: none;
        // }
    }
    .article__block-text h2,
    .article__block-intro h2,
    .article__block-quote h2,
    .article__block-text tr:first-child td {
        font-size: rem(20);
    }
    .expertise__link,
    .article__block-quote h3,
    .article__block-text h3,
    .article__block-intro h3,
    .sub-practice__text-content ul li,
    .lawyer-ab__ps-item,
    .achivs__card-title,
    .approach__wrap_right p,
    .article .event__title,
    .article__block-quote blockquote p,
    .article__block-text p,
    .article__cl-title,
    .contact-hero__text,
    .hero-about__text,
    .article__cl-link,
    .insights__card-title,
    .job-about__content p,
    .jobs__position,
    .lawyer-ab__ps-title,
    .lawyer-ab__text-content p,
    .lawyer-ab__wrap-name-pos h2 a,
    .mod-menu__name,
    .modal-job__text-content p,
    .modal-sub__text,
    .overview .event__title,
    .overview__wysiwyg p,
    .policy__content p,
    .quote-career__quote p,
    .article__block-text blockquote p,
    .rep-cases__content p,
    .review__content p,
    .review__firm,
    .service__title,
    .sub-practice__text-content p,
    .rep-cases__subtitle,
    .error-page__text,
    .subscribe__text,
    .search-res-main__text,
    .not-found,
    .article__block-text ol li,
    .article__block-text ul li,
    .article__block-text tr td {
        font-size: rem(18);
    }
    .achivs__wrap-date,
    .article__block-quote h2 span,
    .article__block-text h2 span,
    .article__cl-num,
    .article__topic-text,
    .article__wrap-date,
    .breadcrumbs span,
    .breadcrumbs a,
    .bullet,
    .find-prof__input,
    .footer__copy_text,
    .footer__link-pl,
    .insights__wrap-date,
    .lawyer-ab__pdf,
    .lawyer-ab__v-card,
    .layers__pdf,
    .layers__v-card,
    .menu__wrapper li a,
    .mod-menu__label,
    .modal-sub__input,
    .nav-search__input,
    .overview__pdf,
    .overview__print span,
    .overview__sh-btn span,
    .overview__v-card,
    .search-bar__input,
    .search-bar__select,
    .search-criteria__label,
    .search-criteria__maches,
    .search-criteria__text,
    .search-law__pdf,
    .search-law__v-card,
    .seo-text__text,
    .seo-text__title,
    .touch__input,
    .layers__linked {
        font-size: rem(10);
    }
    .error-page__title {
        font-size: 10rem;
    }
    .modal-job__text-content ul li {
        font-size: rem(15);
        line-height: rem(40);
        &:after {
            top: 0;
            margin-top: 25px;
        }
    }
    .modal-job__text-content h3, 
    .sub-practice__text-content h3,
    .modal-job__title,
    .approach__text-intro,
    .search-res-main__title {
        font-size: rem(22);
    }
    .footer__link {
        font-size: rem(20);
    }
    .topics__wrap li a {
        font-size: rem(12);
    }
    .article__cl-wrap li {
        display: flex;
        align-items: center;
    }
    .article__block-intro p {
        font-size: rem(22);
    }
    .article__block-quote h2 span,
    .article__block-text h2 span,
    .article__block-intro h2 span {
        min-width: 50px;
        display: inline-block;
        padding-top: 2px;
        font-size: rem(14);
    }
    .article__block-text ol li,
    .article__block-text ul li {
        margin-bottom: 10px;
        border-bottom: 1px solid $black_01;
        span {
            display: none;
        }
    }
    .article__block-text ol,
    .article__block-text ul {
        padding-left: 0;
    }
    .swiper-container.slider_article .slider__item,
    .atl-slide,
    .atl-slide__wrap-img,
    .atl-slide__wrap-img img,
    .swiper-container.slider_article {
        height: 320px;
    }
    .article__block-quote h2,
    .article__block-text h2 {
        display: flex;
        align-items: flex-start;
        line-height: rem(28);
    }
    .overview__wrap-head-main {
        display: block;
    }
    .overview__wrap-about {
        margin-left: 0;
    }
    .modal-job__wrap,
    .modal-job__wrapper {
        height: 392px;
    }
    .sub-practice__wrap,
    .sub-practice__wrapper {
        height: 512px !important;
    }
    .sub-practice__wrap_right {
        height: auto;
    }
    .sub-practice__wrap {
        padding-top: 0;
    }
    .jobs__tabs {
        display: none;
    }
    .insights__title,
    .expertise__title,
    .contact-hero__title,
    .key-law__title,
    .recognition__title,
    .hero-about__title,
    .modal-sub__title    {
        font-size: rem(32);
    }
    .modal-sub__title {
        margin-bottom: 18px;
    }
    .modal-ex {
        &__wrap-cont {
            height: 290px;
            width: 96%;
        }
    }
    .overview__wrap-about {
        padding-right: 40px;
    }
    .modal-job__item,
    .sub-practice__item {
        min-width: 390px;
    }
    .lawyer-ab__wrap-about {
        display: block;
    }
    .lawyer-ab {
        &__ wrapper {
            padding-right: 50px;
        }
        &__text-content {
            padding-top: 800px;
        }
        &__pract-sect {
            padding-right: 0;
        }
    }
    .rep-cases {
        &__content {
            padding: 40px 30px 31px;
        }
        &__subtitle {
            padding-left: 24px;
            font-family: 'MinionPro-Regular', sans-serif;
            align-items: flex-start;
            i {
                top: 35px;
            }
        }
    }
    .aw-slide__text {
        font-size: rem(12);
    }
    .layers__name {
        font-size: rem(22);
        margin-top: 15px;
        // line-height: rem(32)
    }
    .lawyers__item {
        height: 442px;
    }
    .lawyers {
        margin-left: -8px;
        grid-row-gap: 32px;
    }
    .achivs__more,
    .insights__more,
    .key-law__btn,
    .modal-sub__btn,
    .overview__print,
    .service__more,
    .subscribe__btn,
    .touch__btn,
    .article .event__btn,
    .contact-hero__btn,
    .overview .event__btn,
    .error-page__btn {
        font-size: rem(14);
    }
    .contact-hero__title {
        font-size: rem(32);
        line-height: rem(40)
    }
    .mod-menu {
        width: 100%;
        &__close {
            right: 20px;
        }
        &__social {
            display: none;
        }
        &__name {
            font-size: rem(22);
        }
    }
    .modal-nav__wrap_btn {
        margin-right: 10px;
    }
    .modal-ex {
        &__wrap {
            &-cont {
                height: 170px;
                padding-bottom: 10px;
            }
            &-title {
                margin-bottom: 25px;
            }
        }
        &__tabs-title {
            margin-bottom: 15px;
        }
    }
    .search-law {
        &__position {
            font-size: rem(16);
        }
        &__name-link {
            font-size: rem(22);
        }
        &__position {
            span {
                display: block; 
            }
        }
    }
    .overview {
        &__head, &__tags {
            padding: 40px 0px 60px 40px;
        }
    }
    .article__wrap_left {
        padding-right: 0;
    }

    .sub-practice__content {
        padding-top: 40px;
    }
    .contact-map__block {
        width: 325px;
        left: 10px;
    }
    .contact-map__info {
        padding-left: 46px;
    }
    .insights__title {
        padding-left: 13px;
    }
    .coockies {
        &-block {
            display: block;
            height: 133px;
        }
        &__text {
            text-align: center;
            font-size: rem(10);
            margin-bottom: 29px;
            br {
                display: none;
            }
        }
        &__wrap {
            display: block;
            padding: 17px 16px 0;
        }
        &__btn {
            width: 132px;
            height: 48px;
            font-size: 10px;
            margin: 0 auto;
        }
    }
    .lawyer-ab__pract-sect {
        padding: 65px 0 51px 23px;
    }
    .modal-sub__wrap-radio {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 235px;
    }
    .search-law__v-card,
    .layers__v-card {
        display: none;
    }
    .article__topic-wrapper li a {
        font-size: rem(10);
    }
    .dow-info {
        display: flex;
        margin-bottom: 60px;
    }
    .contact-map__wrapper .overview__print {
        display: flex;
    }
    // .search-law__lawyer {
    //     height: 397px;
    // }
    // .layers__item {
    //     height: 430px;
    //     min-height: 430px;
    // }
    .overview__sh-main {
        span {
            transform: translateX(-17px) translateY(-26px);
        }
        ul {
            @for $i from 1 through 3 {
                li:nth-child(#{$i}) {
                    z-index: 2;
                    opacity: 1;
                    transform: rotate(0deg);
                    transition-delay:#{$i*0.08}s;
                }
            }
            li {
                &:nth-child(1) {
                    left: 0;
                }
                &:nth-child(2) {
                    left: 38px;
                }
                &:nth-child(3) {
                    left: 38 + 38 + px;
                }
            }
        }
    }
    .overview__tags {
        margin-bottom: 10px;
    }
    // .h-social {
    //     flex-wrap: wrap;
    //     &__item {
    //         width: 90px;
    //         height: 90px;
    //     }
    // }
    .article__date-topic {
        display: block;
    }
    .article__wrap-date {
        margin-bottom: 24px;
    }
}
