.article-content {}

.lawyer-ab {
    @extend %dg;
    grid-template-columns: width(728, 1329) width(578, 1329);
    grid-column-gap: 24px;
    grid-row-gap: 33px;

    // .lawyer-ab-sect
    &-sect {}

    // .lawyer-ab__wrap

    &__wrap {

        // .lawyer-ab__wrap_left

        &_left {}

        // .lawyer-ab__wrap_right

        &_right {}
    }

    // .lawyer-ab__text-content
    &__text-content {
        margin-left: -4px;
        padding-top: 94px;
        padding-right: 25px;
        p {
            @extend %read-text;
            @extend %link-in-text;
            margin-bottom: 33px;
        }
        h2 {
            @extend %h2-title-inside;
            margin-bottom: 33px;
        }
        h3 {
            @extend %h3-content-title;
            margin-bottom: 20px;
        }
        ul,ol {
            padding-left: 32px;
            margin-bottom: 33px;
            &:last-child {
                margin-bottom: 0;
            }
            li {
                @extend %modal-list-item;
                @extend %after-block-list-item;
            }
        }
    }
}
.lawyer-ab {
    // .lawyer-ab__law

    &__law {
        position: relative;
        background-color: $soft_blue;
        padding-top: 151px;
        padding-left: 54px;
        padding-bottom: 72px;
    }

    // .lawyer-ab__wrap-head-main

    &__wrap-head-main {
        max-width: 354px;
    }

    // .lawyer-ab__wrap-img

    &__wrap-img {
        position: absolute;
        top: -146px;
        left: 54px;
        max-width: 280px;
        height: 268px;
        overflow: hidden;
        img {
            max-width: inherit;
            width: inherit;
            height: inherit;
        }
    }

    // .lawyer-ab__wrap-about

    &__wrap-about {}

    // .lawyer-ab__wrap-name-pos

    &__wrap-name-pos {
        @extend %card-wrap-name-position-lawyer-page;
        margin-top: 0;
    }

    // .lawyer-ab__name

    &__name {}

    // .lawyer-ab__name-link

    &__name-link {}

    // .lawyer-ab__position

    &__position {}

    // .lawyer-ab__wrap-cont

    &__wrap-cont {
        @extend %lawyers-contact;
    }

    // .lawyer-ab__item-cont

    &__item-cont {
        // .lawyer-ab__item-rec_title

        &_title {
            @extend %card-contacts-title;
            margin-bottom: 13px !important;
            padding: 0 !important;
        }
    }

    // .lawyer-ab__btns

    &__btns {
        @extend %df;
    }

    // .lawyer-ab__v-card

    &__v-card {
        @extend %v-card;
        margin-right: 17px;
    }

    // .lawyer-ab__svg

    &__svg {}

    // .lawyer-ab__path

    &__path {
        fill: $black;
    }
    // .lawyer-ab__cont-svg

    &__cont-svg {}

    // .lawyer-ab__cont-path
    
    &__cont-path {
        fill: $black_03;
    }

    // .lawyer-ab__pdf

    &__pdf {
        @extend %layer-card-pdf;
    }
}
.lawyer-ab {

    // .lawyer-ab__pract-sect

    &__pract-sect {
        @extend %card-wrap-main;
        padding: 65px 0px 51px 53px;
        margin-top: 23px;
    }

    // .lawyer-ab__ps-wrapper

    &__ps-wrapper {}

    // .lawyer-ab__ps-title

    &__ps-title {
        position: relative;
        @extend %lawyer-page-name;
        padding-bottom: 18px;
        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 320px;
            height: 1px;
            background-color: $hard_blue-01;
            bottom: 0;
            left: 0;
        }
    }

    // .lawyer-ab__ps-list

    &__ps-list {
        position: relative;
        margin-top: 14px;
        padding-left: 25px;
        width: 385px;
        height: 126px;
        .simplebar-track.simplebar-horizontal {
            background-color: $white;
        }
    }

    // .lawyer-ab__ps-item

    &__ps-item {
        position: relative;
        @extend %interactive-link;
        @extend %card-lawyers-practice-sectors-items;
        a {
            color: $black;
            &:after {
                left: -24px;
            }
        }
    }

    // .lawyer-ab__pr-wrapper

    &__pr-wrapper {}
}