<div class="article__date-topic">
    <div class="article__wrap-date">
        <span class="article__date">08 June 2019</span>
        <span class="article__type">- News</span>
    </div>
    <div class="article__wrap-topic">
        <p class="article__topic-text">Topic</p>
        <ul class="article__topic-wrapper">
            <li class="article__topic-item">
                <a href="" class="article__topic-link">
                    <span>Intellectual property</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="article__content-list">
    <p class="article__cl-title">Contents</p>
    <ol class="article__cl-wrap">
        <li class="article__cl-item">
            <span class="article__cl-num cl-num"></span>
            <!-- /.article__cl-num -->
            <a href="#1" class="article__cl-link achor-atc">
                <span>Intro</span>
            </a>
        </li>
        <li class="article__cl-item">
            <span class="article__cl-num cl-num"></span>
            <!-- /.article__cl-num -->
            <a href="#2" class="article__cl-link achor-atc">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
            </a>
        </li>
        <li class="article__cl-item">
            <span class="article__cl-num cl-num"></span>
            <!-- /.article__cl-num -->
            <a href="#3" class="article__cl-link achor-atc">
                <span>Sed do eiusmod tempor</span>
            </a>
        </li>
        <li class="article__cl-item">
            <span class="article__cl-num cl-num"></span>
            <!-- /.article__cl-num -->
            <a href="#4" class="article__cl-link achor-atc">
                <span>Minim veniam, quis nostrud exercitation ullamco laboris nisi</span>
            </a>
        </li>
        <li class="article__cl-item">
            <span class="article__cl-num cl-num"></span>
            <!-- /.article__cl-num -->
            <a href="#5" class="article__cl-link achor-atc">
                <span>Duis aute irure dolor in reprehenderit in voluptate</span>
            </a>
        </li>
        <li class="article__cl-item">
            <span class="article__cl-num cl-num"></span>
            <!-- /.article__cl-num -->
            <a href="#6" class="article__cl-link achor-atc">
                <span>Velit esse cillum dolore eu fugiat nulla pariatur</span>
            </a>
        </li>
    </ol>
</div>
<div id="1" class="article__block-intro bl-num">
    <h2>
        Intro
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
    </p>
    
    <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<!-- /.article__block-text article__block-text_intro -->
<div id="2" class="article__block-text bl-num">
    <h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </p>
    <h3>Some h3 title</h3>
    <h4>Some h4 title</h4>
    <p>
        Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed
        velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non diam phasellus
        vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor at auctor urna nunc id cursus metus
        aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget
        duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet lectus proin nibh nisl
        condimentum id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus et
        malesuada fames.
    </p>
</div>
<!-- /.article__block-text article__block-text_intro -->
<div id="3" class="article__block-text bl-num">
    <h2>
        Sed do eiusmod tempor
    </h2>
    <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<!-- /.article__block-text -->
<div id="4" class="article__block-quote bl-num">
    <h2>
        Minim veniam, quis nostrud exercitation ullamco laboris nisi
    </h2>
    <blockquote>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Pretium vulputate sapien nec sagittis.
        </p>
    </blockquote>
</div>
<!-- /.article__block-text -->
<div id="5" class="article__block-text bl-num">
    <h2>
        Duis aute irure dolor in reprehenderit in voluptate
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
    </p>
    <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
        Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed
        velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non diam phasellus
        vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor at auctor urna nunc.
    </p>
</div>
<!-- /.article__block-text -->
<div class="swiper-container slider slider_article">
    <div class="swiper-wrapper slider__wrapper">
        <div class="swiper-slide slider__item">
            <div class="atl-slide">
                <div class="atl-slide__wrap-img">
                    <img src="img/article-img.jpg" alt="some-alt">
                </div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="atl-slide">
                <div class="atl-slide__wrap-img">
                    <img src="https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1091&q=80"
                        alt="some-alt">
                </div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="atl-slide">
                <div class="atl-slide__wrap-img">
                    <img src="https://images.unsplash.com/photo-1492252719637-c7b68468489b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                        alt="some-alt">
                </div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="atl-slide">
                <div class="atl-slide__wrap-img">
                    <img src="img/article-img.jpg" alt="some-alt">
                </div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
        <div class="swiper-slide slider__item">
            <div class="atl-slide">
                <div class="atl-slide__wrap-img">
                    <img src="https://images.unsplash.com/photo-1524654458049-e36be0721fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                        alt="some-alt">
                </div>
                <!-- /.cl-slide__wrap-img -->
            </div>
            <!-- /.cl-slide -->
        </div>
        <!-- /.swiper-slide slider__item -->
    </div>
    <div class="slider-btns slider_article__btns">
        <button class="swiper-button-prev btn-arr btn-prev">
            <svg class="slider-svg" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="slider-path"
                    d="M12 2.19758L4.54054 9.41821L12 16.6388L9.72973 18.8364L0 9.41821L9.72973 1.56462e-07L12 2.19758Z" />
            </svg>
        </button>
        <button class="swiper-button-next btn-arr btn-next">
            <svg class="slider-svg" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="slider-path"
                    d="M2.05845e-06 16.6388L7.45946 9.41821L1.57106e-06 2.19758L2.27027 2.91281e-07L12 9.41821L2.27027 18.8364L2.05845e-06 16.6388Z" />
            </svg>
        </button>
    </div>
    <div class="slider-pagin slider-pagin_article"></div>
</div>
<!-- <div class="article__block-video">
<iframe src="https://www.youtube.com/embed/cgLFTitXPdw" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->
<!-- /.article__block-video -->

<div id="6" class="article__block-text bl-num">
    <h2>
        Velit esse cillum dolore eu fugiat nulla pariatur
    </h2>
    <p>
        Lorem ipsum dolor sit amet, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum.
    </p>
    <p>
        Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc.
    </p>
</div>
<!-- /.article__block-text -->