<div class="article__date-topic article__date-topic_event">
    <div class="article__wrap-date">
        <span class="article__date">08 June 2019</span>
        <span class="article__type">- Events</span>
    </div>
</div>
<div class="article__block-intro">
    <p>
        European Business Association та GOLAW запрошують Вас на бізнес-дискусію «Практичні аспекти захисту бізнесу»,
        яка вібудеться 24 вересня у Києві.
    </p>
</div>
<!-- /.article__block-text article__block-text_intro -->
<div class="article__block-text bl-num">
    <p>
        European Business Association та GOLAW запрошують Вас на бізнес-дискусію «Практичні аспекти захисту бізнесу»,
        яка вібудеться 24 вересня у Києві.
    </p>
    <p>
       «Найкращий захист – це напад», говорить нам відоме прислів'я. Однак в умовах ведення бізнесу ми пропонуємо Вам
       скористатися нашою власною формулою успіху: найкращий захист – це знання.
    </p>
    <p>
        European Business Association та GOLAW запрошує на бізнес-дискусію - «Практичні аспекти захисту бізнесу».
    </p>
</div>
<!-- /.article__block-text -->
<div class="article__block-text bl-num">
    <h2>Спікери заходу:</h2>
    <ul>
        <li>
            Олена Сукманова, Заступник Міністра юстиції України з питань державної реєстрації
        </li>
        <li>
            Валентин Гвоздій, Заступник голови Національної асоціації адвокатів України, керуючий партнер GOLAW
        </li>
        <li>
            Альгірдас Шемета, Бізнес-омбудсмен в Україні
        </li>
        <li>
            Володимир Марченко, Президент Нотаріальної палати України
        </li>
        <li>
            Томас Сіллессен, Голова правління BIIR
        </li>
        <li>
            Марія Ніжнік, Перший заступник Голови Антимонопольного комітету України – державний уповноважений
        </li>
        <li>
            Ігор Вінницький, Радник, адвокат GOLAW
        </li>
        <li>
            Ганна Вронська, суддя Касаційного господарського суду у складі Верховного Суду
        </li>
    </ul>
</div>
<!-- /.article__block-text -->
<div class="article__block-text bl-num">
    <h2>Теми до обговорення:</h2>
    <ol>
        <li>
            Як не втратити компанію за один день - превентивні методи захисту
        </li>
        <li>
            Юридичне та фізичне захоплення. Типові схеми рейдерства
        </li>
        <li>
            Cпособи захисту на рівні держави та бізнесу - алгоритм дій
        </li>
        <li>
            Особливості кримінального провадження
        </li>
    </ol>
</div>
<!-- /.article__block-text -->