<div class="search-criteria">
    <div class="search-criteria__wrap-filters">
        <p class="search-criteria__text">Search Results for:</p>
        <!-- /.search-criteria__text -->
        <ul class="search-criteria__filters">
            <li class="search-criteria__item">
                <span class="search-criteria__label">News</span>
            </li>
            <!-- /.search-criteria__item -->
        </ul>
        <!-- /.search-criteria__filters -->
    </div>
    <!-- /.search-criteria__wrap-filters -->
    <div class="search-criteria__maches">
        <span class="search-criteria__count">11</span>
        Matching Results
    </div>
    <!-- /.search-criteria__maches -->
</div>
<!-- /.search-criteria -->